<div class="datalake-data-upload-tab">
  <div class="datalake-create-table-step">
    <mat-vertical-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index" let-active="active">
        <span *ngIf="active">
          <mat-icon>edit</mat-icon>
        </span>
        <span *ngIf="!active">{{index + 1}}</span>
      </ng-template>
      <mat-step [stepControl]="uploadStep1FormGroup">
        <ng-template matStepLabel>
          <div class="datalake-create-table-step-container">
            <span class="datalake-create-table-step-label">STEP 1</span>
            <span class="datalake-create-table-step-subtitle">TABLE CONFIGURATION</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="uploadStep2FormGroup">
        <ng-template matStepLabel>
          <div class="datalake-create-table-step-container">
            <span class="datalake-create-table-step-label">STEP 2</span>
            <span class="datalake-create-table-step-subtitle">DATA PREVIEW</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step [stepControl]="uploadStep3FormGroup">
        <ng-template matStepLabel>
          <div class="datalake-create-table-step-container">
            <span class="datalake-create-table-step-label">STEP 3</span>
            <span class="datalake-create-table-step-subtitle">PARTITION MANAGEMENT</span>
          </div>
        </ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div class="datalake-create-table-step-content">
    <ng-container *ngIf="!stepper.selectedIndex">
      <div class="datalake-create-table-content-header">
        <div class="datalake-create-table-step-title">
          <span class="datalake-create-table-step-title-label">STEP 1 - TABLE CONFIGURATION</span>
          <span class="datalake-create-table-step-description">Select the schema and table to load the data, file type
            and filename. You must specify the path in the bucket</span>
        </div>
        <div class="datalake-create-table-step-buttons">
          <button class="datalake-create-table-step-button flat-button" mat-button
            (click)="goForward(uploadStep1FormGroup, stepper)">
            NEXT
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </div>
      </div>
      <div class="datalake-create-table-input-body">
        <mat-form-field [formGroup]="uploadStep1FormGroup">
          <mat-select placeholder="Schema" autocomplete="off" formControlName="schema"
            (selectionChange)="schemaChanged()" required>
            <mat-option *ngFor="let schema of schemas" [value]="schema">
              {{schema.schemaName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="uploadStep1FormGroup.get('schema')?.invalid">You must select a schema</mat-error>
        </mat-form-field>
        <mat-form-field [formGroup]="uploadStep1FormGroup" class="datalake-create-table-input">
          <mat-select placeholder="Bucket" autocomplete="off" formControlName="bucket" required>
            <mat-option *ngFor="let bucket of currentBuckets" [value]="bucket">
              {{bucket.bucketName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="uploadStep1FormGroup.get('bucket')?.invalid">You must select a schema</mat-error>
        </mat-form-field>
      </div>
      <div class="datalake-create-table-input-body">
        <mat-form-field [formGroup]="uploadStep1FormGroup">
          <input matInput placeholder="Table Description" autocomplete="off" formControlName="tableDescription">
        </mat-form-field>
      </div>
      <div class="datalake-create-table-input-body">
        <mat-form-field [formGroup]="uploadStep1FormGroup">
          <input matInput placeholder="File Location" formControlName="fileLocation" required>
          <mat-error *ngIf="uploadStep1FormGroup.get('fileLocation')?.invalid">You must specify a file location
          </mat-error>
        </mat-form-field>
        <button class="datalake-browse-file-button flat-button" mat-button>
          Browse
        </button>
      </div>
      <div class="datalake-max-filesize-label">
        Maximum upload size: 100 MB
      </div>
    </ng-container>
    <ng-container *ngIf="stepper.selectedIndex == 1">
      <div class="datalake-create-table-content-header">
        <div class="datalake-create-table-step-title">
          <span class="datalake-create-table-step-title-label">STEP 2 - DATA PREVIEW</span>
          <span class="datalake-create-table-step-description">If the source is CSV, it allows to choose the delimiter
            chart</span>
        </div>
        <div class="datalake-create-table-step-buttons">
          <button class="datalake-create-table-step-button flat-button" mat-button
            (click)="goForward(uploadStep2FormGroup, stepper)">
            NEXT
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
          <button class="datalake-create-table-step-button flat-button" mat-button (click)="goBack(stepper)">
            <mat-icon>arrow_back_ios</mat-icon>
            BACK
          </button>
        </div>
      </div>
      <div class="datalake-create-table-input-body">
        <mat-form-field [formGroup]="uploadStep2FormGroup">
          <input matInput placeholder="Delimiter" autocomplete="off" formControlName="delimiter" required>
          <mat-error *ngIf="uploadStep2FormGroup.get('delimiter')?.invalid">You must select a delimiter</mat-error>
        </mat-form-field>
        <mat-form-field [formGroup]="uploadStep2FormGroup" class="datalake-create-table-input">
          <input matInput placeholder="Custom Delimiter" autocomplete="off" formControlName="customDelimiter" required>
          <mat-error *ngIf="uploadStep2FormGroup.get('customDelimiter')?.invalid">You must select a custom delimiter</mat-error>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-container *ngIf="stepper.selectedIndex == 2">
      <div class="datalake-create-table-content-header">
        <div class="datalake-create-table-step-title">
          <span class="datalake-create-table-step-title-label">STEP 3 - PARTITION MANAGEMENT</span>
          <span class="datalake-create-table-step-description">Create Partition Manager</span>
        </div>
        <div class="datalake-create-table-step-buttons">
          <button class="datalake-create-table-step-button flat-button" mat-button>
            FINISH
            <mat-icon>flag</mat-icon>
          </button>
          <button class="datalake-create-table-step-button flat-button" mat-button (click)="goBack(stepper)">
            <mat-icon>arrow_back_ios</mat-icon>
            BACK
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>