<div class="datalake-data-upload-tab">
  <div class="datalake-create-table-step">
    <mat-vertical-stepper [linear]="true" #stepper>
      <ng-template matStepperIcon="edit">
        <mat-icon>check</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="number" let-index="index" let-active="active">
        <span *ngIf="active">
          <mat-icon>edit</mat-icon>
        </span>
        <span *ngIf="!active">{{index + 1}}</span>
      </ng-template>
      <mat-step [stepControl]="tableConfigurationFormGroup">
        <ng-template matStepLabel>
          <div class="datalake-create-table-step-container">
            <span class="datalake-create-table-step-label">STEP 1</span>
            <span class="datalake-create-table-step-subtitle">DATA UPLOAD</span>
          </div>
        </ng-template>
      </mat-step>
      <mat-step *ngIf="selectedFileType != 'PARQUET' ">
        <ng-template matStepLabel>
          <div class="datalake-create-table-step-container">
            <span class="datalake-create-table-step-label">STEP 2</span>
            <span class="datalake-create-table-step-subtitle">DATA PREVIEW</span>
          </div>
        </ng-template>
      </mat-step>
    </mat-vertical-stepper>
  </div>
  <div class="datalake-create-table-step-content">
    <ng-container *ngIf="!stepper.selectedIndex">
      <div class="datalake-create-table-content-header">
        <div class="datalake-create-table-step-title">
          <span class="datalake-create-table-step-title-label">STEP 1 - DATA UPLOAD</span>
          <span class="datalake-create-table-step-description">To Upload a file into a table please specify the schema
            and table</span>
        </div>
        <div class="datalake-create-table-step-buttons">
          <button class="datalake-create-table-step-button flat-button" mat-button
            (click)="goForward(tableConfigurationFormGroup,uploadFileFormGroup, stepper)" 
            *ngIf="selectedFileType != 'PARQUET'">
            NEXT
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
          <button (click)="dataUpload()" class="datalake-create-table-step-button flat-button" 
          mat-button *ngIf="selectedFileType === 'PARQUET'">
            FINISH
            <mat-icon>flag</mat-icon>
          </button>
        </div>
      </div>
      <div class="datalake-create-table-input-body align-items-center">
        <mat-form-field class="datalake-create-table-input-body-left" [formGroup]="tableConfigurationFormGroup">
          <mat-select placeholder="Schema Name" autocomplete="off" formControlName="schema"
            (selectionChange)="schemaChanged()" required>
            <mat-option *ngFor="let schema of schemas" [value]="schema">
              {{schema.schemaName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tableConfigurationFormGroup.get('schema')?.invalid">You must select a schema</mat-error>
        </mat-form-field>
        <mat-form-field class="datalake-create-table-input-body-right" 
        [formGroup]="tableConfigurationFormGroup">
          <mat-select placeholder="Table Name" autocomplete="off" formControlName="table" required 
          (selectionChange)="tableChanged()">
            <ngx-mat-select-search [formControl]="tableFilterCtrl" placeholderLabel="Search"
              noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
            <mat-option *ngFor="let table of filteredTables | async" [value]="table">
              {{table.TableName}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="tableConfigurationFormGroup.get('table')?.invalid">You must select a table</mat-error>
        </mat-form-field>
      </div>
      <div class="datalake-upload-table-input-body ">
        <div [style.margin-bottom.px]="3"><span>Bucket: </span><span class="datalake-upload-span">{{bucket}}</span></div>
        <div [style.margin-bottom.px]="3"><span>File Type: </span><span class="datalake-upload-span">{{selectedFileType}}</span></div>
        <div [style.margin-bottom.px]="3"*ngIf="selectedFileType != 'PARQUET'" >
          <span>Delimiter: </span><span class="datalake-upload-span">{{selectedDelimiterAndSimbol()}}</span></div>
      </div>
      <div class="datalake-upload-table-input-body">
        <mat-form-field class="datalake-create-table-input"
          [formGroup]="tableConfigurationFormGroup">
          <input matInput placeholder="File Location - Where do you want to store your file? " autocomplete="off"
            formControlName="tableLocation" required>
          <mat-error *ngIf="tableConfigurationFormGroup.get('tableLocation')?.invalid">You must specify table location
          </mat-error>
        </mat-form-field>
          <div class="datalake-upload-table-partitions">
            <span [style.margin-right.px]="15">Partition(s): </span>
            <mat-chip-list *ngFor="let Partition of Partitions">
                <mat-chip class="datalake-upload-table-chips" >{{Partition.PartitionName}}</mat-chip>
            </mat-chip-list>
          </div>
          <span class="datalake-upload-table-partitions-hint">Example of File Locations <br> If the table have: "year", "month", "day" a valid file location
          would be 2019/12/01. Paritions: "airport","airline" a valid File Location would be AA/JFK</span>        
      </div>
      <div class="datalake-create-table-input-file-picker-upload">
        <span class="datalake-file-picker-label datalake-upload-table-input-body-left">Filename *:</span>
        <div class="datalake-upload-table-input-body-right">
          <mat-form-field class="datalake-file-input" [formGroup]="uploadFileFormGroup">
            <input hidden matInput formControlName="fileName" required>
            <span>{{uploadFileFormGroup.get('fileName').value}}</span>
          </mat-form-field>
          <input hidden type="file" accept="{{getAcceptedFileFormat()}}" #uploader (change)="uploadFile($event,1)">
          <button class="datalake-browse-file-button flat-button" mat-button (click)="browseFile(uploader)">
            Browse
          </button>
        </div>
      </div>
      <div class="datalake-max-filesize-label">
        Maximum upload size: 100 MB<span *ngIf="targetFileSize">, Uploaded file size: {{targetFileSize}}</span>
      </div>
      <mat-progress-bar *ngIf="fileLoading" class="datalake-create-table-progress" mode="indeterminate">
      </mat-progress-bar>
    </ng-container>

    <ng-container *ngIf="(stepper.selectedIndex === 1)">
      <div class="datalake-create-table-content-header">
        <div class="datalake-create-table-step-title">
          <span class="datalake-create-table-step-title-label">STEP 2 - DATA PREVIEW</span>
          <span class="datalake-create-table-step-description">View data contained in the file.</span>
        </div>
        <div class="datalake-create-table-step-buttons">
          <button (click)="dataUpload()" class="datalake-create-table-step-button flat-button" mat-button>
            FINISH
            <mat-icon>flag</mat-icon>
          </button>
          <button class="datalake-create-table-step-button flat-button" mat-button (click)="goBack(stepper)">
            <mat-icon>arrow_back_ios</mat-icon>
            BACK
          </button>
        </div>
      </div>
      <div class="datalake-create-table-input-body datalake-data-preview-body">
        <div class="datalake-data-preview">
          <div class="datalake-raw-data">
            <span>Raw View</span>
            <div class="datalake-raw-data-preview">
              <div class="datalake-raw-data-item" *ngFor="let column of rawData">
                <span *ngFor="let row of column; let rowIndex = index">
                  {{row}}<span *ngIf="rowIndex != column.length - 1">{{delimiterCharacter}}</span>
                </span>
              </div>
            </div>
          </div>
          <div class="datalake-table-data">
            <span>Table View</span>
            <div class="datalake-table-data-preview">
              <div class="datalake-table-data-display">
                <div class="datalake-table-data-item" *ngFor="let column of rawData">
                  <div class="datalake-table-data-subitem" *ngFor="let row of column">
                    {{row}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>