.card-principal {
    background: rgb(30, 30, 30);
    width: 100%;
}

.standard-input-text {
    color: white;
    height: 30px;
}

div.mat-select-panel .mat-primary .ng-star-inserted .mat-select-panel-done-animating {
    background-color: black;
}

.mat-select-valuue {
    color: black !important;
}

.is-active {
    background-color: #182128;
}

.is-inactive {
    background-color: transparent;
}

.category-active {
    background-color: 3d3d3d !important;
}

.category-inactive {
    background-color: transparent;
}

.dialog-category-arguments-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    overflow-y: auto;
}

.dialog-item {
    padding: 5px;
    margin: 3px;
    width: 130px;
    cursor: pointer;
    text-align: center;
    -moz-box-shadow: inset 0 0 5px #00000038;
    -webkit-box-shadow: inset 0 0 5px #00000038;
    box-shadow: inset 0 0 5px #00000038;
    border-radius: 5px;
}

.dialog-item:hover {
    background-color: #182128;
}

.text-item-category-argument {
    margin-top: 3px;
    height: 30px;
    color: white;
}

.text-item-category-argument::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.text-item-category-argument:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.text-item-category-argument::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.img-item-category-argument {
    height: 33px;
    width: 33px;
}

.group-category {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 1%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    background-color: #3d3d3d;
    margin-bottom: 5px;
}

.group-category-text {
    color: white;
    margin-left: 5px;
    word-break: break-word;
    margin: 0 14px;
}

table.argument-table>thead>tr {
    height: 30px !important;
}

.input-table {
    width: 100%;
    border: 0;
    padding: 1%;
    background-color: transparent;
    outline-color: #3d3d3d;
    color: #d1d2d2;
    font: 500 13px/32px Roboto, "Helvetica Neue", sans-serif;
}

.select-table {
    width: 100%;
    background-color: #3d3d3d;
    border-color: #3d3d3d;
    color: #d1d2d2;
    outline-color: #3d3d3d;
    font: 500 13px/32px Roboto, "Helvetica Neue", sans-serif;
}

table.argument-table {
    background-color: #3d3d3d;
    text-align: left;
    border-collapse: collapse;
    color: #000000;
    font: 500 8px/20px Roboto, "Helvetica Neue", sans-serif;
}

table.argument-table td {
    border-bottom: 1px solid #4f4e4e;
    padding: 10px;
}

table.argument-table tbody td {
    font-size: 13px;
}

table.argument-table thead {
    background-color: #333333;
}

table.argument-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 10px;
    font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif;
}

table.argument-table thead th:first-child {
    border-left: none;
}

table.argument-table tfoot td {
    font-size: 14px;
}

table.argument-table tfoot .links {
    text-align: right;
}

table.argument-table tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.arguments-container {
    margin-bottom: 10px;
    padding: 10px;
    -moz-box-shadow: inset 0 0 5px #00000038;
    -webkit-box-shadow: inset 0 0 5px #00000038;
    box-shadow: inset 0 0 5px #00000038;
    border-radius: 0px;
}

.arguments-child {
    width: 250px;
    margin: auto;
}

.arguments-title {
    text-align: center;
    font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.msf-price-fare .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    -webkit-transform: translateY(-1.239125em) scale(.75) perspective(100px) translateZ(.001px) !important;
    transform: translateY(-1.239125em) scale(.75) perspective(100px) translateZ(.001px) !important;
}

h2 {
    font-weight: 500;
}

.selection {
    border: none;
}