<div class="msf-register-header">
  <img class="msf-medium-logo" src="../../assets/images/logo.png">
  <div class="msf-register-header-content">
    <div class="msf-register-header-title">
      <div class="msf-register-header-title-content"> MENU ADMINISTRATION</div>
      <div class="msf-register-header-little-title">{{title}}</div>
    </div>

    <div class="msf-register-header-image-content">
      <img class="medium-user-image" src="../../assets/images/icon-user-white.png">
    </div>
  </div>
</div>
<mat-card class="msf-register-card msf-center-container">
  <mat-card-content>
    <div style="display: flex; flex-direction: row;">
      <div style="flex: 1; flex-direction: column; justify-content: center; margin-left: 1%; margin-right: 1%">
        <mat-form-field class="msf-item">
          <input type="text" matInput placeholder="Category/Option Name" class="input-register" [(ngModel)]="treeObject.label"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="msf-item">
          <input type="text" matInput placeholder="Base URL" class="input-register" [(ngModel)]="treeObject.baseUrl"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-button class="msf-medium-button" (click)="saveMenu()">Save</button>
        <div style="margin-top: 5%">
          <jqxTreeGrid #jqxTreeGridRef [width]="getWidth()" [height]="getHeight()"
            [source]="dataAdapter" [columns]="columns" [sortable]="true" [selectionMode]="'singleRow'">
          </jqxTreeGrid>
        </div>
      </div>
      <div style="flex: 1 ;flex-direction: column; justify-content: center; margin-left: 1%; margin-right: 1%">
        <mat-form-field class="msf-field msf-full-width">
          <mat-select placeholder="Category Arguments" [(ngModel)]="categoryArgument.idCategory" name="idcategory"
            [ngModelOptions]="{standalone: true}" (ngModelChange)="CategoryArgumentChanged($event)" style="line-height: 2.125;">
            <mat-option *ngFor="let item of categories" [value]="item">
              {{item.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <jqxGrid [width]="getWidth()" [source]="dataAdapterCategory" [columns]="columnsCategory" [columnsresize]="true"
          [sortable]="true">
        </jqxGrid>
        <!-- 
        <jqxTreeGrid #jqxTreeGridRef [width]="getWidth()" [height]="getHeight()" [source]="dataAdapterArguments"
          [columns]="columns" [sortable]="true" [selectionMode]="'singleRow'">
        </jqxTreeGrid>
        -->
      </div>
    </div>
  </mat-card-content>
</mat-card>