    .card-principal {
        background: rgb(30, 30, 30);
        width: 100%;
    }

    .standard-input-text {
        color: white;
        height: 15px;
    }

    div.mat-select-panel .mat-primary .ng-star-inserted .mat-select-panel-done-animating {
        background-color: black;
    }

    .mat-select-valuue {
        color: black !important;
    }

    .is-active {
        background-color: #182128;
    }

    .is-inactive {
        background-color: transparent;
    }

    .category-active {
        background-color: #5d5b5b !important;
    }

    .category-inactive {
        background-color: transparent;
    }

    .dialog-category-arguments-container {
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        min-height: 190px;
        width: calc(100% - 25px);
        min-height: calc(100% - 140px);
        height: calc(100% - 125px);
        margin-top: 30px;
        background-color: #1a1a1a;
    }

    .dialog-item {
        padding: 12px 5px;
        display: flex;
        height: 25px;
        justify-content: left;
        flex-direction: row;
        margin: 3px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dialog-item:hover {
        background-color: #182128;
    }

    .text-item-category-argument {
        vertical-align: middle;
        height: 30px;
        line-height: 30px;
        display: table-cell;
        text-align: left;
        font-size: 13px;
        color: white;
    }

    .text-item-category-argument::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: white;
        opacity: 1;
        /* Firefox */
    }

    .text-item-category-argument:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: white;
    }

    .text-item-category-argument::-ms-input-placeholder {
        /* Microsoft Edge */
        color: white;
    }

    .img-item-category-argument {
        height: 16px;
        width: 16px;
        margin-right: 8px;
        margin-top: 6px;
        color: #c7dcf1;
        font-size: 17px;
    }

    .group-category {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        padding: 1%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        background-color: #3d3d3d;
        margin-bottom: 5px;
    }

    .group-category-text {
        color: white;
        margin-left: 5px;
        word-break: break-word;
        margin: 0 14px;
    }

    table.argument-table>thead>tr {
        height: 30px !important;
    }

    .input-table {
        width: 100%;
        border: 0;
        padding: 1%;
        background-color: transparent;
        outline-color: #3d3d3d;
        color: #d1d2d2;
        font: 500 13px/32px Roboto, "Helvetica Neue", sans-serif;
    }

    .select-table {
        width: 100%;
        background-color: #3d3d3d;
        border-color: #3d3d3d;
        color: #d1d2d2;
        outline-color: #3d3d3d;
        font: 500 13px/32px Roboto, "Helvetica Neue", sans-serif;
    }

    table.argument-table {
        background-color: #3d3d3d;
        text-align: left;
        border-collapse: collapse;
        color: #000000;
        font: 500 8px/20px Roboto, "Helvetica Neue", sans-serif;
    }

    table.argument-table td {
        border-bottom: 1px solid #4f4e4e;
        padding: 10px;
    }

    table.argument-table tbody td {
        font-size: 13px;
    }

    table.argument-table thead {
        background-color: #333333;
    }

    table.argument-table thead th {
        font-size: 15px;
        font-weight: bold;
        color: white;
        padding: 10px;
        font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif;
    }

    table.argument-table thead th:first-child {
        border-left: none;
    }

    table.argument-table tfoot td {
        font-size: 14px;
    }

    table.argument-table tfoot .links {
        text-align: right;
    }

    table.argument-table tfoot .links a {
        display: inline-block;
        background: #1C6EA4;
        color: #FFFFFF;
        padding: 2px 8px;
        border-radius: 5px;
    }

    .arguments-container {
        margin-bottom: 10px;
        padding: 10px;
        -moz-box-shadow: inset 0 0 5px #00000038;
        -webkit-box-shadow: inset 0 0 5px #00000038;
        box-shadow: inset 0 0 5px #00000038;
        border-radius: 0px;
    }

    .arguments-child {
        width: 40%;
    }

    .arguments-title {
        text-align: center;
        font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif;
    }

    .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
    .msf-price-fare .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
        -webkit-transform: translateY(-1.239125em) scale(.75) perspective(100px) translateZ(.001px) !important;
        transform: translateY(-1.239125em) scale(.75) perspective(100px) translateZ(.001px) !important;
    }

    h2 {
        font-weight: 500;
    }

    .draggable-list {
        max-width: 100%;
        display: block;
        overflow: hidden;
        background-color: rgb(30, 30, 30);
    }

    .draggable-box {
        cursor: move;
        background-color: rgb(30, 30, 30);
    }

    .cdk-drag-preview {
        box-sizing: border-box;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
        opacity: 0;
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .draggable-box:last-child {}

    .draggable-list.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .dialog-category-arguments::-webkit-scrollbar {
        display: none;
    }

    .button-section {
        font-size: 14px;
        color: white;
        padding-left: 5%
    }

    .button-setup {
        display: flex;
        flex-direction: row;
        width: 30%;
        background-color: #1a1a1a;
        margin-right: 5%;
    }

    .dropdown-setup {
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-right: 5%;
        margin-bottom: -20px;
    }

    .category-list-item {
        margin-bottom: 5px;
    }

    .is-active-cat {
        background-color: #182128;
    }

    .is-inactive {
        background-color: transparent;
    }

    .input-option-tree.mat-input-element {
        caret-color: #b3b3b3;
    }

    .is-active-cat.mat-focused .mat-form-field-ripple {
        background-color: transparent;
    }

    .menu-recursive-input input {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 12px;
        height: 30px;
        width: 90%;
    }

    .menu-node {
        color: white; display:flex; flex-direction:row; width:100%;
    }

    .mat-tree-node{
        min-height: 40px;
    }
