<div class="msf-register-header">
  <img class="msf-medium-logo" src="../../assets/images/logo.png">
  <div class="msf-register-header-content">
    <div class="msf-register-header-title">
      <div class="msf-register-header-title-content"> MENU ADMINISTRATION</div>
      <div class="msf-register-header-little-title">{{title}}</div>
    </div>

    <div class="msf-register-header-image-content">
      <img class="medium-user-image" src="../../assets/images/icon-user-white.png">
    </div>
  </div>
</div>
<mat-card class="msf-register-card msf-center-container">
  <mat-card-content>
    <div style="display: flex; flex-direction: row; margin-left: 1%; margin-right: 1%">
      <div style="display: flex; flex-direction: column; justify-content: center;">
        <mat-form-field class="msf-item">
          <input type="text" matInput placeholder="Category/Option Name" class="input-register" [(ngModel)]="treeObject.label"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field class="msf-item">
          <input type="text" matInput placeholder="Base URL" class="input-register" [(ngModel)]="treeObject.baseUrl"
            [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <button mat-button class="msf-medium-button" (click)="saveMenu()">Save</button>
        <div style="display: flex; flex-direction: column; margin-top: 5%">
          <jqxTreeGrid #jqxTreeGridRef [width]="getWidth()" [height]="getHeight()" [source]="dataAdapter" [columns]="columns"
            [sortable]="true" [selectionMode]="'singleRow'">
          </jqxTreeGrid>
        </div>
      </div>
      <div style="display: flex; flex-direction: column;margin-left: 1%; margin-right: 1%">
        <jqxTreeGrid #jqxTreeGridRef [width]="getWidth()" [height]="getHeight()" [source]="dataAdapterArguments"
          [columns]="columns" [sortable]="true" [selectionMode]="'singleRow'">
        </jqxTreeGrid>
      </div>
    </div>


  </mat-card-content>
</mat-card>