div.mat-select-panel .mat-primary .ng-star-inserted .mat-select-panel-done-animating {
    background-color: black;
}

.is-active {
    background-color: #4f4f4f;
}

.is-inactive {
    background-color: transparent;
}

.category-active {
    background-color: #79797a !important;
}

.category-inactive {
    background-color: transparent;
}

.dialog-category-arguments-container {
    display: flex;
    flex-wrap: wrap;    
    max-height: 430px;
    overflow-y: auto;
}

.dialog-item {
    padding: 5px;
    margin: 3px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    -moz-box-shadow:    inset 0 0 5px #00000038;
    -webkit-box-shadow: inset 0 0 5px #00000038;
    box-shadow:         inset 0 0 5px #00000038;
    border-radius: 5px;
}

.dialog-item:hover {
    background-color: #4f4f4f;
}

.text-item-category-argument {
    border-bottom: 2px solid #01abec;    
    margin-top: 3px; 
    height: 30px;
    color: white;
}

.img-item-category-argument {
    height: 33px;
    width: 33px;
}

.group-category {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding: 1%;    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
    background-color: #3d3d3d;
    margin-bottom: 5px;
}

.group-category-text {
    color: white;
    margin-left: 5px;
    word-break: break-word;
    margin: 0 14px;
}

table.argument-table > thead > tr {
    height: 30px !important;
}

.input-table {
    width: 100%;
    border: 0;
    padding: 1%;
    background-color: transparent;
    outline-color: #3d3d3d;
    color: #d1d2d2;
    font: 500 13px/32px Roboto,"Helvetica Neue",sans-serif;
}

.select-table {
    width: 100%; 
    background-color: #3d3d3d; 
    border-color: #3d3d3d;
    color: #d1d2d2;
    outline-color: #3d3d3d;
    font: 500 13px/32px Roboto,"Helvetica Neue",sans-serif;
}

table.argument-table {    
    background-color: #3d3d3d;
    text-align: left;
    border-collapse: collapse;
    color: #000000;
    font: 500 8px/20px Roboto,"Helvetica Neue",sans-serif;
}

table.argument-table td {
    border-bottom: 1px solid #4f4e4e;
    padding: 10px;
}

table.argument-table tbody td {
    font-size: 13px;
}
  
table.argument-table thead {
    background-color: #333333;    
}
  
table.argument-table thead th {
    font-size: 15px;
    font-weight: bold;    
    color: white;
    padding: 10px;
    font: 500 15px/32px Roboto,"Helvetica Neue",sans-serif;
}
  
table.argument-table thead th:first-child {
    border-left: none;
}
  
table.argument-table tfoot td {
    font-size: 14px;
}
  
table.argument-table tfoot .links {
    text-align: right;
}
  
table.argument-table tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}

.arguments-container {
    margin-bottom: 10px;
    padding: 10px;
    -moz-box-shadow:    inset 0 0 5px #00000038;
    -webkit-box-shadow: inset 0 0 5px #00000038;
    box-shadow:         inset 0 0 5px #00000038;
    border-radius: 0px;
}

.arguments-child {
    width: 250px; 
    margin: auto;
}

.arguments-title {
    text-align: center;
    font: 500 15px/32px Roboto,"Helvetica Neue",sans-serif;
}