<div class="admin-menu-dialog-container">
    <div mat-dialog-title class="admin-menu-content-dialog-container">
        <button mat-icon-button (click)="addOption()">
            <mat-icon class="admin-mat-icon-button" aria-label="add">add_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteOption()">
            <mat-icon class="admin-mat-icon-button" aria-label="delete">remove_circle</mat-icon>
        </button>        
        <button mat-icon-button *ngIf="data.option.id" (click)="UploadColumn()">
            <mat-icon class="admin-mat-icon-button" aria-label="cloud_upload">cloud_upload</mat-icon>
        </button>
    </div>
    <div #tableScrollContainer mat-dialog-content class="admin-menu-content-dialog-container admin-output-table-dialog-content">
        <table mat-table #table [dataSource]="dataSource" cdkDropList [cdkDropListData]="dataSource" (cdkDropListDropped)="dropTable($event)" class="mat-elevation-z8 datasource welcome-table">
            <ng-container matColumnDef="columnLabel" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Column Label</th>
                <td class="admin-column-label-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <mat-icon class="menu-drag-handle" (mouseover)="enableDrag(element)" (mouseout)="disableDrag(element)">drag_handle</mat-icon>
                        <input matInput placeholder="Label" [value]="element.columnLabel" [(ngModel)]="element.columnLabel">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="columnName" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Column Name</th>
                <td class="admin-column-name-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <input matInput placeholder="Label" [value]="element.columnName" [(ngModel)]="element.columnName">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="columnType" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Column Type</th>
                <td class="admin-column-type-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <mat-select class="activation-form" [(value)]="element.columnType" placeholder="Column type" [(ngModel)]="element.columnType">
                            <mat-option value="string">string</mat-option>
                            <mat-option value="number">number</mat-option>
                            <mat-option value="date">date</mat-option>
                            <mat-option value="time">time</mat-option>
                        </mat-select>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="columnFormat" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Column Format</th>
                <td class="admin-column-format-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <input matInput placeholder="format" [value]="element.columnFormat" [(ngModel)]="element.columnFormat">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="outputFormat" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Output Format</th>
                <td class="admin-column-format-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <input matInput placeholder="format" [value]="element.outputFormat" [(ngModel)]="element.outputFormat">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="prefix" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Column Prefix</th>
                <td class="admin-column-prefix-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <input matInput placeholder="Prefix" [value]="element.prefix" [(ngModel)]="element.prefix">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="suffix" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Column Suffix</th>
                <td class="admin-column-suffix-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <input matInput placeholder="Suffix" [value]="element.suffix" [(ngModel)]="element.suffix">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="grouping" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Grouping</th>
                <td class="admin-column-grouping-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <mat-select class="activation-form" [(value)]="element.grouping" placeholder="" [(ngModel)]="element.grouping">
                            <mat-option [value]=1>Yes</mat-option>
                            <mat-option [value]=0>No</mat-option>
                        </mat-select>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="unit" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Unit</th>
                <td class="admin-column-unit-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <input matInput placeholder="Label" [value]="element.unit" [(ngModel)]="element.unit">
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="arguments" class="admin-dialog-box">
                <th mat-header-cell *matHeaderCellDef>Drill Down Argument</th>
                <td class="admin-column-arguments-cell" mat-cell *matCellDef="let element">
                    <div class="admin-column-inner-container">
                        <mat-select class="activation-form" placeholder="Argument" [(ngModel)]="element.argumentsId">
                            <ng-container *ngFor="let item of arg">
                                <mat-option *ngIf="item.name1" [value]="item.id">{{item.name1}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectRow(row)" [ngClass]="{ 'selected': row === optionSelected }" cdkDrag [cdkDragDisabled]="!row.enabled" [cdkDragData]="row" cdkDragLockAxis="y" vsDragScroll [vsDragScrollContainer]="tableScrollContainer"></tr>
        </table>
    </div>
    <div class="admin-menu-content-dialog-buttons">
        <button mat-button class="flat-button admin-menu-content-cancel-button" (click)="onNoClick()">Cancel</button>
        <button mat-button class="flat-button" (click)="sendData()">Save</button>
    </div>
</div>