.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    min-width: inherit !important;
    font-size: 110%;
    height: 30px;
    text-align: left;
    padding: 10px !important;
    font-weight: 500;
}

.cdk-drag-preview .admin-column-inner-container .mat-input-element
{
    text-align: left;
}

.cdk-drag-preview .mat-cell
{
    padding: 10px !important;
    font-weight: 500;
}

.cdk-drag-preview .admin-column-label-cell
{
    padding-top: 5px !important;
    margin-left: -15px !important;
}

.cdk-drag-placeholder {
    opacity: 0;
}
