<div mat-dialog-title class="admin-menu-content-dialog-container">
    <div class="admin-menu-content-buttons-header">
        <button mat-button class="flat-button admin-menu-content-cancel-button" (click)="onNoClick()">Cancel</button>
        <button mat-button class="flat-button" [mat-dialog-close]="data" cdkFocusInitial>Save</button>
    </div>
</div>
<div class="dialog-category-arguments dialog-edit-argument-category-container" mat-dialog-content>
    <div *ngFor="let item of data.categoryArgumentsId[0].arguments">
        <div>
            <div class="dialog-edit-argument-category-item-title">
                <mat-form-field class="dialog-edit-argument-category-item-title-container">
                    <input matInput [(ngModel)]="item.title">
                    <mat-placeholder class="dialog-edit-argument-category-item-title-label">Title</mat-placeholder>
                </mat-form-field>
            </div>
            <div class="dialog-edit-argument-category-item-body">
                <div [style.width.%]="100">
                    <mat-form-field [style.width.%]="100">
                        <input matInput placeholder="Type" [(ngModel)]="item.type">
                    </mat-form-field>
                </div>
                <ng-container *ngIf="item.numArguments >= 1">
                    <div class="arguments-child" [style.margin-right.%]="20">
                        <mat-form-field [style.width.%]="100">
                            <input matInput placeholder="Label 1" [(ngModel)]="item.label1">
                        </mat-form-field>
                    </div>
                    <div class="arguments-child">
                        <mat-form-field [style.width.%]="100">
                            <input matInput placeholder="Service Arg. 1" [(ngModel)]="item.name1">
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.numArguments >= 2">
                    <div class="arguments-child" [style.margin-right.%]="20">
                        <mat-form-field [style.width.%]="100">
                            <input matInput placeholder="Label 2" [(ngModel)]="item.label2">
                        </mat-form-field>
                    </div>
                    <div class="arguments-child">
                        <mat-form-field [style.width.%]="100">
                            <input matInput placeholder="Service Arg. 2" [(ngModel)]="item.name2">
                        </mat-form-field>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.numArguments == 3">
                    <div class="arguments-child" [style.margin-right.%]="20">
                        <mat-form-field [style.width.%]="100">
                            <input matInput placeholder="Label 3" [(ngModel)]="item.label3">
                        </mat-form-field>
                    </div>
                    <div class="arguments-child">
                        <mat-form-field [style.width.%]="100">
                            <input matInput placeholder="Service Arg. 3" [(ngModel)]="item.name3">
                        </mat-form-field>
                    </div>
                </ng-container>
                <div class="arguments-child" [style.margin-right.%]="20">
                    <mat-form-field >
                        <input matInput placeholder="Url" [(ngModel)]="item.url">
                    </mat-form-field>
                </div>
                <div class="arguments-child">
                    <mat-form-field [style.width.%]="100">
                        <mat-select [(value)]="item.required" placeholder="Required" [(ngModel)]="item.required">
                            <mat-option [value]=1>Yes</mat-option>
                            <mat-option [value]=0>No</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="arguments-child" *ngIf="item.url!='' && item.url!=null" [style.margin-right.%]="20">
                    <mat-form-field [style.width.%]="100">
                        <input matInput placeholder="Visible Attribute" [(ngModel)]="item.visibleAttribute">
                    </mat-form-field>
                </div>
                <div class="arguments-child" *ngIf="item.url!='' && item.url!=null">                 
                    <mat-form-field [style.width.%]="100">
                        <input matInput placeholder="Selected Attribute" [(ngModel)]="item.selectedAttribute">
                    </mat-form-field>
                </div>
                <div [style.width.%]="100" *ngIf="item.url != '' && item.url != null && isSelectBoxMultipleOption(item)">
                    <span>Default Value</span>
                    <ng-select
                        [items]="groupingData | async"
                        [multiple]="true"
                        [loading]="item.loading"
                        loadingText="Loading..."
                        [closeOnSelect]="true"
                        [hideSelected]="false"
                        bindLabel="{{item.visibleAttribute}}"
                        (search)="onSearch(item,$event)" 
                        [(ngModel)]="item.value1">
                    </ng-select>
                </div>
                <div class="dialog-edit-argument-category-item-footer" *ngIf="item.url != '' && item.url != null">
                    <button mat-button class="flat-button admin-menu-content-cancel-button" (click)="showPreview(item)">Preview</button>
                </div>
            </div>
        </div>
    </div>
</div>

