<div style="flex: 1; height: 500px; color: white;">
    <div mat-dialog-title style="flex: 1">
        <div>Arguments Categories</div>
    </div>
    <div mat-dialog-content style="flex: 1; max-height: 460px">
        <div class="dialog-category-arguments" style="color: white !important; min-height: 70%; display: flex; flex-direction: row" mat-dialog-content>
            <div class="dark-scrollbar" style="flex: 1;margin-right: 50px; max-height: 450px; overflow-y: auto; -webkit-overflow-scrolling: touch;">
                <div style="flex: 1;">
                    <div style=" text-align: right">
                        <button mat-icon-button (click)="addCategory()">
  <mat-icon style="color: white" aria-label="add">add_circle</mat-icon>
</button>
                        <button mat-icon-button (click)="deleteCategory()">
  <mat-icon style="color: white" aria-label="delete">remove_circle</mat-icon>
</button>
                    </div>
                    <div *ngFor="let item of data">
                        <div [ngClass]="{'is-active-cat': item.isSelected,'is-inactive': !item.isSelected}">
                            <div class="menu-recursive-input" (click)="getSelectedOption(item)">
                                <input disabled="true" type="text" name="optionname" autocomplete="off" matInput class="input-register input-menu-option" [(ngModel)]="item.label">

                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </div>
            </div>
            <div style="flex: 2">
                <div style="display: flex; flex-direction: column">

                    <div style="display: flex; flex-direction: column;flex: 2">
                        <mat-form-field class="standard-text">
                            <input matInput class="standard-input-text " placeholder="Name Category " [(ngModel)]="category.label ">
                        </mat-form-field>
                        <mat-form-field class="standard-text">
                            <input matInput class="standard-input-text" placeholder="Description" [(ngModel)]="category.description">
                        </mat-form-field>
                        <div style="display: flex; flex-direction: row; flex: 2">
                            <mat-form-field class="standard-text">
                                <input matInput class="standard-input-text " placeholder="Icon URL " [(ngModel)]="category.icon">
                            </mat-form-field>
                            <div style="flex: 1">
                                <img class="img-item-category-argument " src="{{category.icon}} ">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- -------- -->
                <div>
                    <div style="display: flex;flex-direction: row">
                        <div style="font-size: 14px; flex: 3">Arguments</div>
                        <button mat-icon-button (click)="addArgument()">
                        <mat-icon style="color: white; flex: 1" aria-label="add">add_circle</mat-icon>
                      </button>
                    </div>
                    <div *ngFor="let argument of category.arguments">
                        <div style="max-height: 200px; overflow-y: auto; -webkit-overflow-scrolling: touch;">
                            <div style="display: flex; flex-direction: row; height: 55px;">
                                <div style="width: 60%;">
                                    <mat-form-field style="width: 80%">
                                        <input matInput placeholder="Description" [(ngModel)]="argument.description">
                                    </mat-form-field>
                                </div>
                                <div class="arguments-child" style="width: 30%;">
                                    <mat-form-field style="width: 100%">
                                        <mat-select class="white" placeholder="Type" [(ngModel)]="argument.type">
                                            <mat-option value="airline">Airline</mat-option>
                                            <mat-option value="airportRoute">Airport route</mat-option>
                                            <mat-option value="timeRange">Time range</mat-option>
                                            <mat-option value="dateRange">Date range</mat-option>
                                            <mat-option value="tailnumber">Tail number</mat-option>
                                            <mat-option value="singleairline">Single airline</mat-option>
                                            <mat-option value="aircraftType">Aircraft type</mat-option>
                                            <mat-option value="flightNumber">Flight number</mat-option>
                                            <mat-option value="airport">Airport</mat-option>
                                            <mat-option value="grouping">Grouping</mat-option>
                                            <mat-option value="rounding">Rounding</mat-option>
                                            <mat-option value="date">Date</mat-option>
                                            <mat-option value="windDirection">Wind direction</mat-option>
                                            <mat-option value="ceiling">Ceiling</mat-option>
                                            <mat-option value="windSpeed">Wind Speed</mat-option>
                                            <mat-option value="temperature">Temperature</mat-option>
                                            <mat-option value="freeTextInput">Free text input</mat-option>
                                            <mat-option value="selectBoxSingleOption">Select box single option</mat-option>
                                            <mat-option value="selectBoxMultipleOption">Select box multiple option</mat-option>
                                            <mat-option value="datePicker">Date picker</mat-option>
                                            <mat-option value="timePicker">Time picker</mat-option>
                                            <mat-option value="dateTimePicker">Date time picker</mat-option>
                                            <mat-option value="checkBox">Check box</mat-option>
                                            <mat-option value="cancelsCheckBox">Cancels check boxes</mat-option>
                                            <mat-option value="diversionsCheckbox">Diversions check boxes</mat-option>
                                            <mat-option value="flightDelaysCheckbox">Flight Delays check box</mat-option>
                                            <mat-option value="causesFlightDelaysCheckbox">Causes Of Flight Delays check boxes</mat-option>
                                            <mat-option value="taxiTimes">Taxi times</mat-option>
                                            <mat-option value="taxiTimesCheckbox">Taxi times checkbox</mat-option>
                                            <mat-option value="taxiTimesCheckboxes">Taxi times checkboxes</mat-option>
                                            <mat-option value="datePeriod">Date period (year-quarter)</mat-option>
                                            <mat-option value="region">Region</mat-option>
                                            <mat-option value="datePeriodYear">Date period (year)</mat-option>
                                            <mat-option value="datePeriodYearMonth">Date period (year-month)</mat-option>
                                            <mat-option value="sortingCheckboxes">Sorting checkboxes</mat-option>
                                            <mat-option value="groupingAthena">New Grouping</mat-option>
                                            <mat-option value="flightDistance">Flight Distance</mat-option>
                                            <mat-option value="fareTypes">Fare Types</mat-option>
                                            <mat-option value="summary">Summary</mat-option>
                                            <mat-option value="serviceClasses">Service Classes</mat-option>
                                            <mat-option value="resultsLess">Group Results Less Than</mat-option>
                                            <mat-option value="geography">Geography</mat-option>
                                            <mat-option value="excludeItineraries">Itineraries</mat-option>
                                            <mat-option value="excludeFollowing">Exclude The Following Fares</mat-option>
                                            <mat-option value="singleCheckbox">Single checkbox</mat-option>
                                            <mat-option value="filterAirlineType">Filter Airline Type</mat-option>
                                            <mat-option value="fareIncrements">Fare Increments</mat-option>
                                            <mat-option value="fareIncrementMiddle">Fare Increments Middle</mat-option>
                                            <mat-option value="fareIncrementMax">Fare Increments Max</mat-option>
                                            <mat-option value="title">Title</mat-option>
                                            <mat-option value="airportsRoutes">Airports Routes</mat-option>
                                            <mat-option value="fareLower">Exclude Fares lower than</mat-option>
                                            <mat-option value="percentIncrement">Pecent Increment</mat-option>
                                            <mat-option value="groupingDailyStatics">Grouping Daily Statics</mat-option>
                                            <mat-option value="quarterHour">Quarter Hour</mat-option>
                                            <mat-option value="functions">Functions</mat-option>
                                            <mat-option value="groupingOperationsSummary">Grouping Operatins Summary</mat-option>
                                            <mat-option value="groupingHubSummaries">Grouping Hub Summaries</mat-option>
                                            <mat-option value="regionSchedule">Region Schedule</mat-option>
                                            <mat-option value="aircraftTypeCheckboxes">Aircraft Type Checkboxes</mat-option>
                                            <mat-option value="seats">Seats</mat-option>
                                            <mat-option value="sortingNostop">Sorting Nostop</mat-option>
                                            <mat-option value="connectionTime">Connection Time</mat-option>
                                            <mat-option value="stops">Stops</mat-option>
                                            <mat-option value="circuityType">Circuity Type</mat-option>
                                            <mat-option value="circuity">Circuity</mat-option>
                                            <mat-option value="singleAirport">Single airport</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <div>

                                    </div>
                                </div>
                                <mat-icon style="color: white; flex: 1" aria-label="close">close</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: right">

        <button mat-button class="flat-button" (click)="onNoClick()" style="margin-right: 5px">Cancel</button>
        <button mat-button class="flat-button" (click)="sendData()">Save</button>
    </div>
</div>
