<div class="admin-menu-background" [style.height.px]="getInnerHeight()">
    <mat-card class="login-card password-card">
        <mat-card-content>
            <img mat-card-image class="login-header-image password-header" src="../../assets/images/{{globals.theme}}-logo.png">
        </mat-card-content>
        <mat-card-content>
            <app-notification [show]="utils.notificationShow" [message]="utils.notificationMessage" [type]="utils.notificationType"></app-notification>
            <form [formGroup]="personalInformationForm" class="login-form" name="login">
                <div class="block-item-input center">
                    <mat-form-field>
                        <input matInput autocomplete="off" type="email" placeholder="E-mail" class="input-username" [formControl]="personalInformationForm.get('emailValidator')" name="email" [(value)]="user.email" />
                        <mat-error *ngIf="personalInformationForm.get('emailValidator').invalid">{{getErrorEmailMessage()}}</mat-error>
                        <mat-error *ngIf="personalInformationForm.get('emailValidator').invalid">{{getErrorFormatEmailMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput autocomplete="off" type="password" placeholder="Password" class="input-username" [formControl]="personalInformationForm.get('passwordValidator')" name="password" [(value)]="user.password" />
                        <mat-error *ngIf="personalInformationForm.get('passwordValidator').invalid">{{getErrorPasswordMessage()}}</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput autocomplete="off" type="password" placeholder="Repeat Password" class="input-username" [formControl]="personalInformationForm.get('repeatPasswordValidator')" name="repeatPassword" [(value)]="user.repeatPassword" />
                        <mat-error *ngIf="personalInformationForm.get('repeatPasswordValidator').invalid">{{getErrorRepeatPasswordMessage()}}</mat-error>
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions class="center">
            <button mat-flat-button class="login-button" (click)="resetPassword()">Submit</button>
        </mat-card-actions>
    </mat-card>
</div>