<div [ngClass]="globals.popupLoading? 'tab-show' : 'tab-hide'" id="msf-dashboard-child-panel-loading" class="msf-dashboard-child-panel-loading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
</div>
<div class="msf-dashboard-control-variables-title" id="msf-dashboard-parent-title" *ngIf="!globals.popupLoading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  <span *ngIf="values">{{values.chartName}}</span>
  <span *ngIf="!values" style="padding: 5px"></span>
</div>
<div class="{{(!globals.popupLoading && !errorMessage) ? 'msf-dashboard-child-panel-container-chart' : 'msf-dashboard-panel-container-invisible'}}" id="msf-dashboard-child-panel-chart-display">
  <div *ngIf="isTablePanel()" class="msf-dashboard-child-panel-table">
    <app-msf-table #msfTableRef [isLoading]="globals.popupLoading" (finishLoading)="finishLoadingTable($event)" [categoryArguments]="values.currentOptionCategories" [currentOption]="values.currentOption" [isPanel]="true"></app-msf-table>
  </div>
  <div *ngIf="isTablePanel()" class="msf-dashboard-child-panel-table-more-button">
    <div [ngClass]="moreResultsBtn ? 'msf-menu-more-button' : 'msf-menu-more-button disabled-more-button'"
        (click)="moreTableResults()" *ngIf="msfTableRef && msfTableRef.dataSource">
      <img style="width: 16px;height: 16px;" src="../../assets/images/more.png" class="msf-menu-image msf-vertical-middle msf-line">
      <div class="msf-vertical-middle msf-line" style="font-size: 13px">More Result</div>
    </div>
  </div>
</div>
<div *ngIf="!globals.popupLoading && errorMessage" class="msf-dashboard-child-panel-container-chart msf-dashboard-child-panel-container">
  <div class="msf-no-results">
    {{errorMessage}}
  </div>
</div>
<div class="msf-dashboard-control-variables-button" *ngIf="!globals.popupLoading">
  <button mat-flat-button class="flat-button" (click)="closeDialog()">OK</button>
</div>