<div style="overflow: auto" [style.height.px]="getInnerHeight()" [style.width.px]="getInnerWidth()">
  <div class="msf-register-header" style="color: white">
    <button mat-icon-button routerLink="/application">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <img class="msf-medium-logo" src="../../assets/images/logo.png" />
    <div class="msf-register-header-content msf-arguments-category-header">
      <div class="msf-register-header-title">
        <div class="msf-register-header-title-content msf-arguments-category-header-title-content">
          CUSTOMERS<br>
        </div>
      </div>
      <div class="msf-register-header-image-content">
        <img class="medium-user-image" src="../../assets/images/icon-user-white.png" />
      </div>
    </div>
  </div>
  <mat-card class="msf-customer-card-container msf-center-container">
    <div class="msf-customer-container">
      <div class="msf-customer-input-field">
        <mat-form-field class="msf-customer-filter-text-field">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          <mat-icon class="msf-customer-search-icon" aria-label="search">search</mat-icon>
        </mat-form-field>
        <button class="msf-customer-button" mat-icon-button (click)="createCustomer()">
          <mat-icon class="msf-customer-button-icon" aria-label="create">add</mat-icon>
        </button>
        <button class="msf-customer-button" mat-icon-button (click)="saveCustomers()">
          <mat-icon class="msf-customer-button-icon" aria-label="save">save</mat-icon>
        </button>
      </div>
      <div class="msf-customer-two-columns">
        <div class="msf-customer-left-container">
          <div class="mat-elevation-z8">
            <div class="msf-customer-table-scroll" [ngStyle]="{ 'height': getTableHeight() }">
              <table mat-table matSort [dataSource]="customers" class="datasource welcome-table msf-customer-table">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>
                <ng-container matColumnDef="shortName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Short Name</th>
                  <td mat-cell *matCellDef="let element">{{ element.shortName }}</td>
                </ng-container>
                <ng-container matColumnDef="licenseType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>License Type</th>
                  <td mat-cell *matCellDef="let element">{{ element.licenseType }}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                  <td mat-cell *matCellDef="let element">{{ element.status }}</td>
                </ng-container>
                <ng-container matColumnDef="endDate">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
                  <td mat-cell *matCellDef="let element">{{ element.endDate }}</td>
                </ng-container>
                <ng-container matColumnDef="numberOfLicenses">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Number Of Licenses</th>
                  <td mat-cell *matCellDef="let element">{{ element.numberOfLicenses }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="customerColumns"></tr>
                <tr mat-row [ngClass]="{ 'mat-row-highlighted': row.highlight }" *matRowDef="let row; columns: customerColumns;" (click)="selectCustomer(row)"></tr>
              </table>
            </div>
            <mat-paginator class="msf-customer-paginator" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
        <div class="msf-customer-right-container">
          <span *ngIf="!selectedCustomer">
            Test!!!!
          </span>
          <span *ngIf="selectedCustomer">
            {{selectedCustomer.name}}
          </span>
        </div>
      </div>
    </div>
  </mat-card>
</div>