
<!-- <div style="height: 100%;" *ngIf="(globals.currentOption && globals.currentOption !== 'dashboard' && !mobileQuery.matches) 
|| (!globals.showMenu && mobileQuery.matches && globals.currentOption && globals.currentOption !== 'dashboard')"> -->
<div [ngClass]="mobileQuery.matches? (globals.showMenu ? 'msf-container-tabs-hide':'msf-container-tabs'):'msf-container-tabs'"
*ngIf="(globals.currentOption && globals.currentOption !== 'dashboard' && globals.currentOption !== 'categoryAdmin')">
    <div style="height: 100%;"  [hidden]= "globals.mapsc">
    <mat-tab-group [ngClass]="mobileQuery.matches? (globals.showMenu? 'msf-hide':'msf-show-panel'):'msf-show-panel' "
    [selectedIndex]="globals.selectedIndex" (selectedTabChange)="onLinkClick($event)" #tabs>
        <mat-tab *ngIf="globals.showWelcome" label="Welcome" style="height: 100%;">
            <app-option-welcome></app-option-welcome> 
        </mat-tab>        
        <mat-tab *ngIf="globals.query" label="Current Query General Summary" >
            <ng-template mat-tab-label >
                Current Query General Summary
                <mat-icon (click)="closeTab(1)" class="close-icon">close</mat-icon> 
            </ng-template>
            <app-current-query-summary [isLoading]="tableLoading" [isMobile]="mobileQuery.matches" (finishLoading)="finishLoadingTable($event)"></app-current-query-summary> 
        </mat-tab>
        <!-- <mat-tab> -->
        <mat-tab *ngIf="globals.tab">
            <ng-template mat-tab-label>
                {{globals.currentOption.tab}} <mat-icon (click)="closeTab(2)" class="close-icon">close</mat-icon> 
            </ng-template>
            <div class="msf-viewport-container">
                <app-msf-table #msfTableRef [tabRef]="tabRef" [isLoading]="tableLoading" 
                (finishLoading)="finishLoadingTable($event)" [categoryArguments]="getCategoryArguments()" 
                [currentOption]="globals.currentOption" [isPanel]="false" [paginator]="paginator" [pageIndex]="pageIndex" 
                [partialSummaryValues]="partialSummaryValues"
                (paginatorlength)="paginatorlength($event)"
                (shmoreResult)="shmoreResult($event)"
                (sortingDataTable)="sortingDataTable($event)"></app-msf-table>
            </div>    
        </mat-tab>        
        <mat-tab *ngIf="globals.generateDynamicTable" label="Dynamic Table" #msfDynamicTableTabRef>
            <ng-template mat-tab-label>
                Dynamic Table
                <mat-icon (click)="closeTab(3)" class="close-icon">close</mat-icon> 
            </ng-template>
            <app-msf-dynamic-table #msfDynamicTableRef [isLoading]="dynTableLoading" (setDynTableLoading)="setDynTableLoading.emit($event)"></app-msf-dynamic-table>
        </mat-tab>    
        <mat-tab *ngIf="globals.dummyTab" label="Dummy Tab">
            <ng-template mat-tab-label>
                Dummy Tab
                <mat-icon (click)="closeTab(4)" class="close-icon">close</mat-icon> 
            </ng-template>
        </mat-tab>
        <mat-tab *ngIf="globals.map" #tabRef label="Map">
            <ng-template mat-tab-label>
                Map
                <mat-icon (click)="closeTab(5)" class="close-icon">close</mat-icon> 
            </ng-template>
            <app-msf-map #msfMapRef [useCancelButton]="true" [isLoading]="mapboxLoading" [displayMapMenu]="globals.displayMapMenu" [displayOptionPanel]="globals.status" (finishLoading)="finishLoadingMap($event)"></app-msf-map>
        </mat-tab> 
    </mat-tab-group>
    </div>
    <app-msf-schedule-maps #msfScMapRef [currentOption]="globals.currentOption" [buildScheduleMapChart]="globals.buildScheduleMapChart" [hidden]="!globals.mapsc" [isLoading]="routeLoading" (setRouteLoading)="setRouteLoading.emit($event)"></app-msf-schedule-maps>
</div>
<app-msf-dashboard [currentDashboardMenu]="globals.currentDashboardMenu" *ngIf="globals.currentOption === 'dashboard'"></app-msf-dashboard>
<app-msf-dashboard-category-admin [isMobile]="mobileQuery.matches" [isResponsive]="responsiveQuery.matches" (refreshDashboardMenu)="refreshDashboardMenu.emit()" *ngIf="globals.currentOption === 'categoryAdmin'"></app-msf-dashboard-category-admin>
<app-intro *ngIf="!globals.currentOption"></app-intro>
