<div class="msf-dashboard-container">
  <ng-container *ngIf="dashboardColumns.length">
    <div class="msf-dashboard-chartbox">
      <div class="msf-dashboard-chartbox-column" *ngFor="let dashboardColumn of dashboardColumns; let column = index" [attr.data-index]="column">
        <div class="msf-dashboard-chartbox-items">
          <div class="msf-dashboard-chartbox-column">
            <div class="msf-dashboard-chartbox-item-{{dashboardColumn.length}}" [style.width.%]="getPanelWidth(column, row)" *ngFor="let dashboardChart of dashboardColumn; let row = index" [attr.data-index]="row">
              <div class="msf-dashboard-button">
                <mat-icon class="msf-dashboard-button-icon" aria-label="close" (click)="RemoveChart(column, row)">close</mat-icon>
              </div>
              <app-msf-dashboard-chartmenu [values]="dashboardChart" [height]="getColumnHeight(column)" [columnPos]="column" [rowPos]="row"></app-msf-dashboard-chartmenu>
            </div>
          </div>
          <div [ngClass]="dashboardColumnsSize[column].displayProperties ? 'msf-dashboard-panel-size-properties-open' : 'msf-dashboard-panel-size-properties-closed'">
            <div *ngIf="!dashboardColumnsSize[column].displayProperties" (click)="toggleColumnProperties(column)" class="msf-dashboard-button" style="width: 0">
              <mat-icon class="msf-dashboard-button-icon" style="padding-right: 0; padding-top: 0" aria-label="fold">keyboard_arrow_down</mat-icon>
            </div>
            <ng-container *ngIf="dashboardColumnsSize[column].displayProperties">
              <div class="msf-dashboard-column-properties-align">
                <span class="msf-dashboard-column-properties-height-label">Height:</span>
                <mat-form-field class="msf-dashboard-column-properties-form-field">
                  <mat-select [(ngModel)]="dashboardColumnsSize[column].height" style="text-align: center">
                    <mat-option *ngFor="let heightValue of heightValues" [value]="heightValue">
                      {{heightValue.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <ng-container *ngIf="dashboardColumn.length > 1">
                <div class="msf-dashboard-column-properties-align" *ngFor="let dashboardChart of dashboardColumn; let row = index">
                  <span class="msf-dashboard-column-properties-width-label">Width (Chart #{{row + 1}}):</span>
                  <mat-form-field class="msf-dashboard-column-properties-form-field">
                    <mat-select [(ngModel)]="dashboardColumnsSize[column].width[row]" style="text-align: center" (selectionChange)="resizePanels(column, row)">
                      <mat-option *ngFor="let widthValue of widthValues | panelSizeFilter: twoPanelsfilterArgs" [value]="widthValue">
                        {{widthValue.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </ng-container>
              <div (click)="toggleColumnProperties(column)" class="msf-dashboard-button" style="width: 0">
                <mat-icon class="msf-dashboard-button-icon" style="padding-right: 0; padding-top: 0" aria-label="fold">keyboard_arrow_up</mat-icon>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="msf-dashboard-empty" *ngIf="!dashboardColumns.length">
    You have not added any chart.<br>
    Click here to start!
  </div>
  <div class="msf-dashboard-addmenu">
    <div class="msf-dashboard-addmenu-item" (click)="toggleDisplayAddChartMenu()">
      <div class="msf-dashboard-addmenu-item-text">
        <mat-icon class="msf-dashboard-icon" aria-label="add">add</mat-icon>
        <span class="msf-dashboard-addmenu-item-addtext">ADD ROW</span>
      </div>
    </div>
    <div class="msf-dashboard-addmenu-item" *ngIf="displayAddChartMenu">
      <div class="msf-dashboard-addmenu-item-text" (click)="addChart(1)">1 Chart</div>
    </div>
    <div class="msf-dashboard-addmenu-item" *ngIf="displayAddChartMenu">
      <div class="msf-dashboard-addmenu-item-text" (click)="addChart(2)">2 Charts</div>
    </div>
    <div class="msf-dashboard-addmenu-item" *ngIf="displayAddChartMenu">
      <div class="msf-dashboard-addmenu-item-text" (click)="addChart(3)">3 Charts</div>
    </div>
  </div>
</div>
