<div class="msf-dashboard-container">
  <ng-container *ngIf="dashboardRows.length">
    <div class="msf-dashboard-chartbox">
      <div class="msf-dashboard-chartbox-row" *ngFor="let dashboardRow of dashboardRows">
        <div class="msf-dashboard-chartbox-item-{{dashboardRow.length}}" *ngFor="let dashboardChart of dashboardRow">
          <app-msf-dashboard-chartmenu [optionIds]="dashboardChart"></app-msf-dashboard-chartmenu>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="msf-dashboard-empty" *ngIf="!dashboardRows.length">
    You have not added any chart.<br>
    Click here to start!
  </div>
  <div class="msf-dashboard-addrowmenu">
      <div class="msf-dashboard-addrowmenu-item" (click)="ToggleAddChartMenu()">
        <div class="msf-dashboard-addrowmenu-item-text">
          <mat-icon class="msf-dashboard-icon" aria-label="add">add</mat-icon>
          <span class="msf-dashboard-addrowmenu-iten-addrowtext">ADD ROW</span>
        </div>
      </div>
      <div class="msf-dashboard-addrowmenu-item" *ngIf="addChartMenu">
          <div class="msf-dashboard-addrowmenu-item-text"(click)="AddChartRow(1)">1 Chart</div>
      </div>
      <div class="msf-dashboard-addrowmenu-item" *ngIf="addChartMenu">
          <div class="msf-dashboard-addrowmenu-item-text"(click)="AddChartRow(2)">2 Charts</div>
      </div>
      <div class="msf-dashboard-addrowmenu-item" *ngIf="addChartMenu">
          <div class="msf-dashboard-addrowmenu-item-text"(click)="AddChartRow(3)">3 Charts</div>
      </div>
  </div>
</div>
