.cdk-drag-preview
{
    display: inherit;
    margin: inherit;
    padding: inherit;
    width: inherit;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    opacity: 0.5;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-preview .msf-dashboard-chartbox-items .msf-dashboard-chartbox-column
{
    display: flex;
    flex-direction: row;
}

.cdk-drag-preview .msf-dashboard-chartbox-items .msf-dashboard-panel-size-properties-open
{
    position: relative;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2px;
    height: 60px;
    transition: 0.5s;
    font-size: 14px;
}

.cdk-drag-preview .msf-dashboard-chartbox-items .msf-dashboard-panel-size-properties-open .msf-dashboard-column-properties-align
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 20%;
}

.cdk-drag-preview .msf-dashboard-chartbox-items .msf-dashboard-panel-size-properties-open .msf-dashboard-column-button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.cdk-drag-preview .msf-dashboard-chartbox-items .msf-dashboard-panel-size-properties-open .msf-dashboard-columns-move-button
{
    display: flex;
    flex-direction: bottom;
    align-items: center;
    padding-left: 10px;
}

.cdk-drag-preview .msf-dashboard-chartbox-items .msf-dashboard-panel-size-properties-open .msf-dashboard-column-button .msf-dashboard-column-properties-button
{
    padding-left: 10px;
}

.cdk-drag-placeholder
{
    opacity: 0;
}

.cdk-drag-animating
{
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.msf-dashboard-chartbox-column.cdk-drop-list-dragging .msf-dashboard-chartbox-item:not(.cdk-drag-placeholder), .msf-dashboard-chartbox.cdk-drop-list-dragging .msf-dashboard-chartbox-column:not(.cdk-drag-placeholder)
{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
