<div [ngClass]="globals.popupLoading? 'tab-show' : 'tab-hide'" id="msf-dashboard-drill-down-loading" class="msf-dashboard-drill-down-loading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
</div>
<div class="msf-dashboard-control-variables-title" *ngIf="!globals.popupLoading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  {{data.title}}
</div>
<!--<div class="msf-dashboard-panel-container" *ngIf="!values.displayChart && !values.displayInfo">-->
<div class="msf-dashboard-panel-container" style="background-color: inherit; padding: inherit; color: #fff">
  <div class="msf-dashboard-panel-sub-container-column">
    <mat-form-field class="msf-full-width">
      <mat-select placeholder="Drill Down" (selectionChange)="loadChartFilterValues($event.value)">
        <ngx-mat-select-search [formControl]="dataFormFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="msf-dashboard-panel-sub-container-column">
    <mat-form-field [formGroup]="chartForm" class="msf-full-width">
      <mat-select formControlName="chartCtrl" placeholder="Chart Type" (selectionChange)="checkChartType($event.value)">
        <mat-option *ngFor="let chartType of data.chartTypes" [value]="chartType">
          {{chartType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-addmenu-icon-item">
      <mat-icon class="msf-dashboard-chart-icon" aria-label="Filter List">filter_list</mat-icon>
      <span class="msf-dashboard-addmenu-item-text">Chart Configuration</span>
    </div>
  </div>
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-chart-options-container">
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">bar_chart</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-full-width">
            <mat-select formControlName="variableCtrl" placeholder="Analysis by" (selectionChange)="checkVariable($event.value)">
              <ngx-mat-select-search [formControl]="variableFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">multiline_chart</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-full-width">
            <mat-select formControlName="xaxisCtrl" placeholder="x - Axis" (selectionChange)="checkXAxis($event.value)">
              <ngx-mat-select-search [formControl]="xaxisFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">show_chart</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-full-width">
            <mat-select formControlName="valueCtrl" placeholder="Values" (selectionChange)="checkValue($event.value)">
              <ngx-mat-select-search [formControl]="valueFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-chart-selector">
        <div class="msf-dashboard-chart-analysis-title">
          <mat-icon class="msf-dashboard-chart-icon">functions</mat-icon>
        </div>
        <div class="msf-dashboard-chart-op-container">
          <mat-form-field [formGroup]="chartForm" class="msf-full-width">
            <mat-select formControlName="functionCtrl" placeholder="Function" (selectionChange)="checkFunction($event.value)">
              <mat-option *ngFor="let fun of data.functions" [value]="fun">
                {{fun.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="msf-dashboard-panel-sub-container-column-reverse" style="margin-top: 9px">
        <button mat-flat-button class="flat-button" (click)="closeDialog()">OK</button>
        <div class="msf-dashboard-panel-control-variable-button">
          <button [disabled]="!currentValue" mat-mini-fab (click)="goToColorPicker()" color="primary">
            <mat-icon aria-label="Color Picker">palette</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>