<div [ngClass]="globals.popupLoading? 'tab-show' : 'tab-hide'" id="msf-dashboard-drill-down-loading" class="msf-dashboard-drill-down-loading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
</div>
<div class="msf-dashboard-control-variables-title" *ngIf="!globals.popupLoading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  {{data.title}}
</div>
<div class="msf-dashboard-panel-container" id="msf-dashboard-drill-down-container" *ngIf="data.childPanelValues.length">
  <div class="msf-dashboard-panel-sub-container-column">
    <mat-form-field class="msf-full-width" id="msf-dashboard-drill-down-container-column">
      <mat-select placeholder="Drill Down" (selectionChange)="loadChartFilterValues($event.value)">
        <ngx-mat-select-search [formControl]="dataFormFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="msf-dashboard-panel-sub-container-column">
    <mat-form-field [formGroup]="chartForm" class="msf-full-width" id="msf-dashboard-drill-down-container-column">
      <input matInput formControlName="panelNameCtrl" autocomplete="off" placeholder="Panel Name" [(value)]="currentValue == null ? '' : currentValue.chartName" (blur)="checkPanelName()"/>
    </mat-form-field>
  </div>
  <div class="msf-dashboard-panel-sub-container-column">
    <mat-form-field [formGroup]="chartForm" class="msf-full-width" id="msf-dashboard-drill-down-container-column">
      <mat-select formControlName="chartCtrl" placeholder="Chart Type" (selectionChange)="checkChartType($event.value)">
        <mat-option *ngFor="let chartType of chartTypes" [value]="chartType">
          {{chartType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="!isTablePanel()">
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-addmenu-icon-item">
        <mat-icon class="msf-dashboard-chart-icon" aria-label="Filter List">filter_list</mat-icon>
        <span class="msf-dashboard-addmenu-item-text">Chart Configuration</span>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">bar_chart</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width" id="msf-dashboard-drill-down-container-column">
              <mat-select formControlName="variableCtrl" placeholder="Analysis by" (selectionChange)="checkVariable($event.value)">
                <ngx-mat-select-search [formControl]="variableFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                  {{variable.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">multiline_chart</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width" id="msf-dashboard-drill-down-container-column">
              <mat-select formControlName="xaxisCtrl" placeholder="x - Axis" (selectionChange)="checkXAxis($event.value)">
                <ngx-mat-select-search [formControl]="xaxisFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                  {{variable.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">show_chart</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width" id="msf-dashboard-drill-down-container-column">
              <mat-select formControlName="valueCtrl" placeholder="Values" (selectionChange)="checkValue($event.value)">
                <ngx-mat-select-search [formControl]="valueFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                  {{variable.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">functions</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width" id="msf-dashboard-drill-down-container-column">
              <mat-select formControlName="functionCtrl" placeholder="Function" (selectionChange)="checkFunction($event.value)">
                <mat-option *ngFor="let fun of data.functions" [value]="fun">
                  {{fun.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="msf-dashboard-chart-selector">
          <mat-form-field class="msf-full-width" id="msf-dashboard-drill-down-container-column">
            <input matInput autocomplete="off" placeholder="Vertical Axis Name" [disabled]="vertAxisDisabled" [(ngModel)]="currentValue.vertAxisName">
          </mat-form-field>
        </div>
        <div class="msf-dashboard-chart-selector">
          <mat-form-field class="msf-full-width" id="msf-dashboard-drill-down-container-column">
            <input matInput autocomplete="off" placeholder="Horizontal Axis Name" [disabled]="horizAxisDisabled" [(ngModel)]="currentValue.horizAxisName">
          </mat-form-field>
        </div>
        <div class="msf-dashboard-panel-sub-container-column-reverse" id="msf-dashboard-drill-down-sub-container-column-reverse">
          <button mat-flat-button class="flat-button" (click)="closeDialog()">OK</button>
          <div class="msf-dashboard-panel-control-variable-button msf-child-panel-control-variable-button">
            <button [disabled]="!currentValue" [style.margin-left.px]="7" mat-mini-fab (click)="goToAdditionalSettings()" color="primary" matTooltip="Additional Settings">
              <img [style.width.px]="24" [style.height.px]="24" src="../../assets/images/additional-options.png"/>
            </button>
            <button [disabled]="!currentValue || (currentIndex != -1 && newPanel[currentIndex])" mat-mini-fab (click)="deletePanel(currentIndex)" color="primary" matTooltip="Delete Panel">
              <mat-icon aria-label="Delete Panel">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isTablePanel()">
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon" aria-label="Filter List">filter_list</mat-icon>
            <span class="msf-dashboard-addmenu-item-text">Column Selector</span>
          </div>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column" *ngIf="currentValue.tableVariables.length">
      <div class="msf-dashboard-chart-options-container" id="msf-dashboard-drill-down-table-container">
        <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-table-container-column">
          <div class="msf-dashboard-chart-op-container" id="msf-dashboard-panel-table-op-container" *ngFor="let tableVariable of currentValue.tableVariables; let column = index">
            <mat-checkbox class="cancels-checkbox" style="display: inline-block;" [(ngModel)]="tableVariable.checked" (ngModelChange)="checkIfPanelIsConfigured()">
              {{tableVariable.name}}
            </mat-checkbox>
          </div>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column" *ngIf="!currentValue.tableVariables.length">
      <div class="msf-dashboard-chart-options-container" id="msf-dashboard-drill-down-table-container">
        <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-table-container-column-empty">
          <div class="msf-no-results">
            You don't have added any variable to filter
          </div>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column-reverse" id="msf-dashboard-drill-down-sub-container-column-reverse">
      <button mat-flat-button class="flat-button" style="height: 40px" (click)="closeDialog()">OK</button>
      <div class="msf-dashboard-panel-control-variable-button msf-child-panel-control-variable-button">
        <button [disabled]="!currentValue || (currentIndex != -1 && newPanel[currentIndex])" mat-mini-fab (click)="deletePanel(currentIndex)" color="primary" matTooltip="Delete Panel">
          <mat-icon aria-label="Delete Panel">delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>