<div class="msf-dashboard-info-function-title">
    <div class="msf-dashboard-control-variables-close-button">
        <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="onNoClick()">close</mat-icon>
    </div>
    Add Dashboard
</div>
<div class="msf-dashboard-panel-sub-container-row msf-add-dashboard-container">
    <div class="msf-dashboard-function-measure dashboard-config-title">
        <mat-form-field>
            <input matInput autocomplete="off" type="text" placeholder="Title" [(ngModel)]="title"/>
        </mat-form-field>
    </div>
    <div class="msf-dashboard-function-measure dashboard-config-title">
        <mat-form-field>
            <textarea matInput 
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            placeholder="Description" [(ngModel)]="description"></textarea>
        </mat-form-field>
    </div>
    <div class="dashboard-config-location">
        <div class="dashboard-config-location-container">
            <span class="dashboard-config-location-placeholder" *ngIf="!selectedLocation">Location</span>
            <span class="dashboard-config-location-value" *ngIf="selectedLocation">{{selectedLocation.fullPath}}</span>
        </div>
        <button mat-flat-button class="flat-button dashboard-config-browser-button" (click)="openDashboardBrowser()">
            <mat-icon>folder_open</mat-icon>
        </button>
    </div>
</div>
<div class="msf-dashboard-control-variables-button">
    <button mat-flat-button class="flat-button" (click)="confirmChanges(true)" [mat-dialog-close]="data">OK</button>
    <span class="button-separator"></span>
    <button mat-flat-button class="flat-button" (click)="onNoClick()">Cancel</button>
</div>