<div class="datalake-explorer-container">
    <div class="datalake-explorer-header">
      <mat-form-field class="datalake-explorer-search-input-container">
        <input matInput class="datalake-explorer-search-input" type="text" placeholder="Search" autocomplete="off">
        <mat-icon class="search-icon" aria-label="search">search</mat-icon>
      </mat-form-field>      
      <div class="datalake-explorer-header-title">Execution History</div>
      <div class="datalake-explorer-buttons datalake-partition-icons-header">
          <button *ngIf="!currentScreen" mat-button 
          [ngClass]="{'datalake-explorer-button': detailView, 'datalake-explorer-button-selected': !detailView }"
          matTooltip="title 1 any"  (click)="changeView()">
              <mat-icon class="datalake-explorer-button-info-icon" aria-label="apps">apps</mat-icon>  
          </button>
          <button *ngIf="!currentScreen" mat-button 
          [ngClass]="{'datalake-explorer-button': !detailView, 'datalake-explorer-button-selected': detailView }"
          matTooltip="title any"  (click)="changeView()">
              <mat-icon class="datalake-explorer-button-info-icon" aria-label="menu">menu</mat-icon>
          </button>
      </div>
    </div>
    <div class="datalake-partitions-body">
        <app-datalake-execution-partition-view-detail #partitionDetail style="width: 100%;" *ngIf="detailView" [partitions]="partitions"></app-datalake-execution-partition-view-detail>     
    </div>
    <!--End Body-->      
  </div>