<div class="datalake-explorer-container">
    <div class="datalake-explorer-header">
        <mat-form-field class="datalake-explorer-search-input-container">
            <input matInput class="datalake-explorer-search-input" type="text" placeholder="Search" autocomplete="off">
            <mat-icon class="search-icon" aria-label="search">search</mat-icon>
        </mat-form-field>
        <div class="datalake-explorer-header-title">
            Datalake Explorer
        </div>
        <div class="datalake-explorer-buttons">
            <button mat-button class="datalake-explorer-button" (click)="addTableCard()" matTooltip="Add Table Card">
                <mat-icon class="add-icon">add</mat-icon>
            </button>
        </div>
    </div>
    <div class="datalake-explorer-grid-layout">
        <ng-container *ngFor="let tablecard of tablecards">
            <app-datalake-table-card></app-datalake-table-card>
        </ng-container>
    </div>
</div>