
    <div [style.visibility]="globals.dataSource && globals.currentOption.metaData==1 ? 'visible' : 'hidden'" #TABLE>
    <table  #table mat-table  [dataSource]="dataSource" matSort class="mat-elevation-z8 datasource">
    
        <ng-container  [matColumnDef]="column.columnName" *ngFor="let column of metadata">
          <th mat-header-cell *matHeaderCellDef mat-sort-header > {{column.columnLabel}} </th>
          <td mat-cell *matCellDef="let element"> 
            <span *ngIf="column.columnType!='number'">{{element[column.columnName]}} </span>
            <span *ngIf="column.columnType=='number'"> {{element[column.columnName] | number:'.0-2':'en'}} </span>
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height:30px;"></tr>
    </table>
    </div>

    <div *ngIf="!globals.dataSource">
        <div class="msf-no-results">Results not available, please select your Filters and click on Search button</div>
    </div>

    
    <div *ngIf="globals.dataSource && globals.currentOption.metaData==0 ? 'visible' : 'hidden'" #TABLE>
        <div class="financial-table-container" *ngFor="let table of template">
          <div class="financial-title">{{table.title}}</div>
          <div class="financial-table-item"  *ngFor="let tableItems of table.tableItems">
            <div class="financial-table-item-label-title">{{tableItems.label}}</div>
              <div class="financial-table-item-label" *ngFor="let childrenItems of tableItems.children">
                    {{childrenItems.label}}
              </div>
          </div>
        </div>
    </div>

  

