
<agm-map *ngIf="mapReady" [latitude]="lat" [longitude]="lng"  #AgmMap [styles]="styles" [zoom]='5' [style.height.%]="getHeight()">    

        <ng-container *ngFor="let polyline of polylines">
                <agm-marker
                  [iconUrl]="iconMarker" 
                  [latitude]="polyline.origin.latitude" 
                  [longitude]="polyline.origin.longitude" 
                  [label]="{
                    color: '#01abec',
                    text: polyline.origin.origin
                    }"
                  >
                </agm-marker>
                <ng-container *ngFor="let point of polyline.path; let i = index ">
                    <agm-marker   *ngIf="paintMarker(i, point, polyline.path)"              
                        [iconUrl]="iconMarker"
                        [latitude]="point.latitude"
                        [longitude]="point.longitude"
                          >
                    </agm-marker>
                </ng-container>
            
                <agm-marker
                  [iconUrl]="iconMarker" 
                  [latitude]="polyline.dest.latitude" 
                  [longitude]="polyline.dest.longitude" 
                  [label]="{
                    color: '#01abec',
                    text: polyline.dest.destination
                    }"
                  >
              </agm-marker>
        </ng-container>  
    
     </agm-map>
     <div id="chartdiv" [style.width.%]="100" [style.height.%]="40" style="display: block;background-color: #000; color: #fff;"></div>
     