<div class="msf-dashboard-info-function-title">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="confirmChanges(false)">close</mat-icon>
  </div>
  Publicize Dashboard
</div>
<div class="msf-dashboard-panel-sub-container-row msf-edit-dashboard-container publicize-dashboard-container">
  <div class="msf-dashboard-function-measure dashboard-config-title">
    <mat-form-field [formGroup]="publicForm">
      <input matInput autocomplete="off" type="text" placeholder="Public Dashboard Name" (change)="checkPublicDashboardName($event.target.value)" formControlName="nameValidator"/>
      <mat-error *ngIf="publicForm.get('nameValidator')?.invalid">{{getNameErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="airline-restrictions-title">Date Expiration</div>
  <div class="center msf-component-radio date-restriction-radio-group">
    <mat-radio-group [(ngModel)]="expirable" (ngModelChange)="clearExpirationDate()">
      <mat-radio-button [value]="false">No Expiration</mat-radio-button>
      <mat-radio-button class="msf-radio" [value]="true">Have Expiration</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="msf-component-date-input-container msf-single-date date-restriction-input-container" *ngIf="expirable">
    <mat-form-field class="msf-full-width msf-single-date">
      <input matInput class="msf-component-airport-container mat-input-element" [(ngModel)]="publicDashboardInfo.expirationDate" [matDatepicker]="picker" placeholder="Expiration Date" autocomplete="off" (click)="picker.open()" [readonly]="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</div>
<div class="msf-dashboard-control-variables-button">
  <button mat-flat-button class="flat-button" (click)="confirmChanges(true)">OK</button>
  <span class="button-separator"></span>
  <button mat-flat-button class="flat-button" (click)="confirmChanges(false)">Cancel</button>
</div>
