<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>    
<div class="center">
    <div class="msf-component-airport-title msf-component-checkbox-title">
        <mat-checkbox class="msf-component-airport-title" [value]="all" [(ngModel)]="all.checked" (change)="checkBoxAllChange()" >
            Select/De-Select All
        </mat-checkbox>
    </div>
</div> 
<div class="msf-component-airport-input-container checkbox-container">
    <div class="msf-full-width flex-container">
        <mat-checkbox class="cancels-checkbox" *ngFor="let checkbox of data" [value]="checkbox.value" [(ngModel)]="checkbox.checked" (change)="checkBoxChange(checkbox)" >
            {{checkbox.name}}
        </mat-checkbox>
    </div>      
</div>