<div class="msf-dashboard-assistant-loading" *ngIf="isLoading"></div>
<div [ngStyle]="{ 'display': checkVisibility() }">
  <div class="msf-dashboard-assistant-header">
    <span class="msf-dashboard-assistant-title">
      Chart Configuration Assistant
    </span>
    <div class="msf-dashboard-assistant-buttons">
      <button *ngIf="stepper.selectedIndex" class="msf-dashboard-assistant-step-button flat-button" mat-button (click)="goBack(stepper)">
        <mat-icon>arrow_back_ios</mat-icon>
        BACK
      </button>
      <button *ngIf="stepper.selectedIndex != 2" class="msf-dashboard-assistant-step-button msf-dashboard-assistant-next-button flat-button" mat-button (click)="goForward(stepper)">
        NEXT
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
      <button *ngIf="stepper.selectedIndex == 2" class="msf-dashboard-assistant-step-button msf-dashboard-assistant-next-button flat-button" mat-button>
        FINISH
        <mat-icon>flag</mat-icon>
      </button>
    </div>
    <div class="close-button" (click)="closeWindow()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="msf-dashboard-assistant-body">
    <div class="msf-dashboard-assistant-stepper">
      <mat-vertical-stepper [linear]="true" #stepper>
        <ng-template matStepperIcon="edit">
          <mat-icon>check</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number" let-index="index" let-active="active">
          <span *ngIf="active">
            <mat-icon>edit</mat-icon>
          </span>
          <span *ngIf="!active">{{index + 1}}</span>
        </ng-template>
        <mat-step>
          <ng-template matStepLabel>
            <div class="msf-dashboard-assistant-step-container">
              <span class="msf-dashboard-assistant-label">STEP 1</span>
              <span class="msf-dashboard-assistant-subtitle">TABLE CONFIGURATION</span>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <div class="msf-dashboard-assistant-step-container">
              <span class="msf-dashboard-assistant-label">STEP 2</span>
              <span class="msf-dashboard-assistant-subtitle">CHART TYPE</span>
            </div>
          </ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>
            <div class="msf-dashboard-assistant-step-container">
              <span class="msf-dashboard-assistant-label">STEP 3</span>
              <span class="msf-dashboard-assistant-subtitle">DISTRIBUTION CHART</span>
            </div>
          </ng-template>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    <span [ngStyle]="{ 'display': checkStep1Visibility(stepper) }">
      <div class="msf-dashboard-assistant-content">
        <div class="msf-dashboard-assistant-tab-group">
          <mat-tab-group #tabs>
            <mat-tab *ngFor="let controlVariable of currentOptionCategories">
              <ng-template mat-tab-label>
                <mat-icon *ngIf="controlVariable.icon && isMatIcon(controlVariable.icon)" class="msf-dashboard-control-panel-tab-icon">{{controlVariable.icon}}</mat-icon>
                <img *ngIf="controlVariable.icon && !isMatIcon(controlVariable.icon)" src="{{getImageIcon(controlVariable)}}" class="msf-dashboard-control-panel-tab-icon">
                {{controlVariable.label}}
              </ng-template>
              <div class="msf-dashboard-assistant-tab-container">
                <div class="msf-dashboard-assistant-tab-info">
                  <div class="msf-dashboard-assistant-argument">
                    <span *ngFor="let argument of controlVariable.arguments">
                      <span *ngIf="argument.label1">
                        {{argument.label1}}
                        <span *ngIf="!argument.label1.endsWith(':')">
                          :
                        </span>
                      </span>
                      <span class="msf-dashboard-assistant-argument-value" *ngIf="!argument.value1 || argument.value1 === ''">
                        N/A
                      </span>
                      <ng-container *ngIf="argument.value1">
                        <span class="msf-dashboard-assistant-argument-value" *ngIf="isArray(argument.value1)">
                          <span *ngFor="let value of argument.value1; let i = index">
                            <span *ngIf="value.name">
                              {{value.name}}
                            </span>
                            <span *ngIf="value.label">
                              {{value.label}}
                            </span>
                            <span *ngIf="i != argument.value1.length - 1">,</span>
                          </span>
                        </span>
                        <span class="msf-dashboard-assistant-argument-value" *ngIf="!isArray(argument.value1)">
                          <span *ngIf="isDate(argument.value1)">
                            {{parseDate(argument.value1)}}
                          </span>
                          <span *ngIf="!isDate(argument.value1)">
                            {{argument.value1}}
                          </span>
                        </span>
                      </ng-container>
                    </span>
                  </div>
                  <div class="msf-dashboard-assistant-argument">
                    <span *ngFor="let argument of controlVariable.arguments">
                      <ng-container *ngIf="argument.value2">
                        <span *ngIf="argument.label2">
                          {{argument.label2}}
                          <span *ngIf="!argument.label2.endsWith(':')">
                            :
                          </span>
                        </span>
                        <span class="msf-dashboard-assistant-argument-value" *ngIf="isArray(argument.value2)">
                          <span *ngFor="let value of argument.value2; let i = index">
                            <span *ngIf="value.name">
                              {{value.name}}
                            </span>
                            <span *ngIf="value.label">
                              {{value.label}}
                            </span>
                            <span *ngIf="i != argument.value2.length - 1">,</span>
                          </span>
                        </span>
                        <span class="msf-dashboard-assistant-argument-value" *ngIf="!isArray(argument.value2)">
                          <span *ngIf="isDate(argument.value2)">
                            {{parseDate(argument.value2)}}
                          </span>
                          <span *ngIf="!isDate(argument.value2)">
                            {{argument.value2}}
                          </span>
                        </span>
                      </ng-container>
                    </span>
                  </div>
                  <div class="msf-dashboard-assistant-argument">
                    <span *ngFor="let argument of controlVariable.arguments">
                      <ng-container *ngIf="argument.value3">
                        <span *ngIf="argument.label3">
                          {{argument.label3}}
                          <span *ngIf="!argument.label3.endsWith(':')">
                            :
                          </span>
                        </span>
                        <span class="msf-dashboard-assistant-argument-value" *ngIf="isArray(argument.value3)">
                          <span *ngFor="let value of argument.value3; let i = index">
                            <span *ngIf="value.name">
                              {{value.name}}
                            </span>
                            <span *ngIf="value.label">
                              {{value.label}}
                            </span>
                            <span *ngIf="i != argument.value3.length - 1">,</span>
                          </span>
                        </span>
                        <span class="msf-dashboard-assistant-argument-value" *ngIf="!isArray(argument.value3)">
                          <span *ngIf="isDate(argument.value3)">
                            {{parseDate(argument.value3)}}
                          </span>
                          <span *ngIf="!isDate(argument.value3)">
                            {{argument.value3}}
                          </span>
                        </span>
                      </ng-container>
                    </span>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="msf-dashboard-assistant-table msf-dashboard-child-panel-table">
          <app-msf-table #msfTableRef [isLoading]="isLoading" (finishLoading)="finishLoadingTable($event)" [categoryArguments]="currentOptionCategories" [currentOption]="currentOption" [isPanel]="false"></app-msf-table>
        </div>
      </div>
    </span>
  </div>
</div>