
<div class="msf-intro-body1" [style.width.%]="100" [style.height.%]="100">
    <div class="msf-current-query-summay-container msf-option-welcome-container" [style.width.%]="100">
        <div class="msf-summary-title msf-welcome-title">Fleet Analysis Applications</div>
        <div class="msf-summary-div-container">
          <div class="msf-inline msf-welcome-inline">
            FLEET applications provide detail about specific aircraft or airline fleet types. Review ownership and aircraft configuration data (including seat capacity, engine configuration, production 
            data and other relevant data) as well as domestic flight operational history for that aircraft or (sub-)fleet.</div>
        </div>
        <div class="msf-summary-title msf-welcome-title">Data Availability</div>
        <div class="msf-summary-div-container">
          <div class="msf-inline msf-welcome-inline">
            FLEET applications provide detail about specific aircraft or airline fleet types. Review ownership and aircraft configuration data (including seat capacity, engine configuration, production 
            data and other relevant data) as well as domestic flight operational history for that aircraft or (sub-)fleet.</div>
        </div>        
    </div>        
</div>

