<div class="msf-dashboard-menu-arguments-container-show">
  <div class="msf-component-airport-container">
    <div class="center">
      <div class="msf-component-airport-title">Enter Coordinates</div>
    </div>
    <div class="msf-component-date-input-container">
      <mat-form-field class="msf-full-width msf-flight-number">
        <textarea matInput placeholder="List of Coordinates" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="11" class="msf-full-width msf-menu-arg-select" [(ngModel)]="globals.coordinates"></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
