<!--Header-->
<div class="msf-menu-header">
    <div class="msf-menu-header-image-container">
        <img (click)="goHome()" style="cursor:pointer;" src="../../assets/images/logo_global_peqe.png" class="msf-menu-logo">
        <img src="../../assets/images/ajustes.png" class="msf-menu-ajustes-icon">
    </div>
    <div class="msf-menu-container">
        <app-menu [menu]="menu"></app-menu>
    </div>    
    <div class="msf-header-icons">        
            <div class="msf-inline msf-vertical-middle">Admin</div>
            <img src="../../assets/images/ADMIN.png" class="msf-menu-admin-icon">
            <button mat-icon-button [matMenuTriggerFor]="adminMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #adminMenu="matMenu">
                <button mat-menu-item routerLink="/admin-menu">
                    <mat-icon>settings</mat-icon>
                    <span>Admin Menu</span>
                </button>  
                <button mat-menu-item routerLink="/create-membership">
                    <mat-icon>settings</mat-icon>
                    <span>Memberships</span>
                </button>                                
            </mat-menu>      
    </div>
</div>
<div class="msf-menu-icons-container">
    <div class="msf-secondary-color msf-menu-icon-container msf-menu-adm">connected as: admin</div>
    <div class="msf-menu-icon-container">|  {{globals.currentOption ?globals.currentOption.label:''}}</div>
    <div class="msf-menu-icon-container msf-flex msf-menu-icons-right">        
        <button [disabled]="!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 " class="msf-menu-icon" (click)="dynamicTable()" ><img src="../../assets/images/dynamicTable.png" class="msf-menu-image msf-vertical-middle" ><span  class="msf-vertical-middle">Dynamic Table</span></button>
        <button [disabled]="!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 " class="msf-menu-icon" (click)="openChart()" ><img src="../../assets/images/Chart.png" class="msf-menu-image msf-vertical-middle" ><span  class="msf-vertical-middle">Chart</span></button>
        <button class="msf-menu-icon" (click)="openDashboard()"><img src="../../assets/images/Chart.png" class="msf-menu-image msf-vertical-middle" ><span  class="msf-vertical-middle">Dashboard</span></button>
        <button [disabled]="!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 " class="msf-menu-icon"><img src="../../assets/images/ExporttoExcel.png" class="msf-menu-image msf-vertical-middle" ><span  class="msf-vertical-middle" (click)="exportToExcel()">Export Excel</span></button>
        <button class="msf-menu-icon"><img src="../../assets/images/CopytoClipboard.png" class="msf-menu-image msf-vertical-middle"><span class="msf-vertical-middle">Copy to Clipboard</span></button>
        <button class="msf-menu-icon"><img src="../../assets/images/LoadingOptions.png" class="msf-menu-image msf-vertical-middle"><span class="msf-vertical-middle">Loading Options</span></button>
        <button class="msf-menu-icon"><img src="../../assets/images/SaveOptions.png" class="msf-menu-image msf-vertical-middle"><span class="msf-vertical-middle">Save Options</span></button>
    </div>
</div>

<!--body-->
<div class="msf-menu-body">
    
    <!--nav-->
    <div [ngClass]="globals.status  ? 'msf-menu-nav msf-menu-show-nav' : 'msf-menu-nav msf-menu-hide-nav'" >
        <div [ngClass]="globals.status  ? 'msf-menu-components-container-show' : 'msf-menu-components-container-hide'" >
            <div class="msf-category-container">
                <app-msf-component *ngIf="globals.currentOption && globals.currentOption.menuOptionArguments && globals.currentOption.menuOptionArguments.length > 0 && globals.currentOption.menuOptionArguments[0].categoryArguments.length > 0"></app-msf-component>
            </div>            
            <button  [disabled]="disabled()" [ngClass]="disabled()?'msf-menu-search-button-disabled':'msf-menu-search-button-enabled'" (click)="search()">Search</button >
        </div>
        <div (click)="toogle()" [ngClass]="globals.status  ? 'msf-menu-hide-button-open': 'msf-menu-hide-button-close'">
            <i *ngIf="globals.status" class="material-icons msf-menu-row-left-icon">chevron_left</i>
            <i *ngIf="!globals.status" class="material-icons msf-menu-row-right-icon">chevron_right</i>
        </div>
    </div>
    
    <!--container-->
    <div [ngClass]="globals.status  ? 'msf-menu-content msf-menu-content-whith-nav' : 'msf-menu-content msf-menu-content-without-nav'">
        <div class="msf-menu-internal-content">
            <app-msf-container #msfContainerRef ></app-msf-container>
        </div>
        <div  [ngClass]="globals.moreResultsBtn ? 'msf-menu-more-button' : 'msf-menu-more-button disabled-more-button'" 
            (click)="moreResults()"  *ngIf="msfContainerRef.msfTableRef && msfContainerRef.msfTableRef.dataSource">
            <img style="width: 16px;height: 16px;" src="../../assets/images/more.png" class="msf-menu-image msf-vertical-middle msf-line">
            <div class="msf-vertical-middle msf-line" style="font-size: 13px">More Result</div>
        </div>
        
    </div>

</div>