<!--Header-->
<div *ngIf="(mobileQuery.matches || ResponsiveQuery.matches) ||(!globals.isFullscreen && !mobileQuery.matches || (globals.isFullscreen && globals.currentOption !== 'dashboard' && !mobileQuery.matches && !ResponsiveQuery.matches))"
    class="msf-menu-header">
    <!-- div to Menu Mobile-->
    <div *ngIf="mobileQuery.matches || ResponsiveQuery.matches" class="msf-mobile-menu-header">
        <button *ngIf="((globals.showMenu || globals.showIntroWelcome) && mobileQuery.matches) 
        || ResponsiveQuery.matches && !mobileQuery.matches" class="mat-icon-menu" mat-icon-button
            (click)="showMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <button *ngIf="!globals.showMenu && !globals.showIntroWelcome && mobileQuery.matches" class="mat-icon-menu" mat-icon-button
            (click)="backMenu()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <!---->
    <div 
    [ngClass]="mobileQuery.matches ? 'msf-menu-header-image-container is-mobile'
                                     :(ResponsiveQuery.matches ? 'msf-menu-header-image-container is-MQueryresponsive':'msf-menu-header-image-container')">
         <img (click)="goHome()" style="cursor:pointer;" src="../../assets/images/{{globals.theme}}-pulse_welc.png"
            class="msf-menu-logo">
        <img src="../../assets/images/{{globals.theme}}-adjust.png" class="msf-menu-ajustes-icon">
    </div>
    <div [style.display]="getMenuVisibility()" class="msf-menu-container">
        <app-menu [menu]="menu" [dashboards]="dashboards" [sharedDashboards]="sharedDashboards" [dashboardCategories]="dashboardCategories"
            (optionChanged)="optionHandler()"></app-menu>
    </div>
    <div [ngClass]="mobileQuery.matches ? 'msf-header-icons is-mobile'
                                     :(ResponsiveQuery.matches ? 'msf-header-icons is-MQueryresponsive':'msf-header-icons')">
        <!-- <div class="msf-header-icons2"></div> -->
        <img *ngIf="!mobileQuery.matches" src="../../assets/images/global_logo_small.png" class="msf-header-icons2">

        <div *ngIf="globals.currentUser" style="padding: 0px; margin: 0px;
        border: 0px; margin-left: 5px;
        /*width: calc(70% - 35px);*/
        display: flex;
        justify-content: center;">
            <button mat-button style="height: 60px;     padding: 0px;
            margin: 0px;
            border: 0px; font-size: 12px;" [matMenuTriggerFor]="userMenu">
                {{globals.currentUser}}
                <mat-icon style="font-size: 20px; width: 20px;height: 20px;">person</mat-icon>
            </button>
        </div>
        <!-- <div> -->
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logOut()">
                <mat-icon class="mat-menu-item-icon">exit_to_app</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="adminMenu" style="padding: 0px;
            margin: 0px;
            border: 0px;
            width: 30px;">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #adminMenu="matMenu">
            <button *ngIf="globals.SuperAdmin"  mat-menu-item routerLink="/admin-menu">
                <mat-icon class="mat-menu-item-icon">settings</mat-icon>
                <span>Menu Administration</span>
            </button>
            <button *ngIf="globals.SuperAdmin" mat-menu-item routerLink="/arguments-category">
                <mat-icon class="mat-menu-item-icon">category</mat-icon>
                <span>Arguments Category Administration</span>
            </button>
            <button *ngIf="globals.SuperAdmin" mat-menu-item routerLink="/arguments-groups">
                <mat-icon class="mat-menu-item-icon">group_work</mat-icon>
                <span>Arguments Group Administration</span>
            </button>
            <button  *ngIf="globals.SuperAdmin" mat-menu-item routerLink="/create-membership">
                <mat-icon class="mat-menu-item-icon">contacts</mat-icon>
                <span>Memberships</span>
            </button>
            <button *ngIf="globals.admin || globals.SuperAdmin" mat-menu-item routerLink="/user-activation">
                <mat-icon class="mat-menu-item-icon">supervisor_account</mat-icon>
                <span>Users Activation</span>
            </button>
            <button *ngIf="globals.admin || globals.SuperAdmin" mat-menu-item routerLink="/create-customer">
                <mat-icon class="mat-menu-item-icon">business</mat-icon>
                <span>Customers</span>
            </button>
            <button *ngIf="globals.SuperAdmin && globals.testingPlan != -1" mat-menu-item (click)="stopPlanTest()">
                <mat-icon class="mat-menu-item-icon">card_membership</mat-icon>
                <span>Stop Testing Membership</span>
            </button>
        </mat-menu>
        <!-- </div> -->
    </div>
</div>
<div *ngIf="(!globals.isFullscreen && !mobileQuery.matches 
            || (globals.isFullscreen && globals.currentOption !== 'dashboard') &&  !mobileQuery.matches )  
            || (mobileQuery.matches && !globals.showMenu) " 
            class="msf-menu-icons-container">
    <div *ngIf="!mobileQuery.matches || (mobileQuery.matches && !globals.showMenu && !globals.showDashboard) "
        [ngClass]="mobileQuery.matches ? (globals.showTabs ? 'msf-menu-icons-left':'msf-menu-icons-left-mobile') :'msf-menu-icons-left'">
        <span *ngIf="globals.currentOption != 'categoryAdmin'">{{globals.currentOption ? globals.currentOption.label:''}}</span>
        <span *ngIf="globals.currentOption == 'categoryAdmin'">Dashboard Category Manager</span>
    </div>
    <div *ngIf="!mobileQuery.matches || (mobileQuery.matches && !globals.showMenu && (globals.showTabs || globals.showDashboard)) "
        [ngClass]="mobileQuery.matches ? (globals.showTabs ? 'msf-menu-icons-right':'msf-menu-icons-right-mobile') :'msf-menu-icons-right'">
        <button *ngIf="globals.currentOption !== 'dashboard' && globals.currentOption !== 'categoryAdmin'"
            [disabled]="(!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 || globals.mapsc) || !dynamicTablePlan"
            class="msf-menu-icon" (click)="dynamicTable()">
            <img src="../../assets/images/{{globals.theme}}-dynamicTable.png"
                class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Dynamic Table</span>
        </button>
        <!-- <button [disabled]="(!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0) || !chartPlan" class="msf-menu-icon" (click)="openChart()"><img src="../../assets/images/Chart.png" class="msf-menu-image msf-vertical-middle" ><span  class="msf-vertical-middle">Chart</span></button> -->
        <button *ngIf="globals.currentOption !== 'dashboard' && globals.currentOption !== 'categoryAdmin'"
            [disabled]="(!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 || globals.mapsc) || !exportExcelPlan"
            class="msf-menu-icon" (click)="exportToExcel()">
            <img src="../../assets/images/{{globals.theme}}-ExporttoExcel.png"
                class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Export Excel</span>
        </button>
        <button *ngIf="globals.currentOption !== 'dashboard' && globals.currentOption !== 'categoryAdmin'"
            [disabled]="(!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 || globals.mapsc) || !exportExcelPlan"
            class="msf-menu-icon" (click)="exportToCSV()">
            <img src="../../assets/images/{{globals.theme}}-csv.png"
                class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Export CSV</span>
        </button>
        <button *ngIf="globals.currentOption !== 'dashboard' && globals.currentOption !== 'categoryAdmin'"
            [disabled]="(!msfContainerRef.msfTableRef || !msfContainerRef.msfTableRef.dataSource || msfContainerRef.msfTableRef.dataSource.length < 0 || globals.mapsc) || !exportExcelPlan"
            class="msf-menu-icon" (click)="columnSelector()">
            <img src="../../assets/images/{{globals.theme}}-ColumnSelector.png"
                class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Column Selector</span>
        </button>
        <!-- <button class="msf-menu-icon"><img src="../../assets/images/CopytoClipboard.png" class="msf-menu-image msf-vertical-middle"><span class="msf-vertical-middle">Copy to Clipboard</span></button>
        <button class="msf-menu-icon"><img src="../../assets/images/LoadingOptions.png" class="msf-menu-image msf-vertical-middle"><span class="msf-vertical-middle">Loading Options</span></button> -->
        <button *ngIf="globals.currentOption === 'dashboard'" class="msf-menu-icon" (click)="setDefaultDashboard()">
            <img src="../../assets/images/{{globals.theme}}-thumbtack.png" class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches && !isDefaultDashboard()">Set As Default
                Dashboard</span>
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches && isDefaultDashboard()">Unset Default
                Dashboard</span>
        </button>
        <button *ngIf="globals.currentOption === 'dashboard' && !globals.readOnlyDashboardPlan" class="msf-menu-icon"
            (click)="exportDashboardAsPNG()">
            <img src="../../assets/images/{{globals.theme}}-SaveOptions.png" class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Export Dashboard As PNG</span>
        </button>
        <button *ngIf="globals.currentOption === 'dashboard' && !globals.readOnlyDashboardPlan" class="msf-menu-icon"
            (click)="editDashboard()">
            <img src="../../assets/images/{{globals.theme}}-Chart.png" class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Dashboard Settings</span>
        </button>
        <button *ngIf="globals.currentOption === 'dashboard' && !globals.readOnlyDashboardPlan" class="msf-menu-icon"
            (click)="shareDashboard()">
            <img src="../../assets/images/{{globals.theme}}-share.png" class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches"> Share Dashboard</span>
        </button>
        <button *ngIf="globals.currentOption === 'dashboard'" class="msf-menu-icon" (click)="deleteDashboard()">
            <img src="../../assets/images/{{globals.theme}}-trash-small.png" class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Delete Dashboard</span>
        </button>
        <button class="msf-menu-icon" *ngIf="!globals.isFullscreen" (click)="goToFullscreen()">
            <img src="../../assets/images/{{globals.theme}}-fullscreen.png" class="msf-menu-image msf-vertical-middle">
            <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Full Screen</span>
        </button>
    </div>
</div>

<!--body-->
<div class="msf-menu-body" [class.is-mobile]="mobileQuery.matches">
    <!--nav-->
    <div
        [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
        || (mobileQuery.matches && isSimpleContent() && globals.showDashboard) ? 'msf-menu-hide-full-nav' : 
        (mobileQuery.matches ? (globals.showCategoryArguments || globals.showMenu ? 'msf-menu-show-full-nav-mobile':'msf-menu-show-full-nav')
        :'msf-menu-show-full-nav')">        
        <div
            [ngClass]="mobileQuery.matches ? 
            (globals.showCategoryArguments || globals.showMenu ? 'msf-menu-nav msf-menu-show-nav-mobile' 
                                             :'msf-menu-nav msf-menu-hide-nav-mobile') 
                                        : (globals.status ? 'msf-menu-nav msf-menu-show-nav' : 'msf-menu-nav msf-menu-hide-nav')">
            <div
                [ngClass]="mobileQuery.matches ? (globals.showCategoryArguments || globals.showMenu? 'msf-menu-components-container-show-mobile':'msf-menu-components-container-hide') : (globals.status ? 'msf-menu-components-container-show' : 'msf-menu-components-container-hide')"
                [class.is-mobile]="mobileQuery.matches && globals.showMenu" [class.is-responsive]="ResponsiveQuery.matches && !mobileQuery.matches">

                <div class="msf-category-container" [class.is-mobile]="mobileQuery.matches"
                    [ngClass]="(globals.currentOption && globals.currentOption.metaData == 3) ? 'msf-hide' : (globals.hideParametersPanels ? 'msf-hide':'msf-category-container')"
                    *ngIf="((mobileQuery.matches || ResponsiveQuery.matches) && !globals.showMenu) || (!mobileQuery.matches && !ResponsiveQuery.matches)">
                    <app-msf-component [currentOption]="globals.currentOption"
                        *ngIf="globals.currentOption && globals.currentOption.menuOptionArguments && globals.currentOption.menuOptionArguments.length > 0 && globals.currentOption.menuOptionArguments[0].categoryArguments.length > 0">
                    </app-msf-component>
                </div>
                <app-menu-nav *ngIf="(ResponsiveQuery.matches || mobileQuery.matches) && globals.showMenu" [menu]="menu" [dashboards]="dashboards"
                    [sharedDashboards]="sharedDashboards" [dashboardCategories]="dashboardCategories" (optionChanged)="optionHandler()"></app-menu-nav>
                <div class="msf-category-container"
                    [ngClass]="(globals.currentOption && globals.currentOption.metaData != 3) ? 'msf-hide' : (globals.hideParametersPanels ? 'msf-hide':'msf-category-container')">
                    <app-msf-map-coordinates></app-msf-map-coordinates>
                </div>
                <button  *ngIf="((ResponsiveQuery.matches || mobileQuery.matches) && !globals.showMenu) || (!ResponsiveQuery.matches || !mobileQuery.matches)"
                 [disabled]="disabled()" [ngClass]="{
                    'msf-menu-search-button' : (!globals.hideParametersPanels || globals.status),
                    'msf-hide' : (globals.hideParametersPanels || !globals.status)}"
                    [class.is-mobile]="mobileQuery.matches" (click)="search()">Search</button>
                <app-msf-schedule-panel *ngIf="((mobileQuery.matches || ResponsiveQuery.matches) && !globals.showMenu && globals.hideParametersPanels) 
                || (!ResponsiveQuery.matches && !globals.showMenu  && globals.hideParametersPanels)"></app-msf-schedule-panel>
            </div>
            <div *ngIf="!mobileQuery.matches" (click)="toggle()"
                [ngClass]="globals.status ? 'msf-menu-hide-button-open': 'msf-menu-hide-button-close'">
                <i *ngIf="globals.status" class="material-icons msf-menu-row-left-icon">chevron_left</i>
                <i *ngIf="!globals.status" class="material-icons msf-menu-row-right-icon">chevron_right</i>
            </div>
        </div>
    </div>

    <!--container-->
    <div
        [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
        || (mobileQuery.matches && isSimpleContent() && globals.showDashboard)  ? 'msf-menu-simple-content' 
                                       : (mobileQuery.matches ? (globals.showCategoryArguments || globals.showMenu ? 'msf-menu-show-full-nav-component-hide' 
                                                                                                 :'msf-menu-show-full-nav-component-wide is-mobile')                                 
                                                                                                                            : (globals.status ? 'msf-menu-show-full-nav-component' : 'msf-menu-show-full-nav-component-wide'))">
        <div
            [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
            || (mobileQuery.matches && isSimpleContent() && globals.showDashboard)   ? 'msf-menu-simple-content' 
                                            : (mobileQuery.matches ? ((globals.showPaginator && !globals.isLoading) ? 'msf-menu-content msf-menu-tabs-content-mobile-with-paginator' : 'msf-menu-content msf-menu-tabs-content-mobile')
                                                                        : 'msf-menu-content msf-menu-tabs-content')">
            <div
                [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
                || (mobileQuery.matches && isSimpleContent() && globals.showDashboard)  ? 'msf-menu-internal-simple-content' 
                                               : (mobileQuery.matches ? (globals.showMenu ? 'msf-menu-internal-content-all-mobile'
                                                                        : (globals.showTabs ? 'msf-menu-internal-content-tabs': 'msf-menu-internal-content-mobile'))
                                                                        : 'msf-menu-internal-content') "  [class.is-MQueryresponsive]="ResponsiveQuery.matches">
                <app-msf-container #msfContainerRef [paginator]="paginator" [pageIndex]="pageIndex" (lengthpaginator)="lengthpaginator($event)" (moreResult)="moreResult($event)" (refreshDashboardMenu)="refreshDashboardMenu()"></app-msf-container>
                <!-- <app-menu-nav *ngIf="(ResponsiveQuery.matches || mobileQuery.matches) && globals.showMenu " [menu]="menu" [dashboards]="dashboards"
                    [dashboardCategories]="dashboardCategories" [sharedDashboards]="sharedDashboards"></app-menu-nav> -->
            </div>            
            <mat-paginator #paginator [pageIndex]="pageI" [pageSize]="pageSize" [length]="lengthpag"
             hidePageSize
            (page)="pageEvent = getServerData($event)" showFirstLastButtons
            [ngClass]="(globals.showPaginator && !globals.isLoading)  || (mobileQuery.matches && globals.showCategoryArguments) ? 'msf-paginator-table':'msf-hide'"></mat-paginator>
             <div [ngClass]="globals.moreResultsBtn && !globals.isLoading ? 'msf-menu-more-button' : 'msf-menu-more-button disabled-more-button'"
                (click)="moreResults()"
                *ngIf="(globals.dataSource && !globals.mapsc && !mobileQuery.matches && showMoreResult) || (mobileQuery.matches && globals.showCategoryArguments)">
                <img style="width: 16px;height: 16px;" src="../../assets/images/{{globals.theme}}-more.png"
                    class="msf-menu-image msf-vertical-middle msf-line">
                <div class="msf-vertical-middle msf-line" style="font-size: 13px">More Result</div>
            </div>
        </div>
    </div>
</div>