
.panelinfo{
    width: 184px;
    height: 95px;
    background-color: #1e1e1e;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding: 5px;
    border-style: solid;
    border-color: #343332;

}

.msf-schedule-panel-info{
    color:  white;
    width: 170px;
}

.msf-schedule-panel-info td:nth-child(2) { 
    font-size: 15px;
    padding-left: 5px;
}
