<div class="datalake-create-table-loading" *ngIf="isLoading"></div>
<div [ngStyle]="{ 'display': checkVisibility() }">
  <div class="datalake-create-table-header">
    <div class="datalake-create-table-title">
      Data Ingestions
    </div>
    <div class="datalake-create-table-button">
      <button mat-icon-button (click)="onNoClick(null)">
        <mat-icon aria-label="Close">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="datalake-create-table-body">
    <mat-tab-group #tabs [selectedIndex]="getSelectedIndex()" (selectedIndexChange)="tabIndexChange($event)">
      <mat-tab [disabled]="actionDisable('Create New Table') || data.createdTable" label="Create New Table">
        <app-datalake-create-new-structure [schemas]="schemas" [buckets]="buckets" 
        (closeDialog)="onNoClick($event)" (startLoading)="startLoading()" (stopLoading)="stopLoading()">
      </app-datalake-create-new-structure>
        <!-- <app-datalake-create-new-structure [schemas]="schemas" [buckets]="buckets" (closeDialog)="onNoClick($event)"></app-datalake-create-new-structure> -->
      </mat-tab>
      <mat-tab [disabled]="actionDisable('Data Upload')" label="Data Upload">
        <!-- <app-datalake-data-upload #upload [schemas]="schemas" [buckets]="buckets" [Datavalue]="data" 
        (closeDialog)="onNoClick(null)" (startLoading)="startLoading()" (stopLoading)="stopLoading()">
      </app-datalake-data-upload> -->
      <app-datalake-data-upload #upload [schemas]="schemas" [Datavalue]="data" 
      (closeDialog)="onNoClick(null)" (startLoading)="startLoading()" (stopLoading)="stopLoading()">
    </app-datalake-data-upload>
        <!-- <app-datalake-data-upload [schemas]="schemas" [buckets]="buckets" (closeDialog)="onNoClick(null)"></app-datalake-data-upload> -->
      </mat-tab>
    </mat-tab-group>
  </div>
</div>