<div>
  <div class="center">
      <div class="msf-component-airport-title">Select Airlines</div>        
  </div> 
  <div class="msf-airline-container">
      <div class="msf-full-width">   
          <div class="msf-component-airport-sub-title">Input Airline(s) separated by commas</div>         
          <ng-select
          [items]="data | async"
          [multiple]="true"
          [loading]="loading"
          loadingText="Loading..."
          [closeOnSelect]="true"
          [hideSelected]="false"
          bindLabel="name"
          (search)="onSearch($event)" 
          [(ngModel)]="argument.value1">
      </ng-select>          
      </div>
      <img src="../../assets/images/components/arguments/airline/aerolin.png" class="msf-airline-image">
  </div>
</div>
