<div class="partial-summaries-header">
    <img class="partial-summaries-icon" src="../../assets/images/{{globals.theme}}-summary.png">
    <span class="partial-summaries-title">Partial Summaries</span>
    <div class="partial-summaries-header-buttons">
        <button mat-flat-button class="flat-button">
            Generate
        </button>
        <button mat-icon-button class="partial-summaries-close-button">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
<div class="partial-summaries-body">
    <div class="partial-summaries-left">
        <div class="partial-summaries-desc">
            <div class="partial-summaries-label-container">
                <span class="title-label">Column Breakers</span>
                <span class="desc-label">Drag and Drop columns to change column breaker order</span>
            </div>
            <div class="partial-summaries-add-button" matTooltip="Add Column Breaker" (click)="addColumnBreaker()">
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div class="partial-summaries-list">
            <div class="partial-summaries-item" *ngFor="let colBreaker of colBreakers; let pos = index">
                <div class="drag-handle">
                    {{pos + 1}}
                </div>
                <div class="datalake-search-input column-breaker-selector">
                    <mat-form-field class="datalake-search-formfield" appearance="outline">
                        <mat-label>Column</mat-label>
                        <mat-select [(ngModel)]="colBreaker.column">
                            <mat-option *ngFor="let column of data.metadata" [value]="column.columnName">
                                {{column.columnLabel}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <mat-checkbox [(ngModel)]="colBreaker.summary" class="column-breaker-space" *ngIf="pos != colBreakers.length - 1">
                    Show summary when value changes
                </mat-checkbox>
                <div class="column-breaker-space" *ngIf="pos == colBreakers.length - 1"></div>
                <button mat-icon-button matTooltip="Delete Column Breaker" (click)="removeColumnBreaker(pos)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="partial-summaries-right">
        <div class="partial-summaries-desc">
            <div class="partial-summaries-label-container">
                <span class="title-label">Column Aggregation</span>
                <span class="desc-label">Drag and Drop columns to change column aggregation order</span>
            </div>
            <div class="partial-summaries-add-button" matTooltip="Add Column Aggregator" (click)="addColumnAggregator()">
                <mat-icon>add</mat-icon>
            </div>
        </div>
        <div class="partial-summaries-list">
            <div class="partial-summaries-item partial-summaries-count">
                <span class="total-count-label">Count Records</span>
                <mat-slide-toggle class="count-switch" [(ngModel)]="countRecords"></mat-slide-toggle>
                <div class="datalake-search-input partial-summaries-input-container" [ngClass]="{'partial-summaries-input-container-disabled': !countRecords }">
                    <mat-form-field class="datalake-search-formfield" appearance="outline">
                        <mat-label>Alias</mat-label>
                        <input matInput [(ngModel)]="countAlias" [disabled]="!countRecords" autocomplete="off">
                    </mat-form-field>
                </div>
            </div>
            <div class="partial-summaries-item" *ngFor="let colAggregator of colAggregators; let pos = index">
                <div class="drag-handle">
                    {{pos + 1}}
                </div>
                <div class="datalake-search-input partial-summaries-aggregator-input-container">
                    <mat-form-field class="datalake-search-formfield" appearance="outline">
                        <mat-label>Column</mat-label>
                        <mat-select [(ngModel)]="colAggregator.column">
                            <mat-option *ngFor="let column of data.metadata" [value]="column.columnName">
                                {{column.columnLabel}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="datalake-search-input partial-summaries-aggregator-input-container">
                    <mat-form-field class="datalake-search-formfield" appearance="outline">
                        <mat-label>Function</mat-label>
                        <mat-select [(ngModel)]="colAggregator.function">
                            <mat-option *ngFor="let function of functions" [value]="function.id">
                                {{function.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="datalake-search-input partial-summaries-aggregator-input-container">
                    <mat-form-field class="datalake-search-formfield" appearance="outline">
                        <mat-label>Alias</mat-label>
                        <input matInput [(ngModel)]="colAggregator.alias" autocomplete="off">
                    </mat-form-field>
                </div>
                <button mat-icon-button matTooltip="Delete Column Aggregator" (click)="removeColumnAggregator(pos)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>