<div class="partial-summaries-header">
    <span class="partial-summaries-title">Partial Summaries</span>
</div>
<div class="partial-summaries-body">
    <div class="partial-summaries-left">
        <div class="partial-summaries-button-header">
            <div class="partial-summaries-label-container">
                <span class="title-label">Column Breakers</span>
                <span>Drag and Drop columns to change breaker order</span>
            </div>
        </div>
    </div>
    <div class="partial-summaries-right">
        <div class="partial-summaries-button-header">
            <div class="partial-summaries-label-container">
                <span class="title-label">Column Aggregation</span>
                <span>Drag and Drop columns to change column order</span>
            </div>
        </div>
    </div>
</div>