<div class="msf-dashboard-assistant-loading" *ngIf="isLoading"></div>
<div class="chart-preview-background" [ngStyle]="{ 'display': checkVisibility() }">
  <div class="msf-dashboard-assistant-header">
    <span class="msf-dashboard-assistant-title">
      <img class="chart-preview-icon" src="../../assets/images/{{globals.theme}}-chart-preview.png"/>
      <span class="chart-preview-label">Chart Preview</span>
    </span>
    <div class="close-button" (click)="closeWindow()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="{{ !isLoading && !advTableView ? 'chart-preview-container' : 'msf-dashboard-panel-container-invisible' }}" id="msf-dashboard-child-panel-chart-display" [style.height.px]="435" [style.width.px]="1000"></div>
  <div class="msf-dashboard-panel-config-button chart-preview-buttons" *ngIf="!isLoading && !advTableView && isAdvChartPanel()">
    <button mat-mini-fab color="primary" class="msf-dashboard-panel-margin-button" (click)="addUpIntervals()" matTooltip="{{sumSeriesList && sumSeriesList.length ? 'Remove Sum Of Intervals' : 'Add Up Intervals'}}">
      <mat-icon aria-label="Add Up Intervals">functions</mat-icon>
    </button>
    <button mat-mini-fab color="primary" class="msf-dashboard-panel-margin-button" (click)="toggleIntervalTable()" matTooltip="Table View">
      <mat-icon aria-label="Table View">table_chart</mat-icon>
    </button>
  </div>
  <!-- Table view for advanced charts -->
  <div *ngIf="!isLoading && advTableView" class="chart-preview-container" [style.height.px]="435" [style.width.px]="1030">
    <div class="msf-dashboard-panel-config-button chart-preview-buttons">
      <button mat-mini-fab color="primary" class="msf-dashboard-panel-margin-button" (click)="toggleIntervalTable()" matTooltip="Chart View">
        <mat-icon aria-label="Chart View">bar_chart</mat-icon>
      </button>
    </div>
    <div class="msf-dashboard-child-panel-table msf-dashboard-panel-table" [style.height.px]="panelHeightOffset - 20" [style.width.%]="100" [style.margin-top.px]="5">
      <div class="results-container">
        <table class="mat-elevation-z8 datasource results" style="border-collapse: separate; border-spacing: 0">
          <thead>
            <tr class="mat-header-row">
              <th [style.width.%]="25" class="msf-show-table mat-header-cell" *ngIf="data.variable">{{data.variable.columnName}}</th>
              <th style="width: 40%; border-left: 0" class="msf-show-table mat-header-cell">Intervals</th>
              <th style="width: 25%; border-left: 0" class="msf-show-table mat-header-cell">{{data.valueColumn.columnName}}</th>
              <th style="width: 10%; border-left: 0" class="msf-show-table mat-header-cell">Sum</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row" *ngFor="let row of intervalTableRows">
              <td [style.width.%]="25" class="msf-show-table mat-cell" *ngIf="row.key">{{row.key}}</td>
              <td [style.width.%]="40" class="msf-show-table mat-cell">{{row.Interval}}</td>
              <td [style.width.%]="25" class="msf-show-table mat-cell">{{row.value | number:'.0-2':'en'}}</td>
              <td [style.width.%]="10" class="msf-show-table mat-cell">{{row.sum | number:'.0-2':'en'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
