<!--Header-->
<div *ngIf="(mobileQuery.matches || ResponsiveQuery.matches) ||(!globals.isFullscreen && !mobileQuery.matches || (globals.isFullscreen && globals.currentOption !== 'dashboard' && !mobileQuery.matches && !ResponsiveQuery.matches))"
    class="msf-menu-header">
    <div 
    [ngClass]="mobileQuery.matches ? 'msf-menu-header-image-container is-mobile'
                                     :(ResponsiveQuery.matches ? 'msf-menu-header-image-container is-MQueryresponsive':'msf-menu-header-image-container')">
         <img (click)="goHome()" style="cursor:pointer;" src="../../assets/images/{{globals.theme}}-pulse_welc.png"
            class="msf-menu-logo">
        <img src="../../assets/images/{{globals.theme}}-adjust.png" class="msf-menu-ajustes-icon">
    </div>
    <div [style.display]="getMenuVisibility()" class="msf-menu-container">
        <app-datalake-menu (refreshDataExplorer)="refreshDataExplorer($event)" (setOption)="setOption($event)" [dashboards]="dashboards" [sharedDashboards]="sharedDashboards"></app-datalake-menu>
    </div>
    <div [ngClass]="mobileQuery.matches ? 'msf-header-icons is-mobile'
                                     :(ResponsiveQuery.matches ? 'msf-header-icons is-MQueryresponsive':'msf-header-icons')">
        <!-- <div class="msf-header-icons2"></div> -->
        <img *ngIf="!mobileQuery.matches" src="../../assets/images/datalake-logo.png" class="msf-header-icons2 datalake-logo">

        <div *ngIf="globals.currentUser" style="padding: 0px; margin: 0px;
        border: 0px; margin-left: 5px;
        padding-right: 10px;
        /*width: calc(70% - 35px);*/
        display: flex;
        justify-content: center;">
            <button mat-button style="height: 60px;     padding: 0px;
            margin: 0px;
            border: 0px; font-size: 12px;" [matMenuTriggerFor]="userMenu">
                {{globals.currentUser}}
                <mat-icon style="font-size: 20px; width: 20px;height: 20px;">person</mat-icon>
            </button>
        </div>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logOut()">
                <mat-icon class="mat-menu-item-icon">exit_to_app</mat-icon>
                <span>Log out</span>
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="adminMenu" style="padding: 0px;
            margin: 0px;
            border: 0px;
            width: 30px;">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #adminMenu="matMenu">
            <button mat-menu-item routerLink="/admin-menu">
                <mat-icon class="mat-menu-item-icon">settings</mat-icon>
                <span>Menu Administration</span>
            </button>
            <button *ngIf="globals.admin" mat-menu-item routerLink="/datalake-roles">
                <mat-icon class="mat-menu-item-icon">category</mat-icon>
                <span>Datalake Roles Administration</span>
            </button>
            <button *ngIf="globals.admin" mat-menu-item routerLink="/arguments-category">
                <mat-icon class="mat-menu-item-icon">category</mat-icon>
                <span>Arguments Category Administration</span>
            </button>
            <button *ngIf="globals.admin && globals.testingPlan != -1" mat-menu-item (click)="stopPlanTest()">
                <mat-icon class="mat-menu-item-icon">card_membership</mat-icon>
                <span>Stop Testing Membership</span>
            </button>
        </mat-menu>
    </div>
</div>
<!-- Body -->
<div *ngIf="globals.optionDatalakeSelected != 1" [style.height.px]="bodyHeight" [class.is-mobile]="mobileQuery.matches">
    <!-- <app-datalake-explorer *ngIf="currentOption === 2 || currentOption === 3" [currentOption]="currentOption" (setCurrentOptionSelected)="setCcurrentOptionSelected($event)"></app-datalake-explorer> -->
    <app-datalake-explorer #dataExplorer *ngIf="showDataExplorer()" [optionDatalakeSelected]="globals.optionDatalakeSelected" (setCurrentOptionSelected)="setCurrentOptionSelected($event)"></app-datalake-explorer>
    <app-datalake-alarms *ngIf="globals.userName && globals.optionDatalakeSelected === 5" [currentOption]="currentOption"></app-datalake-alarms>
    <app-datalake-partitions *ngIf="globals.userName && globals.optionDatalakeSelected === 6"></app-datalake-partitions>
    <app-datalake-execution-partition *ngIf="globals.userName &&  (globals.optionDatalakeSelected === 7 || globals.optionDatalakeSelected === 8)" ></app-datalake-execution-partition>
    <app-datalake-home *ngIf="globals.optionDatalakeSelected === 0"></app-datalake-home>
</div>

<div *ngIf="globals.optionDatalakeSelected === 1" [style.height.px]="bodyHeight" [class.is-mobile]="mobileQuery.matches">
        <div *ngIf="(!globals.isFullscreen && !mobileQuery.matches 
        || (globals.isFullscreen && globals.currentOption !== 'dashboard' ) &&  !mobileQuery.matches )  
        || (mobileQuery.matches && !globals.showMenu) " 
        class="msf-menu-icons-container">
<div *ngIf="!mobileQuery.matches || (mobileQuery.matches && !globals.showMenu && (globals.showTabs || globals.showDashboard)) "
    [ngClass]="mobileQuery.matches ? (globals.showTabs ? 'msf-menu-icons-right':'msf-menu-icons-right-mobile') :'msf-menu-icons-right'">
    <button *ngIf="globals.currentOption === 'dashboard' && !globals.readOnlyDashboardPlan" class="msf-menu-icon"
        (click)="exportDashboardAsPNG()">
        <img src="../../assets/images/{{globals.theme}}-SaveOptions.png" class="msf-menu-image msf-vertical-middle">
        <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Export Dashboard As PNG</span>
    </button>
    <button *ngIf="globals.currentOption === 'dashboard' && !globals.readOnlyDashboardPlan" class="msf-menu-icon"
        (click)="changeDashboardName()">
        <img src="../../assets/images/{{globals.theme}}-Chart.png" class="msf-menu-image msf-vertical-middle">
        <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Edit Dashboard Title</span>
    </button>
    <button *ngIf="globals.currentOption === 'dashboard' && !globals.readOnlyDashboardPlan" class="msf-menu-icon"
        (click)="shareDashboard()">
        <img src="../../assets/images/{{globals.theme}}-share.png" class="msf-menu-image msf-vertical-middle">
        <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches"> Share Dashboard</span>
    </button>
    <button *ngIf="globals.currentOption === 'dashboard'" class="msf-menu-icon" (click)="deleteDashboard()">
        <img src="../../assets/images/{{globals.theme}}-trash-small.png" class="msf-menu-image msf-vertical-middle">
        <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Delete Dashboard</span>
    </button>
    <button class="msf-menu-icon" *ngIf="!globals.isFullscreen" (click)="goToFullscreen()">
        <img src="../../assets/images/{{globals.theme}}-fullscreen.png" class="msf-menu-image msf-vertical-middle">
        <span class="msf-vertical-middle" *ngIf="!TabletQuery.matches">Full Screen</span>
    </button>
</div>
</div>


<div *ngIf="globals.optionDatalakeSelected === 1"  class="msf-menu-body" [class.is-mobile]="mobileQuery.matches">
        <!--container-->
        <div
            [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
            || (mobileQuery.matches && isSimpleContent() && globals.showDashboard)  ? 'msf-menu-simple-content' 
                                           : (mobileQuery.matches ? (globals.showCategoryArguments || globals.showMenu ? 'msf-menu-show-full-nav-component-hide' 
                                                                                                     :'msf-menu-show-full-nav-component-wide is-mobile')                                 
                                                                                                                                : (globals.status ? 'msf-menu-show-full-nav-component' : 'msf-menu-show-full-nav-component-wide'))">
            <div
                [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
                || (mobileQuery.matches && isSimpleContent() && globals.showDashboard)   ? 'msf-menu-simple-content' 
                                                : (mobileQuery.matches ? 'msf-menu-content msf-menu-tabs-content-mobile'
                                                                            : 'msf-menu-content msf-menu-tabs-content')">
                <div
                    [ngClass]="(isSimpleContent() && !mobileQuery.matches) 
                    || (mobileQuery.matches && isSimpleContent() && globals.showDashboard)  ? 'msf-menu-internal-simple-content' 
                                                   : (mobileQuery.matches ? (globals.showMenu ? 'msf-menu-internal-content-all-mobile'
                                                                            : (globals.showTabs ? 'msf-menu-internal-content-tabs':'msf-menu-internal-content-mobile'))
                                                                            :'msf-menu-internal-content') "  [class.is-MQueryresponsive]="ResponsiveQuery.matches">
                    <app-msf-container #msfContainerRef></app-msf-container>
                </div>
            </div>
        </div>
    </div>
</div>