<div class="datalake-explorer-container">
    <div class="datalake-explorer-header">
        <!-- <mat-form-field class="datalake-explorer-search-input-container">
            <input matInput class="datalake-explorer-search-input" type="text" placeholder="Search"
            [(ngModel)]="filter" (ngModelChange)="filterAlarm()" autocomplete="off" >
            <mat-icon class="search-icon" aria-label="search">search</mat-icon>
        </mat-form-field> -->
        <div class="datalake-explorer-header-title">
          <span>Alarms</span>
          <span class="datalake-explorer-header-hint">This option allows you to set up alarms to check if 
            data ingestion is healthy at any given time(s).</span>
        </div>
        <div class="datalake-search-input datalake-alarm-search-input">
          <mat-form-field class="datalake-search-formfield" appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput type="text" [(ngModel)]="filter" (ngModelChange)="filterAlarm()" autocomplete="off">
              <mat-icon matPrefix aria-label="search">search</mat-icon>
          </mat-form-field>
        </div>
    </div>
    <div class="datalake-alarms-body">
      <div *ngIf="!actionDisable('List Alarms') || !actionDisable('Create Alarm') || !actionDisable('Edit Alarm') || !actionDisable('Delete Alarm')" 
      [ngClass]="actionDisable('Create Alarm') && !actionDisable('List Alarms') ? 'datalake-alarms-item datalake-alarms-itemOne':'datalake-alarms-item'">
        <div class="datalake-alarm-table-scroll" [ngStyle]="{ 'height': getTableHeight() }">
          <table mat-table matSort [dataSource]="alarmTable" 
          class="datasource welcome-table datalake-alarm-table">
          <!-- <table mat-table matSort [dataSource]="filteredAlarms" class="datasource welcome-table datalake-alarm-table"> -->
            <ng-container matColumnDef="schemaName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Schema Name</th>
              <td mat-cell *matCellDef="let element">{{ element.schemaName }}</td>
            </ng-container>
            <ng-container matColumnDef="tableName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Table Name</th>
              <td mat-cell *matCellDef="let element">{{ element.tableName }}</td>
            </ng-container>
            <ng-container matColumnDef="cron">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Cron</th>
              <td mat-cell *matCellDef="let element">{{ element.cron }}</td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element">
                  <img  class="status-icon" src="{{getAlarmStatusImage(element)}}" />
                <!-- <mat-icon class="status-icon" *ngIf="element.monitoringStatus === 'A'" >check</mat-icon>
                <mat-icon class="status-icon2" *ngIf="element.monitoringStatus === 'I'">priority_high</mat-icon> -->
              </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
              <td mat-cell *matCellDef="let element" class="btn-actions-alarms">
                <button (click)="viewEmail(element.emailList)" mat-icon-button matTooltip="View Emails List">
                    <img  *ngIf="element.emailList && element.emailList.length != 0" class="listEmail" 
                    (mouseover)="element.hover = true" (mouseout)="element.hover = false" 
                    src="{{getEmailListImage(element)}}"/>
                </button> 
                <button [disabled]="actionDisable('Edit Alarm')"
                (click)="editAlarm(element)" mat-icon-button matTooltip="Edit Alarm">
                  <mat-icon class="edit-icon">edit</mat-icon>
                </button>
                <button [disabled]="actionDisable('Delete Alarm')"
                (click)="removeAlarm(element)" mat-icon-button matTooltip="Delete Alarm">
                  <mat-icon class="delete-icon">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="alarmColumns"></tr>
            <tr mat-row [ngClass]="{ 'mat-row-highlighted': row.highlight }" 
            *matRowDef="let row; columns: alarmColumns;"></tr>
          </table>
        </div>
        <mat-paginator class="datalake-alarm-paginator" [pageSizeOptions]="[15, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
      <div *ngIf="!actionDisable('Create Alarm')" class="datalake-alarms-item">
      <!-- [ngClass]="actionDisable('List Alarms') && !actionDisable('Create Alarm') ? 'datalake-alarms-item datalake-alarms-itemOne':'datalake-alarms-item'"> -->
        <div class="datalake-alarms-header">
          <div class="datalake-new-alarm-title">
            <mat-icon class="datalake-new-alarm-icon">alarm_add</mat-icon>
            <span class="datalake-new-alarm-title-label">New Alarm</span>
          </div>
        </div>
        <div class="datalake-new-alarm-container">
          <div>
          <div class="datalake-create-alarm-hint">To create an alarm, please select the schema and table to be monitor.</div>
          <div class="datalake-alarm-comboboxes">
            <mat-form-field class="datalake-alarm-left-combobox" [formGroup]="alarmFormGroup">
              <mat-select placeholder="Schema Name" autocomplete="off" formControlName="schema"
               (selectionChange)="schemaChanged()">
                <mat-option *ngFor="let schema of schemas" [value]="schema" >
                  {{schema}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="alarmFormGroup.get('schema')?.invalid">You must select a schema</mat-error>
            </mat-form-field>
            <mat-form-field class="datalake-alarm-right-combobox" [formGroup]="alarmFormGroup">
              <mat-select placeholder="Table Name" autocomplete="off"
               formControlName="table"  (selectionChange)="tableChanged()">
                <ngx-mat-select-search [formControl]="tableFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let table of filteredTables | async" [value]="table">
                  {{table.TableName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="alarmFormGroup.get('table')?.invalid">You must select a table</mat-error>
            </mat-form-field>
          </div>
        </div>
          <div >
              <div class="datalake-create-alarm-hint datalake-create-alarm-hint2">How often do you want to verify data ingestion?</div>    
              <div class="datalake-create-alarm-time">
              <mat-radio-group class="datalake-alarm-radio-group" [(ngModel)]="notifyMode" (ngModelChange)="enableTimePicker()">
                <mat-radio-button class="cancels-checkbox" [ngClass]="{'datalake-alarm-radio-button': notifyMode, 'datalake-alarm-radio-button-selected': !notifyMode }" [value]="false">Verify with a cron expression...</mat-radio-button>
                <mat-radio-button class="cancels-checkbox" [ngClass]="{'datalake-alarm-radio-button': !notifyMode, 'datalake-alarm-radio-button-selected': notifyMode }" [value]="true">Verify at this specific time...</mat-radio-button>
              </mat-radio-group>
  
              <div class="datalake-alarm-time-picker" *ngIf="!notifyMode">
                <div class="datalake-alarm-minute-input">
                  <span class="datalake-alarm-minutes-label">Cron Expression</span>
                  <input matInput [(ngModel)]="minutes"  type="string" autocomplete="off" 
                  class="datalake-alarm-minutes-input"/>
                </div>
              </div>
              <div class="datalake-alarm-time-picker" *ngIf="notifyMode">
                <div id="time-picker"></div>
                <div class="datalake-alarm-time-labels">
                  <span class="datalake-alarm-hours-label">Hours</span>
                  <span class="datalake-alarm-minutes-label">Minutes</span>
                </div>
              </div>
            </div>
              <!-- <div *ngIf="notifyMode" class="datalake-alarm-time-picker">
                  <ngx-timepicker-field [defaultTime]="'11:11 am'"></ngx-timepicker-field>
              </div> -->
          </div>
  <!---->
  <div class="datalake-alarm-add-emails">
      <button mat-button class="flat-button datalake-alarm-emails" (click)="AddEmail()">
          <img src="../../assets/images/at.png" class="datalake-alarm-email-icon">
          <span class="datalake-new-alarm-title-label">Emails addresses</span>
        </button>
        
        <div class="datalake-alarm-emails-hint">
            <mat-icon class="edit-icon">arrow_left</mat-icon>
            <span>If the application detects something is 
          wrong with the data ingestion specify who needs to be notified</span>
      </div>
  </div>
  <div class="datalake-alarm-buttons">
          <div class="datalake-new-alarm-status">
            <div Style="display: flex">Activate Alarm</div>
            <button mat-button (click)="setAlarmStatus('A')" 
            (mouseover)="hoveract=true" (mouseleave)="hoveract=false"
            [ngClass]="{'datalake-new-alarm-btn-act datalake-new-alarm-button': monitoringStatus === 'I',
             'datalake-new-alarm-button-selected datalake-new-alarm-btn-active': monitoringStatus === 'A' }" matTooltip="Active">
                <img  class="status-icon" src="{{getAlarmEnableImage()}}" />
            </button>
            <button mat-button (click)="setAlarmStatus('I')" 
            (mouseover)="hoverdis=true" (mouseleave)="hoverdis=false"
            [ngClass]="{'datalake-new-alarm-btn-ina datalake-new-alarm-button': monitoringStatus === 'A', 
            'datalake-new-alarm-button-selected datalake-new-alarm-btn-inactive': monitoringStatus === 'I' }" 
            matTooltip="Inactive">
                <img  class="status-icon" src="{{getAlarmDisabledImage()}}" />
            </button>
          </div>
        <div class="datalake-alarm-btns">
            <button mat-button class="flat-button datalake-alarm-btn" [disabled]="actionDisable('Create Alarm')" 
            (click)="addAlarm()">Save</button>
            <button mat-button class="flat-button datalake-alarm-btn" (click)="clean()">Cancel</button>
        </div>
      </div>
    </div>
  </div>