<div class="datalake-explorer-container">
  <div class="datalake-explorer-header">
      <mat-form-field class="datalake-explorer-search-input-container">
          <input matInput class="datalake-explorer-search-input" type="text" placeholder="Search" autocomplete="off">
          <mat-icon class="search-icon" aria-label="search">search</mat-icon>
      </mat-form-field>
      <div class="datalake-explorer-header-title">
        Alarms
      </div>
  </div>
  <div class="datalake-alarms-body">
    <div class="datalake-alarms-item">
      asfasf
    </div>
    <div class="datalake-alarms-item">
      <div class="datalake-alarms-header">
        <div class="datalake-new-alarm-title">
          <mat-icon class="datalake-new-alarm-icon">alarm_add</mat-icon>
          <span class="datalake-new-alarm-title-label">New alarm</span>
        </div>
        <div class="datalake-new-alarm-buttons">
          Status
          <button mat-icon-button class="datalake-new-alarm-button">
            <mat-icon>check</mat-icon>
          </button>
          <button mat-icon-button class="datalake-new-alarm-button">
            <mat-icon>priority_high</mat-icon>
          </button>
        </div>
      </div>
      <div class="datalake-new-alarm-container">
      </div>
    </div>
  </div>
</div>