<div *ngIf="globals.subTotalRecord==1 && globals.popupMainElement && !globals.popupLoading2" class="msf-media-info-flex" [style.height.%]="100" [style.flex-direction]="getFlexDirection()">
  <div *ngIf="globals.popupMainElement" [style.width.px]="500" [style.padding-top.px]="45">
    <div [ngClass]="globals.currentDrillDown.title!='More Info Passenger'?'msf-more-info-popup-content':'msf-media-info-container msf-padding-passenger'">
      <div class="msf-media-title-container">
        <div class="msf-media-title" *ngIf="globals.popupMainElement[0].title">Title</div>
        <div class="msf-media-title" *ngIf="globals.popupMainElement[0].passenger_name">Passenger Name</div>
        <div class="msf-media-title-value" *ngIf="globals.popupMainElement[0].title">{{globals.popupMainElement[0].title}}</div>
        <div class="msf-media-title-value" *ngIf="globals.popupMainElement[0].Media_Name">{{globals.popupMainElement[0].Media_Name}}</div>
        <div class="msf-media-title-value" *ngIf="globals.popupMainElement[0].passenger_name">{{globals.popupMainElement[0].passenger_name}}</div>
      </div>
    </div>
    <div [ngClass]="globals.currentDrillDown.title!='More Info Passenger'?'msf-media-info-container':'msf-media-info-container msf-padding-passenger'" class="msf-media-info-container">
      <div class="msf-media-info-row" *ngFor="let info of globals.subDisplayedColumns; let i = index" >
        <div class="msf-media-info" *ngIf="i>0">{{info.columnLabel}}</div>
          <div class="msf-media-info-value" *ngIf="i>0 && info.columnType=='string' && info.columnFormat==null">
            {{globals.popupMainElement[0][info.columnName]}}
          </div>
          <div class="msf-media-info-value" *ngIf="i>0 && info.columnType=='number' && info.columnFormat==null">
            {{ globals.popupMainElement[0][info.columnName] | number:'.0-2':'en'}}
          </div>
          <div class="msf-media-info-value" *ngIf="i>0 && info.columnType=='number' && info.columnFormat=='$' && globals.popupMainElement[0][info.columnName]">
              ${{globals.popupMainElement[0][info.columnName] | number:'.0-2':'en'}}
          </div>
          <div class="msf-media-info-value" *ngIf="i>0 && info.columnType=='number' && info.columnFormat=='min'">
            {{ getFormatMinutes(globals.popupMainElement[0][info.columnName]) }}
          </div>
       </div>
    </div>
  </div>
  <div *ngIf="globals.popupMainElement" [ngClass]="globals.currentDrillDown.title!='More Info Passenger'?'msf-more-info-popup-image':'msf-more-info-popup-passenger msf-border-passenger'" [ngStyle]="{'background-image': 'url(' + getBackground() + ')'}" [style.width.px]="imgWidth">
    <div *ngIf="globals.currentDrillDown.title != 'More Info Passenger'" class="msf-more-info-gradient">
      <div class="msf-moreinfo-control-variables-title">
        <div class="msf-dashboard-control-variables-close-button">
          <mat-icon class="msf-dashboard-close-icon msf-drill-down-info-image-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div [style.width.px]="data.tableWidth" [ngClass]="globals.subTotalRecord>1?'msf-show-table':'msf-hide'" #TABLE>
    <div class="msf-moreinfo-control-variables-title ">
        <div class="msf-dashboard-control-variables-close-button">
          <mat-icon class="msf-dashboard-close-icon msf-drill-down-info-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
        </div>
    </div>
  <table  #table mat-table  [dataSource]="globals.subDataSource" matSort class="mat-elevation-z8 datasource">
  
      <ng-container  [matColumnDef]="column.columnName" *ngFor="let column of globals.subDisplayedColumns">
        <th [ngClass]="column.show?'msf-show-table':'msf-hide'" mat-header-cell *matHeaderCellDef mat-sort-header > {{column.columnLabel}} </th>
        <td [ngClass]="column.show?'msf-show-table':'msf-hide'"  mat-cell *matCellDef="let element;let rowNumber = dataIndex"> 
        <span>
            <span *ngIf="column.columnType!='number'">{{element[column.columnName]}} </span>
            <span *ngIf="column.columnType=='number' && column.columnFormat=='$'">${{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}} </span>
            <span *ngIf="column.columnType=='number' && column.columnFormat=='%'"> {{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}}%</span>
            <span *ngIf="column.columnType=='number' && column.columnFormat=='temp'"> {{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}}°</span>
            <span *ngIf="column.columnType=='number' && column.columnFormat==null"> {{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}} </span>
        </span>
        <!-- <span class="drillDown-decoration" *ngIf="column.drillDowns.length>0" [matMenuTriggerFor]="menu">
          <span *ngIf="column.columnType!='number'">{{element[column.columnName]}} </span>
          <span *ngIf="column.columnType=='number' && column.columnFormat=='$'">${{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}} </span>
          <span *ngIf="column.columnType=='number' && column.columnFormat=='%'"> {{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}}%</span>
          <span *ngIf="column.columnType=='number' && column.columnFormat=='temp'"> {{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}}°</span>
          <span *ngIf="column.columnType=='number' && column.columnFormat==null"> {{getFormatCell(element[column.columnName]) | number:'.0-2':'en'}} </span>
        </span>
        <mat-menu #menu="matMenu" [style.visibility]="column.drillDowns.length!=0? 'visible' : 'hidden'">
            <button mat-menu-item *ngFor="let drillDown of column.drillDowns" (click)="openSubQuery(drillDown,element)">{{drillDown.title}}</button>
          </mat-menu> -->
        </td>

      </ng-container>

    <tr mat-header-row *matHeaderRowDef="globals.subDisplayedColumnNames" ></tr>
    <tr mat-row *matRowDef="let row; columns: globals.subDisplayedColumnNames;" [style.height.px]="30"></tr>
  </table>
</div>
<div *ngIf="globals.subPdfViewer" [style.width.px]="500" [style.height.px]="650">
  <div [innerHTML]="globals.subPdfViewer" [style.height.px]="650"></div>
</div>
<div *ngIf="chart!=null&&globals.subTotalRecord>0 && globals.popupMainElement" class="msf-media-title msf-passenger-chart-title">Play Duration In Minutes</div>
<div [style.visibility]="chart!=null&&globals.subTotalRecord>0 && globals.popupMainElement? 'visible' : 'hidden'" id="msf-dashboard-chart-display" [ngClass]="chart!=null&&globals.subTotalRecord>0 && globals.popupMainElement? 'msf-chart' : ''"></div>
<div *ngIf="globals.subTotalRecord==0 && !globals.subPdfViewer && !globals.popupMainElement && !globals.popupLoading2" class="msf-drill-down-results-not-available">
    <div class="msf-no-results msf-no-results-more-info-drilldown">Results not available</div>
</div>
<div [ngClass]="globals.popupLoading2? 'tab-show':'tab-hide'" id='loading-panel-popup' class='loading-panel-popup'></div>