<div class="msf-dashboard-arguments-container">
  <div class="msf-dashboard-control-variables-title">
    <div class="msf-dashboard-control-variables-close-button">
      <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="onNoClick()">close</mat-icon>
    </div>
    {{data.title}}
  </div>
  <div class="msf-dashboard-addmenu-icon-item table-config-label">
    <mat-icon class="msf-dashboard-chart-icon" aria-label="Filter List">show_chart</mat-icon>
    <span class="msf-dashboard-addmenu-item-text">Select the values for the chart</span>
  </div>
  <div class="msf-dashboard-panel-sub-container-column msf-dashboard-panel-sub-container-form-column table-column-list" id="msf-dashboard-panel-form-container-column">
    <div class="msf-dashboard-panel-sub-container-row" id="msf-dashboard-panel-table-container-row" *ngFor="let column of data.chartColumnOptions">
      <div class="msf-dashboard-chart-op-container" id="msf-dashboard-panel-table-op-container">
        <mat-checkbox class="cancels-checkbox" style="display: inline-block;" [(ngModel)]="column.checked">
          {{column.columnLabel}}
        </mat-checkbox>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-control-variables-button">
    <span class="button-separator"></span>
    <button mat-flat-button class="flat-button" (click)="saveChanges()">OK</button>
    <span class="button-separator"></span>
    <button mat-flat-button class="flat-button" (click)="onNoClick()">Cancel</button>
  </div>
</div>
