<div class="msf-register-header">
  <img class="msf-medium-logo" src="../../assets/images/logo.png">
  <div class="msf-register-header-content">
    <div class="msf-register-header-title">
      <div class="msf-register-header-title-content"> CATEGORY ARGUMENTS</div>
      <div class="msf-register-header-little-title">{{title}}</div>
    </div>

    <div class="msf-register-header-image-content">
      <img class="medium-user-image" src="../../assets/images/icon-user-white.png">
    </div>
  </div>
</div>
<mat-card class="msf-register-card msf-center-container">
  <mat-card-content>
  </mat-card-content>
</mat-card>