<div>
    <div class="center" *ngIf="argument.title">
        <div class="msf-component-airport-title">{{argument.title}}</div>        
    </div> 
    <div class="msf-airline-container">
            <div class="msf-full-width">   
                <div class="msf-component-airport-sub-title">{{argument.label1}}</div>         
                <ng-select
                [items]="data | async"
                [multiple]="multiAircraft"
                [loading]="loading"
                loadingText="Loading..."
                [closeOnSelect]="true"
                [hideSelected]="false"
                bindLabel="{{argument.visibleAttribute}}"
                (search)="onSearch($event)" 
                (focus)="onFocus()" 
                [(ngModel)]="argument.value1"
                appendTo=".msf-control-variables-overlay"
                dropdownPosition="bottom">
            </ng-select>          
            </div>
    </div>     
  </div>
  