<div class="dynamic-table-header" (click)="disableFuncMenu()" (contextmenu)="disableFuncMenu()" (scroll)="disableFuncMenu()">
  <img class="dynamic-table-icon" src="../../assets/images/{{globals.theme}}-dynamicTable.png" [style.width.px]="20" [style.height.px]="20">
  <span class="dynamic-table-title">Dynamic Table</span>
  <div class="dynamic-table-header-buttons">
    <button mat-flat-button [disabled]="disabled()" [ngClass]="disabled() ? 'flat-button-disabled' : 'flat-button'" (click)="generateTable()">
      Generate
    </button>
    <button mat-icon-button class="dynamic-table-close-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="dynamic-table-body" (click)="disableFuncMenu()" (contextmenu)="disableFuncMenu()" (scroll)="disableFuncMenu()" cdkDropListGroup>
  <div class="dynamic-table-left">
    <div class="dynamic-table-metadata-container">
      <div class="dynamic-table-metadata-search">
        <mat-form-field>
          <input matInput placeholder="Drag N Drop" autocomplete="off" [(ngModel)]="filter" (ngModelChange)="filterVariables()"/>
          <mat-icon class="dynamic-table-search-icon" aria-label="search">search</mat-icon>
        </mat-form-field>
      </div>
      <div class="metadata-list" cdkDropList [cdkDropListData]="columns" cdkDropListSortingDisabled>
        <ng-container *ngFor="let variable of columns">
          <div class="{{globals.theme}} metadata-item" *ngIf="!variable.hidden" cdkDrag (cdkDragStarted)="dragStarted()" (cdkDragEnded)="dragEnded()">
            <div class="metadata-label">{{variable.name}}</div>
            <div class="metadata-drag-handle" [style.width.px]="20" [style.height.px]="20" cdkDragHandle></div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="dynamic-table-right">
    <div class="y-axis-header">
      <div class="empty"></div>
      <div class="y-axis-container">
        <div class="y-axis-drag-handle">
          <mat-icon class="down-arrow">forward</mat-icon>
          <div class="drop-here" [ngClass]="{'drop-here-mouseover': yAxisMouseover }" cdkDropList [cdkDropListData]="yaxis"
               (cdkDropListDropped)="dropToYAxis($event)" (mouseenter)="setYAxisMouseover(true)" (mouseleave)="setYAxisMouseover(false)">
            <span cdkDrag [cdkDragDisabled]="true">
              <span *ngIf="!yAxisMouseover">Add Y-Axis</span>
              <mat-icon *ngIf="yAxisMouseover">add</mat-icon>
            </span>
          </div>
        </div>
        <div class="y-axis-list-container">
          <div class="y-axis-variable" [style.margin-left.px]="calcMarginOffset(i)" *ngFor="let variable of yaxis; let i = index">
            <span class="variable-label">{{variable.name}}</span>
            <mat-icon class="remove-button" matTooltip="Remove Variable" (click)="removeYAxis(variable)">close</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="x-axis-and-values-container">
      <div class="x-axis-and-values-header">
        <div class="x-axis-container">
          <mat-icon class="right-arrow">forward</mat-icon>
          <div class="drop-here" [ngClass]="{'drop-here-mouseover': xAxisMouseover }" cdkDropList [cdkDropListData]="xaxis"
               (cdkDropListDropped)="dropToXAxis($event)" (mouseenter)="setXAxisMouseover(true)" (mouseleave)="setXAxisMouseover(false)">
            <span cdkDrag [cdkDragDisabled]="true">
              <span *ngIf="!xAxisMouseover">Add X-Axis</span>
              <mat-icon *ngIf="xAxisMouseover">add</mat-icon>
            </span>
          </div>
          <!-- Only one X-Axis variable is allowed -->
          <div class="x-axis-variable" *ngIf="xaxis.length">
            <span class="variable-label">{{xaxis[0].name}}</span>
            <mat-icon class="remove-button" matTooltip="Remove Variable" (click)="removeXAxis()">close</mat-icon>
          </div>
        </div>
        <div class="values-container">
          <mat-icon class="right-arrow">forward</mat-icon>
          <div class="drop-here" [ngClass]="{'drop-here-mouseover': valueMouseover }" cdkDropList [cdkDropListData]="values"
               (cdkDropListDropped)="dropToValues($event)" (mouseenter)="setValueMouseover(true)" (mouseleave)="setValueMouseover(false)">
            <span cdkDrag [cdkDragDisabled]="true">
              <span *ngIf="!valueMouseover">Add Values</span>
              <mat-icon *ngIf="valueMouseover">add</mat-icon>
            </span>
          </div>
          <div class="values-list-container" id="values-list" [ngClass]="{'values-list-container-extended': values.length > 1}">
            <div class="values-variable" id="value-{{i}}" *ngFor="let variable of values; let i = index">
              <span class="variable-label">{{variable.name}}</span>
              <mat-icon class="func-button" matTooltip="Functions" (click)="toggleFunctions($event,i,variable)">
                <ng-container *ngIf="!variable.funcopen">arrow_drop_down</ng-container>
                <ng-container *ngIf="variable.funcopen">arrow_drop_up</ng-container>
              </mat-icon>
              <mat-icon class="remove-button" matTooltip="Remove Variable" (click)="removeValue(variable)">close</mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="func-list" [style.left.px]="getFuncListPosX()" [style.top.px]="getFuncListPosY()" (click)="keepFuncMenu($event)" (contextmenu)="keepFuncMenu($event)" (scroll)="keepFuncMenu($event)" *ngIf="selectedVariable">
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.summary">Summary</mat-checkbox>
        <i *ngIf="selectedVariable.summary" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Summary')" matTooltip="Set Alias For Summary">create</i>
      </div>
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.average">Average</mat-checkbox>
        <i *ngIf="selectedVariable.average" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Average')" matTooltip="Set Alias For Average">create</i>
      </div>
      <!--
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.mean">Mean</mat-checkbox>
        <i *ngIf="selectedVariable.mean" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Mean')" matTooltip="Set Alias For Mean">create</i>
      </div>
      -->
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.max">Max</mat-checkbox>
        <i *ngIf="selectedVariable.max" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Max')" matTooltip="Set Alias For Max">create</i>
      </div>
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.min">Min</mat-checkbox>
        <i *ngIf="selectedVariable.min" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Min')" matTooltip="Set Alias For Min">create</i>
      </div>
      <!--
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.stddeviation">Std Deviation</mat-checkbox>
        <i *ngIf="selectedVariable.stddeviation" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Std. Deviation')" matTooltip="Set Alias For Std. Deviation">create</i>
      </div>
      -->
      <div class="alias-container">
        <mat-checkbox class="alias-label" color="primary" [(ngModel)]="selectedVariable.count">Count</mat-checkbox>
        <i *ngIf="selectedVariable.count" class="material-icons alias-button" (click)="configureAlias(selectedVariable, 'Count')" matTooltip="Set Alias For Count">create</i>
      </div>
    </div>
  </div>
</div>
