<ng-container *ngFor="let category of currentOptionCategories">
  <div [ngClass]="argsContainer.open ? 'msf-dashboard-menu-component-active' : 'msf-dashboard-menu-component'" (click)="componentClickHandler(argsContainer, icon)" (mouseover)="argsContainer.hover = true" (mouseleave)="argsContainer.hover = false">
    <mat-icon *ngIf="category.icon && isMatIcon(category.icon)" class="msf-menu-image-border msf-vertical-middle" [ngClass]="{ 'msf-menu-mat-icon-open' : argsContainer.open, 'msf-menu-mat-icon' : !argsContainer.open }">{{category.icon}}</mat-icon>
    <img *ngIf="category.icon && !isMatIcon(category.icon)" src="{{getImageIcon(category.icon, argsContainer)}}" class="msf-menu-image-border msf-vertical-middle">
    <span class="msf-menu-component-text msf-control-variables-text">{{category.label}}</span>
    <i #icon class="material-icons msf-menu-cmpte-row">expand_more</i>
  </div>
  <div [ngClass]="argsContainer.open ? 'msf-dashboard-menu-arguments-container-show' : 'msf-dashboard-menu-arguments-container-hidden'" #argsContainer>
    <ng-container *ngIf="category.arguments && category.arguments.length > 0">
      <div class="msf-component-airport-container">
        <ng-container *ngFor="let argument of category.arguments">     
          <app-msf-argument [currentArgument]="argument" [currentGlobalOptionId]="currentOptionId" (setLoading)="setLoading($event)"></app-msf-argument>
        </ng-container>
      </div>
    </ng-container>      
  </div>
</ng-container>
