<div class="queryEngine-body" [class.is-mobile]="mobileQuery.matches">
  <!--nav-->
  <div class="queryEngine-show-full-nav">
    <div class="queryEngine-schemas-container-show">
        <!--Schemas-->
        <div *ngFor="let schem of connections">
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                      Type your name and age
                    </mat-panel-description>
                  </mat-expansion-panel-header>
              
                  <mat-form-field>
                    <input matInput placeholder="First name">
                  </mat-form-field>
              
                  <mat-form-field>
                    <input matInput placeholder="Age">
                  </mat-form-field>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
        <!--Icon hide/show-->
        <div></div>
    </div>
  </div>

  <!--Edit Query-->
  <div>    
  </div>
</div>