<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>
<div class="msf-component-airport-input-container checkbox-container" style="padding: 0;">
    <div class="msf-full-width msf-content-type-radio-group-container">
        <mat-radio-group class="checkbox-component argument-radio-group" *ngFor="let radio of data" [(ngModel)]="argument.value1" (ngModelChange)="startURLUpdate.emit()">
            <mat-radio-button style="margin: 10px;" class="cancels-checkbox region-checkbox" [value]="radio.value">
                {{radio.name}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>