<div class="center" *ngIf="argument.title">
    <div class="msf-component-airport-title">{{argument.title}}</div>
</div>
<div class="msf-component-flight-duration-selection">
    <ng-select
        [items]="data"
        [multiple]="true"
        loadingText="Loading..."
        [closeOnSelect]="true"
        [hideSelected]="false"
        bindLabel="name"
        bindName="id"
        [(ngModel)]="argument.value1"
        appendTo=".msf-control-variables-overlay"
        dropdownPosition="bottom">
    </ng-select>
</div>