<mat-menu #childMenu="matMenu">
    <div>
        <ng-container *ngFor="let category of dashboardCategory.children">
            <button mat-menu-item [matMenuTriggerFor]="child.childMenu">
                {{category.title}}
            </button>
            <app-menu-dashboard #child [dashboardCategory]="category" (setDashboard)="setDashboard.emit($event)" (cancelLoadingFromLastService)="cancelLoadingFromLastService.emit()"></app-menu-dashboard>
        </ng-container>
        <ng-container *ngIf="checkPlan('Create Dashboard')">
            <button mat-menu-item *ngFor="let dashboard of dashboardCategory.dashboards" (click)="goToDashboard(dashboard, false)">
                {{dashboard.title}}
            </button>
        </ng-container>
        <button mat-menu-item *ngFor="let dashboard of dashboardCategory.sharedDashboards" (click)="goToDashboard(dashboard, true)">
            {{dashboard.dashboardMenuId.title}} (Read only)
        </button>
    </div>
</mat-menu>