<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>
<div class="msf-component-airport-input-container">  
    <div class="msf-component-date-input-container" style="margin-right: 5px;">
        <div class="msf-component-airport-sub-title" *ngIf="argument.label1!=null">{{argument.label1}}</div>     
        <ng-select
            [items]="this.globals.airports | async"
            [multiple]="true"
            [loading]="loading"
            loadingText="Loading..."
            [closeOnSelect]="true"
            [hideSelected]="false"
            bindLabel="{{argument.visibleAttribute}}"
            (search)="onSearch($event)" 
            [(ngModel)]="argument.value1"
            (ngModelChange)="startURLUpdate.emit()"
            appendTo=".msf-control-variables-overlay"
            dropdownPosition="bottom">
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                <span>{{item.iata}} - {{item.name}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                <div>{{item.iata}} - {{item.name}}</div>
            </ng-template>
        </ng-select>
    </div>  
    <div class="msf-component-date-input-container"> 
        <div class="msf-component-airport-sub-title" *ngIf="argument.label2!=null">{{argument.label2}}</div>  
        <ng-select
            [items]="this.globals.airports | async"
            [multiple]="true"
            [loading]="loading"
            loadingText="Loading..."
            [closeOnSelect]="true"
            [hideSelected]="false"
            bindLabel="{{argument.visibleAttribute}}"
            (search)="onSearch($event)"
            (ngModelChange)="startURLUpdate.emit()"
            [(ngModel)]="argument.value2"
            appendTo=".msf-control-variables-overlay"
            dropdownPosition="bottom">
            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
                <span>{{item.iata}} - {{item.name}}</span>
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                <div>{{item.iata}} - {{item.name}}</div>
            </ng-template>
        </ng-select> 
    </div>
</div>    