<div class="msf-dashboard-control-variables-title">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  {{data.title}}
</div>
<div class="msf-dashboard-color-picker-container">
  <div class="msf-dashboard-addmenu-icon-item">
    <mat-icon class="msf-dashboard-chart-icon" aria-label="Palette Colors">palette</mat-icon>
    <span class="msf-dashboard-addmenu-item-text" *ngIf="data.numColors == 1">Select Palette Color</span>
    <span class="msf-dashboard-addmenu-item-text" *ngIf="data.numColors != 1">Select Palette Colors</span>
  </div>
  <div class="msf-dashboard-color-picker-layout" *ngIf="data.numColors == 1">
    <div class="msf-dashboard-color-picker-selector-container">
      <span class="msf-dashboard-color-picker-selector-label">Color:</span>
      <input class="msf-dashboard-color-picker-selector" [(colorPicker)]="data.colors[0]" [style.background]="data.colors[0]" [(cpOutputFormat)]="hex"/>
      <span class="msf-dashboard-color-picker-color-label">{{data.colors[0]}}</span>
    </div>
  </div>
  <div class="msf-dashboard-color-picker-grid-layout" *ngIf="data.numColors != 1">
    <div *ngFor="let color of data.colors; let i = index; trackBy: trackColor" class="msf-dashboard-color-picker-selector-container">
      <span class="msf-dashboard-color-picker-selector-label">Color #{{i + 1}}:</span>
      <input class="msf-dashboard-color-picker-selector" [(colorPicker)]="data.colors[i]" [style.background]="data.colors[i]" [(cpOutputFormat)]="hex"/>
      <span class="msf-dashboard-color-picker-color-label">{{data.colors[i]}}</span>
    </div>
  </div>
  <div class="msf-dashboard-addmenu-icon-item" *ngIf="data.thresholds">
    <mat-icon class="msf-dashboard-chart-icon" aria-label="Thresholds">assessment</mat-icon>
    <span class="msf-dashboard-addmenu-item-text">Thresholds</span>
  </div>
  <div class="msf-dashboard-color-picker-threshold-input" *ngIf="data.thresholds">
    {{data.thresholds.length}}
    <button mat-icon-button (click)="addThreshold()">
      <mat-icon aria-label="add">add_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="removeThreshold()">
      <mat-icon aria-label="delete">remove_circle</mat-icon>
    </button>
  </div>
  <div class="msf-dashboard-color-picker-threshold-conatiner" *ngIf="data.thresholds">
    <div class="msf-dashboard-color-picker-threshold-item" *ngFor="let threshold of data.thresholds; trackBy: trackColor">
      <mat-form-field class="msf-width-30-min">
        <input matInput autocomplete="off" type="number" placeholder="Min" [(ngModel)]="threshold.min"/>
      </mat-form-field>
      <mat-form-field class="msf-width-30-max">
        <input matInput autocomplete="off" type="number" placeholder="Max" [(ngModel)]="threshold.max"/>
      </mat-form-field>
      <div class="msf-dashboard-color-picker-selector-container">
        <span class="msf-dashboard-color-picker-selector-label">Color:</span>
        <input class="msf-dashboard-color-picker-selector" [(colorPicker)]="threshold.color" [style.background]="threshold.color" [(cpOutputFormat)]="hex"/>
        <span class="msf-dashboard-color-picker-color-label">{{threshold.color}}</span>
      </div>
    </div>
  </div>
</div>
<div class="msf-dashboard-control-variables-button">
  <button mat-flat-button class="flat-button" (click)="closeDialog()">OK</button>
</div>