<div class="msf-dashboard-control-variables-title">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  {{data.title}}
</div>
<div class="msf-dashboard-color-picker-container">
  <div class="msf-dashboard-addmenu-icon-item">
    <mat-icon class="msf-dashboard-chart-icon" aria-label="Palette Colors">palette</mat-icon>
    <span class="msf-dashboard-addmenu-item-text" *ngIf="data.numColors == 1">Select Palette Color</span>
    <span class="msf-dashboard-addmenu-item-text" *ngIf="data.numColors != 1">Select Palette Colors</span>
  </div>
  <div class="msf-dashboard-color-picker-layout" *ngIf="data.numColors == 1">
    <div class="msf-dashboard-color-picker-selector-container">
      <span class="msf-dashboard-color-picker-selector-label">Color:</span>
      <input class="msf-dashboard-color-picker-selector" [(colorPicker)]="data.colors[0]" [style.background]="data.colors[0]"/>
      <span class="msf-dashboard-color-picker-color-label">{{data.colors[0]}}</span>
    </div>
  </div>
  <div class="msf-dashboard-color-picker-grid-layout" *ngIf="data.numColors != 1">
    <div class="msf-dashboard-color-picker-selector-container" *ngFor="let color of data.colors; let i = index">
      <span class="msf-dashboard-color-picker-selector-label">Color #{{i + 1}}:</span>
      <input class="msf-dashboard-color-picker-selector" [(colorPicker)]="data.colors[i]" [style.background]="data.colors[i]"/>
      <span class="msf-dashboard-color-picker-color-label">{{data.colors[i]}}</span>
    </div>
  </div>
</div>
<div class="msf-dashboard-control-variables-button">
  <button mat-flat-button class="flat-button" (click)="closeDialog()">OK</button>
</div>