<div class="application-class">
    <div class="login-header" *ngIf="!globals.isLoading">
        <div class="theme-picker">
            <div class="login-header-logo" mat-card-image></div>
            <div class="theme-picker-switch-container">
                <span class="theme-picker-slider-label">DARK</span>
                <mat-slide-toggle class="theme-picker-slider" [checked]="globals.theme === 'dark-theme' ? false : true" (change)="globals.setOverlayTheme($event)"></mat-slide-toggle>
                <span class="theme-picker-slider-label">LIGHT</span>
                <div class="theme-picker-label-container">
                    <span class="theme-picker-label">THEME</span>
                </div>
            </div>
        </div>
    </div>
    <div class="login-body">
        <div *ngIf="!mobileQuery.matches" class="login-body-logo">
            <div mat-card-image class="login-header-image login-pulse-logo"></div>
        </div>
         <div class="login-body-container" [class.is-mobile]="mobileQuery.matches">
            <mat-card class="login-card" [class.is-mobile]="mobileQuery.matches">
                <mat-card-header>
                    <div *ngIf="mobileQuery.matches" mat-card-image class="login-header-image login-pulse-logo"></div>
                    <!-- <img *ngIf="mobileQuery.matches" mat-card-image class="login-header-ima ge" src="../../assets/images/light-theme-login-logo.png" > -->
                </mat-card-header>
                <mat-card-content>
                    <app-notification [show]="utils.notificationShow" [message]="utils.notificationMessage" [type]="utils.notificationType"></app-notification>
                    <form class="login-form" name="login">
                        <div class="block-item-input">
                            <mat-form-field [formGroup]="loginForm">
                                <mat-icon class="input_img">person</mat-icon>
                                <input matInput autocomplete="off" type="text" placeholder="Username" class="input-username"
                                    formControlName="usernameValidator" name="username" [(value)]="user.username" />
                                <mat-error *ngIf="isUsernameInvalid()">{{getErrorUsernameMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="block-item-input">
                            <mat-form-field [formGroup]="loginForm">
                                <mat-icon class="input_img">lock</mat-icon>
                                <input matInput type="password" placeholder="Password" class="input-password"
                                    formControlName="passwordValidator" name="password" [(value)]="user.password" />
                                <mat-error *ngIf="isPasswordInvalid()">{{getErrorPasswordMessage()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="center">
                            <div class="block-item">
                                <a routerLink="/forgot-password" class="login-link block login-font-color">Forgot Password?</a>
                            </div>
                            <div class="block-item">
                                <span class="login-link-reg">New User?</span>
                                <a routerLink="/register" class="login-link login-link-reg2">Register Now</a>
                            </div>
                        </div>
                    </form>
                </mat-card-content>
                <mat-card-actions class="center">
                    <button mat-flat-button class="login-button" (click)="login()">Sign in</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>