<div>
    <div class="center" *ngIf="argument.title || isDashboardPanel">
        <div class="msf-component-airport-title">
            {{argument.title}}
            <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
                matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
                <div class="anchor-icon"></div>
            </button>
        </div>
    </div>    
    <div class="msf-airline-container">
        <div class="msf-full-width">   
        <div class="msf-component-airport-sub-title">{{argument.label1}}</div>         
        <ng-select
            [items]="data"
            [multiple]="false"
            loadingText="Loading..."
            [closeOnSelect]="true"
            [hideSelected]="false"
            bindLabel="name"
            bindName="id"
            [(ngModel)]="argument.value1"
            (ngModelChange)="startURLUpdate.emit()"
            appendTo=".msf-control-variables-overlay"
            dropdownPosition="bottom">
        </ng-select>          
        </div>
    </div>
</div>  
