<!--Header-->
<div class="msf-header">
  <div class="msf-header-image"></div>
  <div class="msf-header-title">Dashboard</div>
  <div class="msf-header-icons">
      <img src="../../assets/images/play.png" class="header-icon">
      <img src="../../assets/images/opciones.png" class="header-icon" >      
  </div>
</div>
<!--body-->
<div class="msf-body">
  <!--nav-->
  <div class="msf-nav">
    <ul>
      <li *ngFor="let option of options" routerLink="{{option.url}}" (click)="setState(option)" class="{{activeElement==option?'msf-active-li':'msf-off'}}">
        <img src="../../assets/images/check.png" class="msf-li-icon">
        <a class="msf-option">{{option.name}}</a>
      </li>
    </ul>
    <a class="msf-link msf-support-text" >Need support?</a>
  </div>
  <!--content-->
  <div class="fade-in msf-container">
    <div *ngFor="let option of options" id="option.id" class="{{activeElement==option?'msf-show-panel':'msf-hide'}} msf-content">
      <!--Dashboard-->
      <div class="msf-internal-content" *ngIf="option.name==='Landing'" >
        <div class="landing-name-content">
            <img src="../../assets/images/pulse (1).png" > 
        </div>
        <div class="landing-icon-content">
          <div *ngFor="let option of options2">
              <img  (click)="goTo(option)" src="../../assets/images/{{option.name}}.png" class="landing-icon">              
              <span >{{option.name}}</span>
          </div>
        </div>
         
      </div> 
      
    </div>
  </div>
</div>
