<!--Header-->
<div class="msf-header">
  <div class="msf-header-image"></div>
  <div class="msf-header-title">Dashboard</div>
  <div class="msf-header-icons">
      <img src="../../assets/images/play.png" class="header-icon">
      <img src="../../assets/images/opciones.png" class="header-icon" >      
  </div>
</div>
<!--body-->
<div class="msf-body">
  <!--nav-->
  <div class="msf-nav">
    <ul>
      <li *ngFor="let option of options" routerLink="{{option.url}}" (click)="setState(option.label)" class="{{aciveElement==option.label?'msf-active-li':'msf-off'}}">
        <img src="../../assets/images/check.png" class="msf-li-icon">
        <a class="msf-option">{{option.label}}</a>
      </li>
    </ul>
    <a class="msf-link msf-support-text" >Need support?</a>
  </div>
  <!--content-->
  <div class="fade-in msf-container">
    <div *ngFor="let option of options" id="option.label" class="{{aciveElement==option.label?'msf-show-panel':'msf-hide'}} msf-content">
      <!--Dashboard-->
      <div class="msf-internal-content" *ngIf="option.label==='Landing'" >
        <div class="landing-name-content">
            <img src="../../assets/images/pulse (1).png" > 
        </div>
        <div class="landing-icon-content">
          <div>
              <img src="../../assets/images/airview.png" class="landing-icon">              
              <span>Airview</span>
          </div>
          <div>
            <img src="../../assets/images/ship_tracker.png" class="landing-icon">
            <span>Ship Tracker</span>
          </div>
          <div>
            <img src="../../assets/images/content.png" class="landing-icon">
            <span>Content</span>
          </div>
          <div>
            <img routerLink="/application" src="../../assets/images/masflight.png" class="landing-icon">
            <span>masFlight</span>
          </div>
        </div>
         
      </div> 
      
    </div>
  </div>
</div>
