.is-active {
    background-color: #182128;
}

.is-inactive {
    background-color: transparent;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: transparent;
}

.menu-recursive-input input {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    height: 40px;
    width: 90%;
}

.draggable-list {
    max-width: 100%;
    display: block;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
}

.draggable-box {
    cursor: move;
    background-color: rgb(30, 30, 30);
}

.cdk-drag-preview {
    box-sizing: border-box;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-box:last-child {}

.draggable-list.cdk-drop-list-dragging .draggable-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}