<div class="msf-dashboard-panel-container" [style.height.px]="panelHeight" *ngIf="!values.displayChart && !values.displayInfo && !values.displayForm && !values.displayPic">
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-panel-sub-container-row">
      <mat-form-field class="msf-width-80">
        <input matInput autocomplete="off" type="text" placeholder="Chart Name" [(ngModel)]="values.chartName"/>
      </mat-form-field>
    </div>
  </div>
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-panel-sub-container-row">
      <mat-form-field [formGroup]="chartForm" class="msf-full-width">
        <mat-select formControlName="dataFormCtrl" placeholder="Select Data From" [(value)]="values.currentOption" (selectionChange)="loadChartFilterValues($event.value)">
          <ngx-mat-select-search [formControl]="dataFormFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="msf-dashboard-panel-sub-container-row msf-dashboard-panel-sub-container-space msf-dashboard-panel-chart-type">
      <mat-form-field class="msf-full-width">
        <mat-select placeholder="Chart Type" [(ngModel)]="values.currentChartType" (selectionChange)="checkChartType()">
          <mat-option *ngFor="let chartType of chartTypes" [value]="chartType">
            {{chartType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="msf-dashboard-panel-sub-container-row msf-dashboard-panel-sub-container-checkbox msf-dashboard-panel-interval-time">
      <mat-checkbox class="cancels-checkbox" style="display: inline-block;" [(ngModel)]="values.updateIntervalSwitch" (ngModelChange)="toggleIntervalInput()"></mat-checkbox>
      <mat-form-field [formGroup]="chartForm" class="msf-full-width">
        <input matInput formControlName="intervalCtrl" autocomplete="off" type="number" placeholder="Update Interval (In Minutes)" [(value)]="values.updateTimeLeft"/>
      </mat-form-field>
    </div>
  </div>
  <ng-container *ngIf="!isInformationPanel() && !isSimpleFormPanel() && !isPicturePanel()">
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-addmenu-icon-item">
        <mat-icon class="msf-dashboard-chart-icon" aria-label="Filter List">filter_list</mat-icon>
        <span class="msf-dashboard-addmenu-item-text">Chart Configuration</span>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">bar_chart</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width">
              <mat-select formControlName="variableCtrl" placeholder="Analysis by" #variableSelect [(value)]="values.variable" (selectionChange)="checkChartFilters()">
                <ngx-mat-select-search [formControl]="variableFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                  {{variable.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">multiline_chart</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width">
              <mat-select formControlName="xaxisCtrl" placeholder="x - Axis" #xaxisSelect [(value)]="values.xaxis" (selectionChange)="checkChartFilters()">
                <ngx-mat-select-search [formControl]="xaxisFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                  {{variable.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">show_chart</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <div class="msf-dashboard-chart-op-container-row">
              <div class="msf-dashboard-field-valuectrl">
                <mat-form-field [formGroup]="chartForm">
                  <mat-select formControlName="valueCtrl" placeholder="Values" #valueSelect [(value)]="values.valueColumn" (selectionChange)="checkChartFilters()">
                    <ngx-mat-select-search [formControl]="valueFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                    <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                      {{variable.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="msf-dashboard-field-function">
                <mat-form-field>
                  <mat-select placeholder="Function" [(ngModel)]="values.function">
                    <mat-option *ngFor="let fun of functions" [value]="fun">
                      {{fun.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="msf-dashboard-panel-sub-container-column-reverse">
          <button [disabled]="!generateBtnEnabled" mat-flat-button [ngClass]="generateBtnEnabled ? 'flat-button' : 'flat-button-disabled'" (click)="loadData()">Generate</button>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!variableCtrlBtnEnabled" mat-mini-fab (click)="goToControlVariables()" color="primary">
              <mat-icon aria-label="Control Variables">more_vert</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!values.chartGenerated && !values.infoGenerated && !values.formGenerated && !values.picGenerated" mat-mini-fab (click)="goToChart()" color="primary">
              <mat-icon aria-label="Go To Chart">bar_chart</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button mat-mini-fab (click)="goToColorPicker()" color="primary">
              <mat-icon aria-label="Color Picker">palette</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="values.currentOption == null || !values.currentOption.drillDownOptions.length" mat-mini-fab (click)="goToDrillDownSettings()" color="primary">
              <mat-icon aria-label="Drill Down">subtitles</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button mat-mini-fab (click)="savePanel()" color="primary">
              <mat-icon aria-label="Save Changes">save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isInformationPanel()">
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-panel-sub-container-row">
        <div class="msf-dashboard-chart-options-container msf-dashboard-info-chart-options">
          <div class="msf-dashboard-chart-selector">
            <div class="msf-dashboard-chart-analysis-title">
              <mat-icon class="msf-dashboard-chart-icon">table_chart</mat-icon>
            </div>
            <div class="msf-dashboard-chart-op-container">
              <mat-form-field [formGroup]="chartForm" class="msf-full-width">
                <mat-select formControlName="infoNumVarCtrl" placeholder="Number of variables" [(value)]="values.infoNumVariables" (selectionChange)="checkNumVariables()">
                  <mat-option *ngFor="let number of [1,2,3]" [value]="number">
                    {{number}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="msf-dashboard-chart-selector">
            <div class="msf-dashboard-chart-analysis-title">
              <mat-icon class="msf-dashboard-chart-icon">filter_1</mat-icon>
            </div>
            <div class="msf-dashboard-chart-op-container">
              <mat-form-field [formGroup]="chartForm" class="msf-full-width">
                <mat-select formControlName="infoVar1Ctrl" placeholder="Variable #1" [(value)]="values.infoVar1">
                  <ngx-mat-select-search [formControl]="infoVar1FilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                  <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                    {{variable.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button [disabled]="!values.infoVar1" mat-icon-button (click)="goToFunctions(0)" [ngClass]="values.infoVar1 ? 'func-button' : 'func-button-disabled'">
              <mat-icon aria-label="Functions for Variable #1">more_horiz</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-chart-selector">
            <div class="msf-dashboard-chart-analysis-title">
              <mat-icon class="msf-dashboard-chart-icon">filter_2</mat-icon>
            </div>
            <div class="msf-dashboard-chart-op-container">
              <mat-form-field [formGroup]="chartForm" class="msf-full-width">
                <mat-select formControlName="infoVar2Ctrl" placeholder="Variable #2" [(value)]="values.infoVar2">
                  <ngx-mat-select-search [formControl]="infoVar2FilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                  <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                    {{variable.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button [disabled]="!values.infoVar2" mat-icon-button (click)="goToFunctions(1)" [ngClass]="values.infoVar2 ? 'func-button' : 'func-button-disabled'">
              <mat-icon aria-label="Functions for Variable #2">more_horiz</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-chart-selector">
            <div class="msf-dashboard-chart-analysis-title">
              <mat-icon class="msf-dashboard-chart-icon">filter_3</mat-icon>
            </div>
            <div class="msf-dashboard-chart-op-container">
              <mat-form-field [formGroup]="chartForm" class="msf-full-width">
                <mat-select formControlName="infoVar3Ctrl" placeholder="Variable #3" [(value)]="values.infoVar3">
                  <ngx-mat-select-search [formControl]="infoVar3FilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                  <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                    {{variable.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button [disabled]="!values.infoVar3" mat-icon-button (click)="goToFunctions(2)" [ngClass]="values.infoVar3 ? 'func-button' : 'func-button-disabled'">
              <mat-icon aria-label="Functions for Variable #3">more_horiz</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-panel-sub-container-column-reverse">
          <button [disabled]="!generateBtnEnabled" mat-flat-button [ngClass]="generateBtnEnabled ? 'flat-button' : 'flat-button-disabled'" (click)="loadData()">Generate</button>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!variableCtrlBtnEnabled" mat-mini-fab (click)="goToControlVariables()" color="primary">
              <mat-icon aria-label="Control Variables">more_vert</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!values.chartGenerated && !values.infoGenerated && !values.formGenerated && !values.picGenerated" mat-mini-fab (click)="goToChart()" color="primary">
              <mat-icon aria-label="Go To Information">bar_chart</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button mat-mini-fab (click)="savePanel()" color="primary">
              <mat-icon aria-label="Save Changes">save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isSimpleFormPanel()">
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-form-sub-container">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-chart-selector">
          <div class="msf-dashboard-chart-analysis-title">
            <mat-icon class="msf-dashboard-chart-icon">list</mat-icon>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width">
              <mat-select formControlName="columnCtrl" placeholder="Select Column">
                <ngx-mat-select-search [formControl]="columnFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                  {{variable.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width">
              <mat-select formControlName="fontSizeCtrl" placeholder="Title Font Size">
                <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">
                  {{fontSize.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width">
              <mat-select formControlName="valueFontSizeCtrl" placeholder="Value Font Size">
                <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">
                  {{fontSize.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="msf-dashboard-chart-op-container">
            <mat-form-field [formGroup]="chartForm" class="msf-full-width">
              <mat-select formControlName="valueOrientationCtrl" placeholder="Value Orientation">
                <mat-option *ngFor="let orientation of orientations" [value]="orientation">
                  {{orientation.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="msf-dashboard-chart-add-button" id="msf-dashboard-form-button">
            <button [disabled]="!isFormColumnValid()" mat-icon-button (click)="addColumnIntoForm()" [ngClass]="isFormColumnValid() ? 'func-button' : 'func-button-disabled'">
              <mat-icon class="msf-dashboard-chart-icon" aria-label="Add Column">add</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-form-container-column" *ngIf="values.formVariables.length" [ngStyle]="{'overflow-y': values.formVariables.length > 2 ? 'scroll' : 'hidden'}" cdkDropList [cdkDropListData]="values.formVariables" cdkDropListOrientation="vertical" (cdkDropListDropped)="swapFormVariablePositions($event)">
      <div class="msf-dashboard-panel-sub-container-row" id="msf-dashboard-panel-form-container-row" *ngFor="let formVariable of values.formVariables; let column = index" cdkDragLockAxis="y" cdkDragBoundary="#msf-dashboard-panel-form-container-column" cdkDrag>
        <div class="msf-dashboard-chart-op-container" id="msf-dashboard-panel-form-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [(value)]="formVariable.column" placeholder="Select Column">
              <ngx-mat-select-search [formControl]="columnFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="msf-dashboard-chart-op-container" id="msf-dashboard-panel-form-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [(value)]="formVariable.fontSize" placeholder="Title Font Size">
              <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">
                {{fontSize.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="msf-dashboard-chart-op-container" id="msf-dashboard-panel-form-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [(value)]="formVariable.valueFontSize" placeholder="Value Font Size">
              <mat-option *ngFor="let fontSize of fontSizes" [value]="fontSize">
                {{fontSize.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="msf-dashboard-chart-op-container" id="msf-dashboard-panel-form-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [(value)]="formVariable.valueOrientation" placeholder="Value Orientation">
              <mat-option *ngFor="let orientation of orientations" [value]="orientation">
                {{orientation.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="msf-dashboard-chart-add-button" id="msf-dashboard-form-button">
          <div class="mat-icon-drag-button">
            <mat-icon class="msf-dashboard-chart-icon" aria-label="move" cdkDragHandle>drag_handle</mat-icon>
          </div>
        </div>
        <div class="msf-dashboard-chart-add-button" id="msf-dashboard-form-button">
          <button mat-icon-button (click)="deleteColumnFromForm(column)">
            <mat-icon class="msf-dashboard-chart-icon" aria-label="Delete Column">delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-form-container-column-empty" *ngIf="!values.formVariables.length">
      <div class="msf-no-results">
        The form doesn't contain any columns
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-panel-sub-container-column-reverse">
          <button [disabled]="!generateBtnEnabled" mat-flat-button [ngClass]="generateBtnEnabled ? 'flat-button' : 'flat-button-disabled'" (click)="loadData()">Generate</button>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!variableCtrlBtnEnabled" mat-mini-fab (click)="goToControlVariables()" color="primary">
              <mat-icon aria-label="Control Variables">more_vert</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!values.chartGenerated && !values.infoGenerated && !values.formGenerated && !values.picGenerated" mat-mini-fab (click)="goToChart()" color="primary">
              <mat-icon aria-label="Go To Form">bar_chart</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button mat-mini-fab (click)="savePanel()" color="primary">
              <mat-icon aria-label="Save Changes">save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isPicturePanel()">
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-picture-container">
      <div class="msf-dashboard-panel-picture-label-container">
        <div class="msf-dashboard-panel-picture-label">
          Set the control variables before generating the picture!
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-chart-options-container">
        <div class="msf-dashboard-panel-sub-container-column-reverse">
          <button [disabled]="!generateBtnEnabled" mat-flat-button [ngClass]="generateBtnEnabled ? 'flat-button' : 'flat-button-disabled'" (click)="loadData()">Generate</button>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!variableCtrlBtnEnabled" mat-mini-fab (click)="goToControlVariables()" color="primary">
              <mat-icon aria-label="Control Variables">more_vert</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button [disabled]="!values.chartGenerated && !values.infoGenerated && !values.formGenerated && !values.picGenerated" mat-mini-fab (click)="goToChart()" color="primary">
              <mat-icon aria-label="Go To Picture">bar_chart</mat-icon>
            </button>
          </div>
          <div class="msf-dashboard-panel-control-variable-button">
            <button mat-mini-fab (click)="savePanel()" color="primary">
              <mat-icon aria-label="Save Changes">save</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<!-- ngIf doesn't work with AmCharts -->
<div class="{{values.displayChart ? 'msf-dashboard-panel-container-chart' : 'msf-dashboard-panel-container-invisible'}}" [style.height.px]="panelHeight">
  <div class="msf-dashboard-panel-title" *ngIf="values.displayChart">{{values.chartName}}</div>
  <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard.chart-display-container-{{values.id}}">
    <div class="msf-dashboard-panel-config-button" *ngIf="!globals.readOnlyDashboard">
      <button mat-mini-fab (click)="goToChartConfiguration()" color="primary">
        <mat-icon aria-label="Edit Configuration">menu</mat-icon>
      </button>
      <button mat-mini-fab color="primary" style="margin-bottom: 7px" (click)="sharePanel()">
        <mat-icon aria-label="Share Panel">share</mat-icon>
      </button>
    </div>
    <div id="msf-dashboard-chart-display-{{values.id}}" [ngStyle]="{'width': globals.readOnlyDashboard ? '100%' : 'calc(100% - 35px)'}" [style.height.px]="calcChartHeight()"></div>
  </div>
</div>
<div class="msf-dashboard-panel-container-chart" *ngIf="values.displayInfo" [style.height.px]="panelHeight">
  <div class="msf-dashboard-panel-title">{{values.chartName}}</div>
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-panel-config-button" *ngIf="!globals.readOnlyDashboard">
      <button mat-mini-fab (click)="goToInfoConfiguration()" color="primary">
        <mat-icon aria-label="Edit Configuration">menu</mat-icon>
      </button>
      <button mat-mini-fab color="primary" style="margin-bottom: 7px" (click)="sharePanel()">
        <mat-icon aria-label="Share Panel">share</mat-icon>
      </button>
    </div>
    <div style="width: 100%" [style.height.px]="calcChartHeight()">
      <div class="msf-dashboard-info-display">
        <div class="msf-dashboard-info-container" *ngIf="values.infoVar1">
          <div class="msf-dashboard-info-table" *ngFor="let result of values.lastestResponse">
            <div class="msf-dashboard-info-title">{{result.title}}</div>
            <div class="msf-dashboard-info-value">{{getResultValue(result.value)}}</div>
            <div class="msf-dashboard-info-separator-background">
              <hr class="msf-dashboard-info-separator">
            </div>
            <div class="msf-dashboard-info-measure">{{result.measure}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="msf-dashboard-panel-container-chart" *ngIf="values.displayForm" [style.height.px]="panelHeight">
  <div class="msf-dashboard-panel-title">{{values.chartName}}</div>
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-panel-config-button" *ngIf="!globals.readOnlyDashboard">
      <button mat-mini-fab (click)="goToFormConfiguration()" color="primary">
        <mat-icon aria-label="Edit Configuration">menu</mat-icon>
      </button>
      <button mat-mini-fab color="primary" style="margin-bottom: 7px" (click)="sharePanel()">
        <mat-icon aria-label="Share Panel">share</mat-icon>
      </button>
    </div>
    <div style="width: 100%; display: table" [style.height.px]="calcChartHeight()">
      <div class="msf-media-title-container" id="msf-dashboard-form-display">
        <div [ngClass]="values.formVariables[column].valueOrientation.value ? 'msf-dashboard-form-display-result-vertical' : 'msf-dashboard-form-display-result-horizontal'" *ngFor="let formResult of values.lastestResponse; let column = index">
          <span class="msf-media-title-value" id="msf-dashboard-form-display-title" [style.font-size.px]="getFormFontSize(column)">{{formResult.column.name}}: </span>
          <span class="msf-media-title-value" id="msf-dashboard-form-display-value" [style.font-size.px]="getValueFormFontSize(column)">{{formResult.value}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="msf-dashboard-panel-container-chart" *ngIf="values.displayPic" [style.height.px]="panelHeight">
  <div class="msf-dashboard-panel-title"><br></div>
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-panel-config-button" *ngIf="!globals.readOnlyDashboard">
      <button mat-mini-fab (click)="goToFormConfiguration()" color="primary">
        <mat-icon aria-label="Edit Configuration">menu</mat-icon>
      </button>
      <button mat-mini-fab color="primary" style="margin-bottom: 7px" (click)="sharePanel()">
        <mat-icon aria-label="Share Panel">share</mat-icon>
      </button>
    </div>
    <div [style.height.px]="calcChartHeight()">
      <!-- TODO: Picture goes here -->
    </div>
  </div>
</div>