.cdk-drag-preview
{
    color: #fff;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.cdk-drag-placeholder
{
    opacity: 0;
}

.cdk-drag-animating
{
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.msf-dashboard-panel-sub-container-column .cdk-drop-list-dragging .msf-dashboard-chartbox-item:not(.cdk-drag-placeholder)
{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}