<div style="height: calc(100% - 20px)">
  <div class="msf-dashboard-panel-container msf-dashboard-panel-gridstack" *ngIf="!displayChart && !displayInfo && !displayForm && !displayPic && !displayTable && !displayMapbox && !displayDynTable && globals.readOnlyDashboard">
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-picture-container">
      <div class="msf-dashboard-panel-picture-label-container">
        <div class="msf-dashboard-panel-picture-label">
          This panel has no results generated
        </div>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container msf-dashboard-panel-small msf-dashboard-panel-gridstack" *ngIf="!displayChart && !displayInfo && !displayForm && !displayPic && !displayTable && !displayMapbox && !displayDynTable && !globals.readOnlyDashboard">
    <button mat-flat-button class="flat-button" (click)="configurePanel()">Configure Panel</button>
  </div>
  <!-- ngIf doesn't work with AmCharts -->
  <div class="{{displayChart && !advTableView ? 'msf-dashboard-panel-container-chart' : 'msf-dashboard-panel-container-invisible'}}">
    <div class="msf-dashboard-panel-title" *ngIf="displayChart">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard || (globals.readOnlyDashboard && isAdvChartPanel())">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard && !isAdvChartPanel()"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-anchor-container" *ngIf="displayAnchoredArguments">
      <div class="msf-dashboard-panel-anchored-argument" *ngFor="let anchoredArgument of anchoredArguments">
        <div class="anchored-argument-left-side">
          <app-msf-argument [currentArgument]="anchoredArgument.argument" [currentGlobalOptionId]="values.currentOption.id" [anchoredArgument]="true" [updateURLResults]="updateURLResults" (setLoading)="setArgumentLoading(anchoredArgument, $event)" (startURLUpdate)="startURLUpdate()"></app-msf-argument>
        </div>
        <div class="anchored-argument-button">
          <button mat-icon-button class="msf-anchor-button-pressed" matTooltip="Removed Anchored Argument"
                  (click)="removedAnchoredArgument(anchoredArgument)">
            <div class="anchor-icon"></div>
          </button>
        </div>
      </div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-chart-display-container-{{values.id}}">
      <div class="msf-dashboard-map-routelist" *ngIf="isMapPanel() && values.flightRoutes.length">
        <div class="msf-dashboard-map-routelist-container">
          <div class="msf-dashboard-map-routelist-item" *ngFor="let item of values.flightRoutes">
            <div class="msf-dashboard-map-item-flight">
              <span *ngIf="isArray(item.Flight)">{{item.TouchedAirports}}</span>
              <span *ngIf="!isArray(item.Flight)">{{item.Flight.Marketing_Airline}} {{item.Flight.Airline}} - F# {{item.Flight.FlightNo}} {{item.TouchedAirports}}</span>
            </div>
            <div class="msf-dashboard-map-item-checkbox">
              <mat-checkbox class="cancels-checkbox" style="display: inline-block;" [(ngModel)]="item.checked" (ngModelChange)="toggleMapRoute(item)"></mat-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div id="msf-dashboard-chart-display-{{values.id}}" [style.width.%]="100"></div>
      <div class="msf-dashboard-map-panelinfo" *ngIf="isMapPanel() && checkedRoutes.length == 1">
        <table class="msf-dashboard-map-panelinfo-container">
          <tr><td>Touched Airports</td><td>{{checkedRoutes[0].TouchedAirports}}</td></tr>
          <tr><td>Total Distance</td><td>{{checkedRoutes[0].TotalDistance}}</td></tr>
          <tr><td>Total Time</td><td>{{checkedRoutes[0].TotalTime}}</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack" *ngIf="displayInfo">
    <div class="msf-dashboard-panel-title">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div style="width: 100%; height: 100%">
        <div class="msf-dashboard-info-display">
          <div class="msf-dashboard-info-container" *ngIf="values.infoVar1">
            <div class="msf-dashboard-info-table" *ngFor="let result of values.lastestResponse">
              <div class="msf-dashboard-info-title">{{result.title}}</div>
              <div class="msf-dashboard-info-value">{{getResultValue(result.value)}}</div>
              <div class="msf-dashboard-info-separator-background">
                <hr class="msf-dashboard-info-separator">
              </div>
              <div class="msf-dashboard-info-measure">{{result.measure}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack" *ngIf="displayForm">
    <div class="msf-dashboard-panel-title">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column simple-form-results-container" [ngClass]="{ 'simple-form-results-container-with-anchored-args': displayAnchoredArguments }">
      <div class="msf-dashboard-form-container">
        <div class="msf-media-title-container" id="msf-dashboard-form-display">
          <div class="msf-dashboard-form-display-child" [ngClass]="values.formVariables[column].valueOrientation.value ? 'msf-dashboard-form-display-result-vertical' : 'msf-dashboard-form-display-result-horizontal'" *ngFor="let formResult of values.lastestResponse; let column = index">
            <span class="msf-media-title-value" id="msf-dashboard-form-display-title" [style.font-size.px]="getFormFontSize(column)">{{formResult.column.columnLabel}}: </span>
            <ng-container *ngIf="formResult.column.columnType !== 'number'">
              <span class="msf-media-title-value" id="msf-dashboard-form-display-value" [style.font-size.px]="getValueFormFontSize(column)">{{formResult.value}}</span>
            </ng-container>
            <ng-container *ngIf="formResult.column.columnType === 'number'">
              <span class="msf-media-title-value" id="msf-dashboard-form-display-value" [style.font-size.px]="getValueFormFontSize(column)"><span [ngStyle]="{ 'color' : getValueFormFontColor(formResult) }"><span *ngIf="formResult.column.prefix">{{formResult.column.prefix}}</span>{{formResult.value}}<span *ngIf="formResult.column.suffix">{{formResult.column.suffix}}</span></span></span>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack" *ngIf="displayPic">
    <div class="msf-dashboard-panel-title">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="content-panel-img">
        <app-image-link [url]="values.urlImg"></app-image-link>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack" [style.display]="displayTable ? 'flex' : 'none'">
    <div class="msf-dashboard-panel-title" [style.padding-bottom.px]="5">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-table-container" [ngClass]="{ 'msf-dashboard-table-container-with-anchroed-args': displayAnchoredArguments }">
        <div class="msf-dashboard-child-panel-table msf-dashboard-panel-table" style="height: calc(100% - 27px)">
          <app-msf-table #msfTableRef [isLoading]="values.isLoading" 
          (finishLoading)="finishLoadingTable($event)" [categoryArguments]="values.currentOptionCategories"
           [currentOption]="values.currentOption" [isPanel]="true" [thresholds]="values.thresholds"
           [paginator]="paginator" [pageIndex]="pageIndex" 
           (paginatorlength)=paginatorlength($event)
           (shmoreResult)=shmoreResult($event)
           (sortingDataTable)=sortingDataTable($event)></app-msf-table>
        </div>
        <mat-paginator #paginator [pageIndex]="pageI" [pageSize]="pageSize" [length]="lengthpag" hidePageSize
                       (page)="pageEvent = getServerData($event)" showFirstLastButtons
                       [ngClass]="values.showPaginator && !values.isLoading && (moreResultsBtn || (!moreResultsBtn && actualPageNumber!=0)) ?
           'msf-paginator-tableDashboard' : 'msf-hide'"></mat-paginator>
        <div [ngClass]="moreResultsBtn ? 'msf-menu-more-button' : 'msf-menu-more-button disabled-more-button'"
             (click)="moreTableResults()" [style.margin-top-px]="3" *ngIf="msfTableRef && msfTableRef.dataSource && !values.showPaginator">
          <img style="width: 16px; height: 16px;" src="../../assets/images/{{globals.theme}}-more.png" class="msf-menu-image msf-vertical-middle msf-line">
          <div class="msf-vertical-middle msf-line" style="font-size: 13px;">More Result</div>
        </div>
        <div *ngIf="!haveTableDataSource()" [style.height.px]="35"></div>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack" [style.display]="displayMapbox ? 'block' : 'none'">
    <div class="msf-dashboard-panel-title">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div style="height: calc(100% - 7px)" class="msf-dashboard-panel-mapbox">
        <app-msf-map #msfMapRef [isLoading]="values.isLoading" [currentOption]="values.currentOption" [useCancelButton]="false" [displayMapMenu]="2" [currentMapType]="values.style" (finishLoading)="finishMapboxLoading($event)"></app-msf-map>
      </div>
    </div>
  </div>
  <div class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack" *ngIf="displayDynTable">
    <div class="msf-dashboard-panel-title">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="dynamic-table-scroll dashboard-panel-dynamic-table-scroll" style="height: calc(100% - 20px)">
        <table *ngIf="dynTableData" class="mat-elevation-z8 dynamic-table-container">
          <tr class="dynamic-table-header-container" *ngFor="let header of dynTableData.headers">
            <!-- Always insert a blank tab header first since it's a pivot table -->
            <th class="dyanmic-table-padding" [style.top.px]="header.topOffset"></th>
            <th class="dynamic-table-header" [style.top.px]="header.topOffset" *ngFor="let value of header.values" [colSpan]="value.colSpan">{{value.value}}</th>
          </tr>
          <tr class="dynamic-table-body-container" *ngFor="let body of dynTableData.body">
            <ng-container *ngIf="body[0].titleOnly">
              <th class="dynamic-table-yaxis-title" [colSpan]="yAxisColSpan">
                <div [style.margin-left.px]="body[0].margin">{{body[0].value}}</div>
              </th>
            </ng-container>
            <ng-container *ngIf="!body[0].titleOnly">
              <th class="dynamic-table-body-title">{{body[0].value}}</th>
              <td class="dynamic-table-value" *ngFor="let value of body | slice: 1; let valueindex = index"><span *ngIf="body[valueindex + 1]">{{body[valueindex + 1]}}</span></td>
            </ng-container>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- Table view for advanced charts -->
  <div *ngIf="displayChart && advTableView" class="msf-dashboard-panel-container-chart msf-dashboard-panel-gridstack">
    <div class="msf-dashboard-panel-title" *ngIf="displayChart">
      <div class="msf-dashboard-panel-title-label-icon">
        <div class="msf-dashboard-panel-title-label" *ngIf="!globals.readOnlyDashboard && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-mobile" *ngIf="!globals.readOnlyDashboard && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-read-only" *ngIf="globals.readOnlyDashboard && !public">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public" *ngIf="globals.readOnlyDashboard && public && !isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-title-label msf-dashboard-panel-title-label-public-mobile" matTooltip="{{values.chartName}}" *ngIf="globals.readOnlyDashboard && public && isMobile">{{values.chartName}}</div>
        <div class="msf-dashboard-panel-results-button" (click)="enableContextMenu($event)" *ngIf="!globals.readOnlyDashboard || (globals.readOnlyDashboard && isAdvChartPanel())">...</div>
        <div class="msf-dashboard-panel-results-button" *ngIf="globals.readOnlyDashboard && !isAdvChartPanel()"></div>
        <ng-container *ngIf="public">
          <div class="msf-dashboard-panel-powered-logo">Powered By</div>
          <div class="msf-dashboard-panel-public-mobile-logo" *ngIf="isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightMobileLogoImage() + ')'}"></div>
          <div class="msf-dashboard-panel-public-logo" *ngIf="!isMobile" [ngStyle]="{'background-image': 'url(' + getMasFlightLogoImage() + ')'}"></div>
        </ng-container>
      </div>
      <div class="msf-dashboard-panel-title-description" *ngIf="!globals.readOnlyDashboard && values.chartDescription">{{values.chartDescription}}</div>
    </div>
    <div class="msf-dashboard-panel-sub-container-column">
      <div class="msf-dashboard-child-panel-table msf-dashboard-panel-table msf-adv-chart-table" style="height: calc(100% - 20px)" [style.width.%]="100" [style.margin-top.px]="5">
        <div class="results-container">
          <table class="mat-elevation-z8 datasource results" style="border-collapse: separate; border-spacing: 0">
            <thead>
              <tr class="mat-header-row">
                <th [style.width.%]="25" class="msf-show-table mat-header-cell" *ngIf="values.variable">{{values.variable.name}}</th>
                <th style="width: 40%; border-left: 0" class="msf-show-table mat-header-cell">Intervals</th>
                <th style="width: 25%; border-left: 0" class="msf-show-table mat-header-cell">{{values.valueColumn.name}}</th>
                <th style="width: 10%; border-left: 0" class="msf-show-table mat-header-cell">Sum</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let row of intervalTableRows">
                <td [style.width.%]="25" class="msf-show-table mat-cell" *ngIf="row.key">{{row.key}}</td>
                <td [style.width.%]="40" class="msf-show-table mat-cell">{{row.Interval}}</td>
                <td [style.width.%]="25" class="msf-show-table mat-cell">{{row.value | number:'.0-2':'en'}}</td>
                <td [style.width.%]="10" class="msf-show-table mat-cell">{{row.sum | number:'.0-2':'en'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
