.cdk-drag-preview
{
    margin-top: 5px;
    color: #fff;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.cdk-drag-placeholder
{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    opacity: 0;
}

.cdk-drag-animating
{
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

#msf-dashboard-panel-form-container-column.cdk-drop-list-dragging #msf-dashboard-panel-form-container-row:not(.cdk-drag-placeholder)
{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}