.plans-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #0079a7;
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.mat-card {
    color: rgba(253, 253, 253, 0.87);
}

.card>* {
    width: 100%;
}

.card-input {
    width: 100%;
}

.features-input {
    width: 100%;
}

.card-container {
    margin: 40px;
}

.feature-tittle-container {
    background-color: #33c0f9;
    padding: 4px;
    display: flex;
    flex: auto;
}

.mat-checkbox-frame {
    border-color: white !important;
}

.feature-options-container {
    background-color: #33c0f9;
    padding: 4px;
    display: flex;
    flex: auto;
    margin-bottom: 10px;
}

.feature-tittle {
    color: white;
    padding-left: 10px;
}

.mat-form-field-underline {
    height: 0px;
}

.button-delete {
    background-image: url("../../assets/images/trash-blue.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 30px 30px;
}

.button-delete-pos {
    margin-right: 10px;
}

.msf-fab-button-features {
    color: #0081B4;
    width: 100% !important;
}

.features-container {
    border-bottom: 1px dashed;
    padding-bottom: 10px;
}

.price-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.button-delete-container {
    float: right;
}

.padding-periodicity-select {
    padding-right: 15px;
}

.mat-checkbox-frame {
    border-color: white !important;
}

.ng-select-container.ng-has-value {
    padding-bottom: 0px !important;
}

.ng-select {
    width: 50% !important;
}

select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    line-height: 1.125px;
}