<div class="plans-container"> 
    <mat-card *ngFor="let plan of plans let i = index;" class="card">
        <mat-card-header>
            <mat-grid-list cols="1">
                    <mat-card-title>Plan Name</mat-card-title>
                    <p>
                            <mat-form-field>
                                <input  matInput calss="card-input" [(ngModel)]="plan.name" autocomplete="off" type="text" placeholder="Name"/> 
                            </mat-form-field>
                        </p>
            </mat-grid-list>
        </mat-card-header>
                <mat-card-content>
                    <div>
                        <h3>Feautures</h3>
                        <div *ngFor="let feature of plan.features let i = index;">
                                <mat-form-field>
                                        <input class="" matInput [(ngModel)]="feature.features" autocomplete="off" type="text" placeholder="Name"/> 
                                </mat-form-field>
                                <h3>Options</h3>
                                <div *ngFor="let option of feature.options let i = index;">
                                    <mat-form-field>
                                            <input class="" matInput [(ngModel)]="option.optionName" autocomplete="off" type="text" placeholder="Name"/> 
                                    </mat-form-field>
                                </div>
                        </div>
                    </div>
                       <!--   <mat-card>
                                <mat-card-header>
                                        <mat-card-title>Feautures</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                        <mat-grid-list cols="1" rowHeight="60px">
                                                <mat-grid-tile *ngFor="let feature of plan.features let i = index;">
                                                        <mat-form-field>
                                                            <input class="" matInput [(ngModel)]="feature.features" autocomplete="off" type="text" placeholder="Name"/> 
                                                        </mat-form-field>
                                                        <mat-form-field>
                                                                <mat-grid-list cols="1" rowHeight="60px">
                                                                        <mat-grid-tile *ngFor="let option of feature.options let i = index;">
                                                                                <mat-form-field>
                                                                                    <input class="" matInput [(ngModel)]="option.optionName" autocomplete="off" type="text" placeholder="Name"/> 
                                                                                </mat-form-field>
                                                                        </mat-grid-tile>
                                                                </mat-grid-list>
                                                        </mat-form-field>
                                                                
                                                        
                                                </mat-grid-tile>
                                        </mat-grid-list>
                                </mat-card-content>
                        </mat-card>
                      <mat-card>
                                <mat-card-header>
                                        <mat-card-title>Fares</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                        <mat-grid-list cols="1" rowHeight="60px">
                                                <mat-grid-tile *ngFor="let fare of plan.fares let i = index;">
                                                        <mat-form-field>
                                                            <input  matInput class="input-register" [(ngModel)]="fare.fare" autocomplete="off" type="text" placeholder="Name"/> 
                                                        </mat-form-field>
                                                </mat-grid-tile>
                                        </mat-grid-list>
                                </mat-card-content>
                        </mat-card>-->
                </mat-card-content>

            </mat-card>
</div>