.plans-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #0079a7;
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.mat-card {
    color: rgba(253, 253, 253, 0.87);
}

.card>* {
    width: 100%;
}

.card-input {
    width: 100%;
}

.features-input {
    width: 100%;
}

.card-container {
    margin: 40px;
}

.feature-tittle-container {
    background-color: #33c0f9;
    padding: 4px;
    display: flex;
    flex: auto;
}

.check-memberships.mat-checkbox-frame {
    border-color: white !important;
}

.feature-options-container {
    background-color: #33c0f9;
    padding: 4px;
    display: flex;
    flex: auto;
    margin-bottom: 10px;
}

.feature-tittle {
    color: white;
    padding-left: 10px;
}

.mat-form-field-underline {
    height: 0px;
}

.button-delete {
    background-image: url("../../assets/images/trash-blue.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 30px 30px;
}

.button-delete-pos {
    margin-right: 10px;
}

.msf-fab-button-features {
    color: #0081B4;
    width: 100% !important;
}

.features-container {
    border-bottom: 1px dashed;
    padding-bottom: 10px;
}

.price-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}

.button-delete-container {
    float: right;
}

.padding-periodicity-select {
    padding-right: 15px;
}

.check-memberships.mat-checkbox-frame {
    border-color: white !important;
}

.msf-mem-button {
    width: 100% !important;
    padding-top: 5px;
    padding-right: 5px;
}

.msf-fare-button {
    width: 95% !important;
    padding-top: 5px;
    padding-right: 5px;
}

#ng-fare-select .ng-select {
    min-width: 100px;
    min-height: 70px;
}

#ng-fare-select .ng-select .ng-select-container .ng-value-container {
    align-items: stretch;
    padding: 0.4375em 0;
    background: white;
    border-top: 0.84375em solid transparent !important;
    border-bottom: 0 !important;
}

#ng-fare-select .ng-select .ng-select-container .ng-value-container .ng-input>input {
    box-sizing: content-box;
    border: 0;
    box-shadow: none;
    outline: 0;
    cursor: default;
    width: 100%;
}

#ng-fare-select .msf-periodicity-select.ng-select .ng-select-container {
    background: white !important;
    color: black !important;
}

/* .ng-select-container.ng-has-value {
    padding-bottom: 0px !important;
}

.check-memberships.ng-select {
    width: 50% !important;
}

select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    line-height: 1.125px;
}

.msf-periodicity-select.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    line-height: 1.125px;
} */
