<div class="msf-dashboard-chartmenu-container">
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-chartmenu-sub-container-row">
      <div class="msf-dashboard-chartmenu-sub-title">Chart Name:</div>
      <mat-form-field class="msf-width-90">
        <input matInput type="text">
      </mat-form-field>
    </div>
    <div class="msf-dashboard-chartmenu-sub-container-row">
      <div class="msf-dashboard-chartmenu-sub-title">Chart Type:</div>
      <mat-form-field class="msf-width-90">
        <mat-select [(ngModel)]="currentChartType" (selectionChange)="chartTypeChange($event.value)">
          <mat-option *ngFor="let chartType of chartTypes" [value]="chartType">
            {{chartType.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-addrowmenu-icon-item">
      <mat-icon class="msf-dashboard-icon" aria-label="filter_list">filter_list</mat-icon>
      <span class="msf-dashboard-addrowmenu-iten-text">Chart Filters</span>
    </div>
  </div>
  <div class="msf-dashboard-chartmenu-sub-container-column">
    <div class="msf-dashboard-chart-options-container">
      <div>
        <div class="msf-chart-analysis-title">
          <i class="material-icons">bar_chart</i> Analysis by
        </div>
        <div class="msf-chart-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [formControl]="variableCtrl" placeholder="Column" #variableSelect [(ngModel)]="variable">
              <ngx-mat-select-search [formControl]="variableFilterCtrl"  placeholderLabel = "Search" noEntriesFoundLabel = "Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="msf-chart-analysis-title">
          <i class="material-icons">multiline_chart</i> x - Axis
        </div>
        <div class="msf-chart-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [formControl]="xaxisCtrl" placeholder="Column" #xaxisSelect [(ngModel)]="xaxis">
              <ngx-mat-select-search [formControl]="xaxisFilterCtrl" placeholderLabel = "Search" noEntriesFoundLabel = "Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div>
        <div class="msf-chart-analysis-title">
          <i class="material-icons">show_chart</i> Values
        </div>
        <div class="msf-chart-op-container">
          <mat-form-field class="msf-full-width">
            <mat-select [formControl]="valueCtrl" placeholder="Column" #valueSelect [(ngModel)]="valueColunm">
              <ngx-mat-select-search [formControl]="valueFilterCtrl"  placeholderLabel = "Search" noEntriesFoundLabel = "Not Found"></ngx-mat-select-search>
              <mat-option *ngFor="let variable of filteredVariables | async" [value]="variable">
                {{variable.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="msf-full-width">
            <mat-select placeholder="Column" [(ngModel)]="function">
              <mat-option *ngFor="let fun of functions" [value]="fun">
                {{fun.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <button mat-flat-button (click)="loadData()">Generate</button>
    </div>
  </div>
</div>
