<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>
<div class="msf-component-airport-input-container" style="margin:10px 0">
    <mat-form-field class="msf-full-width">
        <input class="input-margin" matInput placeholder="{{argument.label1}}" autocomplete="off" [(ngModel)]="argument.value1" (ngModelChange)="startURLUpdate.emit()">
    </mat-form-field> 
    <i class="material-icons msf-menu-arg-right-row">chevron_right</i>
    <mat-form-field class="msf-full-width">
        <input class="input-margin" matInput placeholder="{{argument.label2}}" autocomplete="off" [(ngModel)]="argument.value2" (ngModelChange)="startURLUpdate.emit()">
    </mat-form-field> 
    <div class="msf-component-airport-sub-title msf-component-taxi-min-title">(min)</div>
</div>