<div class="msf-airline-container">
    <div class="msf-full-width">   
    <div class="msf-component-airport-sub-title">{{argument.label1}}</div>         
    <ng-select
        [items]="data"
        [multiple]="false"
        loadingText="Loading..."
        [closeOnSelect]="true"
        [hideSelected]="false"
        bindLabel="name"
        bindName="id"
        [(ngModel)]="argument.value1"
        appendTo=".msf-control-variables-overlay"
        dropdownPosition="bottom">
    </ng-select>          
    </div>
</div>