.material-icon-result-text {
    color: white;
    height: 15px;
}

.material-icon-picker {
    margin-top: 7px;
    width: 216px;
    height: 295px;
    background-color: white;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
    opacity: 1;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.material-icon-picker-selector-container {
    position: relative;
}

.material-icon-picker-input-container {
    padding: 10px;
    padding-right: 17px;
    border-radius: 4px 4px 0 0;
    background-color: #333333;
    position: fixed;
}

.material-icon-picker-input {
    border-radius: 20px;
    background-color: #d2cfcf !important;
    border-style: unset;
    padding: 5px 5px 5px 15px;
}

.material-icon-result-text:hover {
    cursor: pointer;
}

.material-icon-picker-input:focus {
    outline: none !important;
}

.material-icon-picker-remove-icon-button {
    font-size: 14px;
    color: white;
    height: 14px;
    position: absolute;
    right: -10px;
    top: 2px;
}

.material-icon-picker-remove-icon-button:hover {
    cursor: pointer;
    color: #01abec;
}

.material-icon-selector {
    width: 100%;
    height: 250px;
    margin-top: 45px;
    overflow-y: auto;
}

.material-icon-picker-container {
    padding: 5px;
    color: #535353;
}

.material-icon-picker-container-selected {
    border-radius: 20px;
    padding: 5px;
    background-color: #c9c9c9;
    color: #01abec;
}

.material-icon-picker-container:hover {
    border-radius: 20px;
    background-color: #c9c9c9;
    cursor: pointer;
}
