<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>
<div class="msf-component-airport-input-container">
    <mat-form-field class="msf-full-width msf-seats-input">
        <input matInput autocomplete="off" placeholder="{{argument.label1}}" autocomplete="off" class=" msf-full-width msf-menu-arg-select" [(ngModel)]="argument.value1" (ngModelUpdate)="startURLUpdate.emit()">
    </mat-form-field>
    <mat-form-field class="msf-full-width msf-seats-input">
        <input matInput placeholder="{{argument.label2}}" autocomplete="off" class=" msf-full-width msf-menu-arg-select" [(ngModel)]="argument.value2" (ngModelUpdate)="startURLUpdate.emit()">
    </mat-form-field>
    <div class="msf-component-airport-title msf-component-seats-title" style="background: none;margin: 0 10px;">miles</div>
</div>