<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>
<div class="msf-component-airport-input-container checkbox-container single-checkbox">
    <div class="msf-full-width">
        <div class="checkbox-component" *ngFor="let checkbox of data" style="width: 100%">
            <mat-checkbox class="cancels-checkbox"  [value]="argument.value1" [(ngModel)]="argument.value1">
                {{checkbox.name}}
            </mat-checkbox>
        </div>
    </div>
</div>