<div [ngClass]="globals.popupLoading? 'tab-show' : 'tab-hide'" id="msf-dashboard-drill-down-loading" class="msf-dashboard-drill-down-loading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
</div>
<div class="msf-dashboard-control-variables-title" *ngIf="!globals.popupLoading">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  Shared With Me
</div>
<div class="msf-dashboard-panel-container" id="msf-dashboard-drill-down-container">
  <div class="msf-dashboard-panel-sub-container-column">
    <!--
    <div class="msf-dashboard-panel-sub-container-column" id="msf-share-dashboard-container">
      <mat-radio-group [(ngModel)]="argument" style="flex-direction: column; display: flex">
        <mat-radio-button style="margin: 10px;" class="cancels-checkbox" *ngFor="let radio of [1, 2, 3, 4, 5, 6, 7, 8]; let v = index" [value]="v">
          {{radio}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    -->
    <div class="msf-dashboard-panel-sub-container-column" id="msf-dashboard-panel-form-container-column-empty" style="height: 200px">
      <div class="msf-no-results">
        You don't have any dashboard items shared with you
      </div>
    </div>
  </div>
</div>
<div class="msf-dashboard-control-variables-button" id="msf-dashboard-drill-down-container">
  <button mat-flat-button class="flat-button">Add Item</button>
  &nbsp;&nbsp;
  <button mat-flat-button class="flat-button" (click)="closeDialog()">OK</button>
</div>