.card-principal {
    background: rgb(30, 30, 30);
    width: 100%;
}

#category-card {
    padding: 16px;
    height: 523px;
}

.is-active {
    background-color: #232323;
}

.is-inactive {
    background-color: transparent;
}

.img-item-category-argument {
    color: #c7dcf1;
    height: 28px;
    width: 26px;
}
