.card-principal {
    background: rgb(30, 30, 30);
    width: 100%;
}

#category-card {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
}

.is-active {
    background-color: #232323;
}

.is-inactive {
    background-color: transparent;
}

.img-item-category-argument {
    height: 28px;
    width: 26px;
}