.msf-register-card {
    width: 85%;
}

.mat-checkbox-frame {
    border-color: #2d3436 !important;
}

.mat-select-value {
    color: #2d3436;
}

.mat-select-arrow {
    color: #2d3436;
}

.datasource.welcome-table {
    margin-bottom: 0px;
}

.mat-button-wrapper {
    color: #2d3436;
}

.mat-icon-button {
    float: right;
}