<div style="overflow: auto" [style.height.px]="getInnerHeight()" [style.width.px]="getInnerWidth()">
<div class="msf-register-header">

    <img class="msf-medium-logo" src="../../assets/images/logo.png">
    <div class="msf-register-header-content">
        <div class="msf-register-header-title">
            <div class="msf-register-header-title-content"> USER ACTIVATION</div>
        </div>
    </div>
</div>

<mat-card class="msf-register-card msf-center-container">
    <button style="float: left !important;margin-top: 30px;" mat-icon-button routerLink="/application">
    <mat-icon style="color: white">arrow_back</mat-icon>
  </button>
    <button style="float: right !important;" mat-icon-button (click)="saveUsers()">
        <mat-icon style="color: white" aria-label="save">save</mat-icon>
      </button>

    <div class="mat-elevation-z8">
        <mat-form-field style="width:50%; float: right;">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <div style="display: flex; flex-direction: column; overflow: hidden; width: 100%; height: 100%; align-items: center; margin-left: -17px">
        <table mat-table matSort style="overflow: auto;" [dataSource]="dataSource" class="datasource welcome-table">

            <ng-container matColumnDef="columnName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="columnLastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Lastname</th>
                <td mat-cell *matCellDef="let element"> {{ element.lastname }}</td>
            </ng-container>

            <ng-container matColumnDef="columnEmail">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                <td mat-cell *matCellDef="let element"> {{ element.email }}</td>
            </ng-container>

            <ng-container matColumnDef="columnCountry">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                <td mat-cell *matCellDef="let element"> {{ element.country.name }}</td>
            </ng-container>

            <ng-container matColumnDef="columnCountryState">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
                <td mat-cell *matCellDef="let element"> {{ element.CState == null ? '' : element.CState.name }}</td>
            </ng-container>

            <ng-container matColumnDef="columnAddress">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
                <td mat-cell *matCellDef="let element"> {{ element.address }}</td>
            </ng-container>

            <ng-container matColumnDef="columnPostalCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code</th>
                <td mat-cell *matCellDef="let element"> {{ element.postalCode }}</td>
            </ng-container>

            <ng-container matColumnDef="columnPhone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element"> {{ element.phoneNumber }}</td>
            </ng-container>

            <ng-container matColumnDef="columnState">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Activation Status</th>
                <td mat-cell *matCellDef="let element" style="text-align: center">
                    <mat-checkbox class="activation-form" ng-true-value=1 ng-false-value=0 [(ngModel)]="element.state" (change)="addToJson(element)"></mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="columnMembership">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Membership</th>
                <td mat-cell *matCellDef="let element" style="text-align: center">
                    <mat-select class="activation-form" [(ngModel)]="element.userPlan[0].Plan_Id" (selectionChange)="checkFare(element)">
                        <mat-option *ngFor="let plan of plans" [value]="plan.id">{{ plan.name }}</mat-option>
                    </mat-select>
                </td>
            </ng-container>

            <ng-container matColumnDef="columnMembershipFare">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Membership Fare</th>
                <td mat-cell *matCellDef="let element" style="text-align: center">
                    <mat-select class="activation-form" [(ngModel)]="element.userPlan[0].Fare_Id" (selectionChange)="addToJson(element)">
                        <mat-option *ngFor="let fare of element.auxplans" [value]="fare.id">{{ fare.periodicity }}</mat-option>
                    </mat-select>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator style="width: 100%; max-width: 2000px" class="activation-form" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</mat-card>
</div>