<div class="msf-dashboard-control-variables-title">
  <div class="msf-dashboard-control-variables-close-button">
    <mat-icon class="msf-dashboard-close-icon" aria-label="close" (click)="closeDialog()">close</mat-icon>
  </div>
  Add Shared Panel
</div>
<div class="msf-dashboard-panel-container" id="msf-dashboard-drill-down-container">
  <div class="msf-dashboard-panel-sub-container-column">
    <div class="msf-dashboard-panel-sub-container-column" id="msf-add-shared-dashboard-content" *ngIf="data.dashboards.length">
      <mat-radio-group [(ngModel)]="selectedDashboard" style="flex-direction: column; display: flex">
        <mat-radio-button style="margin: 10px;" class="cancels-checkbox" *ngFor="let dashboard of data.dashboards" [value]="dashboard">
          {{dashboard.title}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="msf-dashboard-panel-sub-container-column" id="msf-add-shared-dashboard-content-empty" *ngIf="!data.dashboards.length" style="height: 200px">
      <div class="msf-no-results">
        You don't have added any dashboards
      </div>
    </div>
  </div>
</div>
<div class="msf-dashboard-control-variables-button">
  <button [disabled]="!selectedDashboard" mat-flat-button [ngClass]="selectedDashboard ? 'flat-button' : 'flat-share-button-disabled'" (click)="addPanel()">OK</button>
  <span class="button-separator"></span>
  <button mat-flat-button class="flat-button" (click)="closeDialog()">Cancel</button>
</div>