<div class="center" *ngIf="argument.title || isDashboardPanel">
    <div class="msf-component-airport-title">
        {{argument.title}}
        <button mat-icon-button *ngIf="isDashboardPanel" [ngClass]="{ 'msf-anchor-button': !argument.anchored, 'msf-anchor-button-pressed': argument.anchored }"
            matTooltip="Anchor Argument Into Panel" (click)="argument.anchored = !argument.anchored">
            <div class="anchor-icon"></div>
        </button>
    </div>
</div>
<div class="msf-component-date-input-container">
    <mat-form-field class="msf-full-width">
        <input matInput placeholder="{{argument.label1}}" autocomplete="off" [(ngModel)]="argument.value1">
    </mat-form-field>
</div>