<ng-container *ngIf="controlPanelOpen">
  <div *ngIf="!addVariableMenu && !controlVariables.length" class="msf-dashboard-control-panel-container">
    <button mat-flat-button (click)="addVariable()" class="flat-button msf-dashboard-control-panel-button">
      <mat-icon aria-label="Add Variable">add</mat-icon>
      Add Variable
    </button>
  </div>
  <div *ngIf="!addVariableMenu && controlVariables.length" class="msf-dashboard-control-panel-container">
    <!--
    <button mat-flat-button (click)="addVariable()" class="flat-button msf-dashboard-control-panel-button">
      <mat-icon aria-label="Add Variable">add</mat-icon>
      Add Variable
    </button>
    -->
  </div>
  <div *ngIf="addVariableMenu" class="msf-dashboard-control-panel-container">
    <div class="msf-dashboard-control-panel-variable-container">
      <ng-container *ngFor="let controlVariable of controlVariablesAvailable">
        <ng-container *ngIf="!controlVariable.added">
          <div *ngIf="!controlVariable.selected" class="msf-dashboard-control-panel-variable" (mouseover)="controlVariable.hover = true" (mouseleave)="controlVariable.hover = false" (click)="checkControlVariable(controlVariable)">
            <mat-icon *ngIf="controlVariable.icon && isMatIcon(controlVariable.icon)" class="msf-menu-image-border msf-vertical-middle msf-menu-mat-icon msf-dashboard-control-panel-variable-icon">{{controlVariable.icon}}</mat-icon>
            <div *ngIf="controlVariable.icon && !isMatIcon(controlVariable.icon)" [style.background-image]="getImageIcon(controlVariable)" class="msf-menu-image-border msf-vertical-middle msf-dashboard-control-panel-variable-icon"></div>
            <span class="msf-menu-component-text msf-control-variables-text msf-dashboard-control-panel-variable-label">{{controlVariable.label}}</span>
          </div>
          <div *ngIf="controlVariable.selected" class="msf-dashboard-control-panel-variable-selected" (click)="uncheckControlVariable(controlVariable)">
            <mat-icon class="msf-menu-image-border msf-vertical-middle msf-menu-mat-icon msf-dashboard-control-panel-variable-icon">check</mat-icon>
            <span class="msf-menu-component-text msf-control-variables-text msf-dashboard-control-panel-variable-label">{{controlVariable.label}}</span>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <button [disabled]="!numControlVariablesSelected" mat-flat-button (click)="addControlVariables()" [ngClass]="numControlVariablesSelected ? 'flat-button' : 'flat-button-disabled'" class="msf-dashboard-control-panel-button">
      OK
    </button>
    <button mat-flat-button (click)="cancelAddVariable()" class="flat-button msf-dashboard-control-panel-button">
      Cancel
    </button>
  </div>
</ng-container>