<button mat-button [disabled]="true" class="msf-menu-op-2" style="padding: 0px  7px !important;">
  Home
</button>
<button mat-button [disabled]="true" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  System Status
</button>
<button mat-button (click)="setOption.emit(2)" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  Datalake Explorer
</button>
<button mat-button (click)="setOption.emit(3)" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  Query Engine
</button>
<button mat-button (click)="createTable()" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  Data Ingestion
</button>
<button mat-button (click)="setOption.emit(5)" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  Alarms
</button>
<button mat-button (click)="setOption.emit(6)" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  Partition Manager
</button>
<button mat-button (click)="setOption.emit(7)" class="msf-menu-op-3" style="padding: 0px  7px !important;">
  Management
</button>