<button mat-button class="msf-menu-op-2" (click)="setOptionSelect(0)" 
[ngClass]="globals.optionDatalakeSelected === 0 ? 'msf-menu-op-1-selected': 'msf-menu-op-1'"
style="padding: 0px  7px !important;">
  Home
</button>
<!-- <button mat-button [disabled]="true" class="msf-menu-op-1" style="padding: 0px  7px !important;">System Status</button> -->
<button [disabled]="OptionDisable('System Status')" mat-button 
[ngClass]="globals.optionDatalakeSelected === 1 ? 'msf-menu-op-1-selected': 'msf-menu-op-1'"
    [matMenuTriggerFor]="dashboardMenu" style="padding: 0px 7px !important;">System Status</button>
    <mat-menu #dashboardMenu="matMenu">
      <ng-container *ngFor="let dashboardCategory of dashboardCategories">
          <ng-container *ngIf="checkDashboardCategory(dashboardCategory)">
              <button mat-menu-item [matMenuTriggerFor]="child.childMenu">
                {{dashboardCategory.title}}
              </button>
              <app-menu-dashboard #child [dashboardCategory]="dashboardCategory" (setDashboard)="setDashboard($event)"></app-menu-dashboard>
          </ng-container>
      </ng-container>
      <ng-container *ngIf="!globals.readOnlyDashboardPlan">
          <button mat-menu-item *ngFor="let dashboard of dashboards" (click)="goToDashboard(dashboard, false)">
              {{dashboard.title}}
          </button>
      </ng-container>
      <button mat-menu-item *ngFor="let dashboard of sharedDashboards" (click)="goToDashboard(dashboardMenuId, true)">
          {{dashboard.dashboardMenuId.title}} (Read only)
      </button>
      <button mat-menu-item (click)="checkSharedItems()">Shared with me</button >
      <button mat-menu-item [disabled]="actionDisable('Create Dashboard')" *ngIf="!globals.readOnlyDashboardPlan" (click)="addDashboard()">Add dashboard</button>
  </mat-menu>

<button mat-button 
[disabled]="OptionDisable('Datalake Explorer')"
(click)="setOptionSelect(2)"
[ngClass]="globals.optionDatalakeSelected === 2 ? 'msf-menu-op-1-selected': 'msf-menu-op-1'"  style="padding: 0px  7px !important;">
  Datalake Explorer
</button>
<button mat-button 
[disabled]="OptionDisable('Query Engine')"
(click)="setOptionSelect(3)" 
[ngClass]="globals.optionDatalakeSelected === 3 ? 'msf-menu-op-1-selected': 'msf-menu-op-1'"
  style="padding: 0px  7px !important;">
  Query Engine
</button>
<!-- [disabled]="OptionDisable('Data Ingestion')" -->
<button mat-button 
[disabled]="actionDisable('Data Upload')"
  (click)="createTable()" class="msf-menu-op-1" style="padding: 0px  7px !important;">
  Data Ingestion
</button>
<button mat-button 
[disabled]="OptionDisable('Alarms')"
(click)="setOptionSelect(5)"
[ngClass]="globals.optionDatalakeSelected === 5 ? 'msf-menu-op-1-selected': 'msf-menu-op-1'" style="padding: 0px  7px !important;">
  Alarms
</button>
<button mat-button class="msf-menu-op-3"
[disabled]="OptionDisable('Partitions')"
(click)="setOptionSelect(6)"
[ngClass]="globals.optionDatalakeSelected === 6 ? 'msf-menu-op-1-selected': 'msf-menu-op-1'"  
style="padding: 0px  7px !important;">
  Partition Manager
</button>
<!-- <button mat-button [disabled]="true" class="msf-menu-op-3" style="padding: 0px  7px !important;">
  Management
</button> -->