<div class="msf-dashboard-panel-context-menu" [style.left.px]="getXPosition()" [style.top.px]="getYPosition()">
  <div id="msf-dashboard-panel-context-menu-container">
    <div class="msf-dashboard-panel-context-menu-bounds"></div>
    <button class="msf-dashboard-panel-context-menu-item" mat-menu-item>
      <span>This is a context menu</span>
    </button>
    <button class="msf-dashboard-panel-context-menu-item" mat-menu-item>
      <span>clicked from a chart</span>
    </button>
    <button class="msf-dashboard-panel-context-menu-item" mat-menu-item>
      <span>object</span>
    </button>
    <div class="msf-dashboard-panel-context-menu-bounds"></div>
  </div>
</div>