<div class="dyntable-search-title">
  <img src="../../assets/images/dark-theme-search-filter.png">
  <span class="dyntable-search-title-label">Search Filters</span>
  <div class="dynamic-table-header-buttons">
    <button mat-flat-button class="flat-button" (click)="startFilteredQuery()">
      Search
    </button>
    <button mat-icon-button class="dyntable-close-button" (click)="removeDynTableFilter.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="dyntable-search-filters">
  <div class="dyntable-item" *ngFor="let dynTableValue of dynTableValues">
    <div class="dyntable-search-input">
      <div class="dyntable-input">
        <input matInput [(ngModel)]="dynTableValue.searchFilter" placeholder="{{dynTableValue.name}}" autocomplete="off"/>
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <div class="dyntable-item-list">
      <div class="filter-select-all-checkbox">
        <mat-checkbox [checked]="dynTableValue.onlySelected" (click)="dynTableValue.onlySelected = !dynTableValue.onlySelected">
          Only Selected
        </mat-checkbox>
      </div>
      <div class="filter-select-all-checkbox">
        <mat-checkbox [checked]="dynTableValue.selectAll" (click)="selectAllValues(dynTableValue)">
          Select All
        </mat-checkbox>
      </div>
      <mat-selection-list (selectionChange)="selectedValueChange(dynTableValue)">
        <ng-container *ngFor="let value of dynTableValue.values | searchFilter: dynTableValue.searchFilter">
          <mat-list-option *ngIf="(value.selected && dynTableValue.onlySelected) || !dynTableValue.onlySelected" [checkboxPosition]="'before'" [selected]="value.selected" [value]="value.name" (click)="toggleFilterValue(dynTableValue, value)">
            {{value.name}}
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
    </div>
    <!--
    <div class="dyntable-search-footer" (click)="toggleValueFilters(dynTableValue)">
      <span class="value-filter-label">Value Filters</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </div>
    <div class="dyntable-filter-menu" *ngIf="dynTableValue.valueFiltersMenu">
      <div class="dyntable-filter-menu-item">Equals...</div>
      <div class="dyntable-filter-menu-item">Does Not Equal...</div>
      <hr>
      <div class="dyntable-filter-menu-item">Greater Than...</div>
      <div class="dyntable-filter-menu-item">Greater Than Or Equal To...</div>
      <div class="dyntable-filter-menu-item">Less Than...</div>
      <div class="dyntable-filter-menu-item">Less Than Or Equal To...</div>
      <hr>
      <div class="dyntable-filter-menu-item">Between...</div>
      <div class="dyntable-filter-menu-item">Not Between...</div>
      <hr>
      <div class="dyntable-filter-menu-item">Top 10...</div>
    </div>
    -->
  </div>
</div>
