<div class="msf-register-header">
    <img  class="msf-medium-logo" src="../../assets/images/logo.png" > 
    <div class="msf-register-header-content">
        <div class="msf-register-header-title">
            <div class="msf-register-header-title-content"> USER REGISTRATION</div>
            <div class="msf-register-header-little-title">{{title}}</div>
        </div>
        
        <div class="msf-register-header-image-content">
            <img  class="medium-user-image" src="../../assets/images/icon-user-white.png" >
        </div>
    </div>
</div>

<mat-card class="msf-register-card msf-center-container">
  <mat-card-header>
       
  </mat-card-header>
  
  <mat-card-content >
        <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="selectionChange($event)">
          <mat-step>
            <form name="register">
                  <ng-template matStepLabel>PERSONAL INFORMATION</ng-template>                         
                  <ul class="msf-register-list-aux">
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="text" placeholder="Name" class="input-register" [formControl]="nameValidator" name="name" [(ngModel)]="user.name"/>         
                              <mat-error *ngIf="nameValidator.invalid">{{getErrorNameMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="text" placeholder="Last Name" class="input-register" [formControl]="lastNameValidator" name="lastName" [(ngModel)]="user.lastname"/>         
                              <mat-error *ngIf="lastNameValidator.invalid">{{getErrorLastNameMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="password" placeholder="Password" class="input-register" [formControl]="passwordValidator" name="password" [(ngModel)]="user.password"/>         
                              <mat-error *ngIf="passwordValidator.invalid">{{getErrorPasswordMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="password" placeholder="Repeat Password" class="input-register" [formControl]="repeatPasswordValidator" name="repeatPassword" [(ngModel)]="user.repeatPassword"/>         
                              <mat-error *ngIf="repeatPasswordValidator.invalid">{{getErrorRepeatPasswordMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="email" placeholder="E-mail" class="input-register" [formControl]="emailValidator" name="email" [(ngModel)]="user.email"/>                                       
                              <mat-error *ngIf="emailValidator.hasError('email') && !emailValidator.hasError('required')">
                                  {{getErrorFormatEmailMessage()}}
                              </mat-error>
                              <mat-error *ngIf="emailValidator.hasError('required')">
                                 {{getErrorEmailMessage()}} 
                              </mat-error>
                          </mat-form-field>
                      </li>
                  </ul>    
                  <ul class="msf-register-list">
                      
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="text" placeholder="Address" class="input-register" [formControl]="addressValidator" name="Address" [(ngModel)]="user.address"/>         
                              <mat-error *ngIf="addressValidator.invalid">{{getErrorAddressMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                      <li class="msf-select">                                                                                                                              
                          <!--<mat-form-field class="msf-item">
                            <mat-select placeholder="Country" autocomplete="off" class="input-register" [formControl]="countryValidator" name="country" [(ngModel)]="user.country" required>
                              <mat-option>--</mat-option>
                              <mat-option *ngFor="let country of countries" [value]="country">
                                {{country.name}}
                              </mat-option>
                            </mat-select>
                          
                            <mat-error *ngIf="countryValidator.invalid">{{getErrorCountryMessage()}}</mat-error>
                            <mat-hint>{{countryValidator.value?.code}}</mat-hint>
                          </mat-form-field>-->
                          
                          <ng-select [items]="countries"
                                      bindLabel="name"
                                      bindValue="name"
                                      placeholder="Country" matInput autocomplete="off" class="msf-select-input msf-imput" [formControl]="countryValidator" name="country" [(ngModel)]="user.country" required>
                          </ng-select>                          
                      </li>
                      <li class="msf-select">                                                                                                                              
                          <!--<mat-form-field class="msf-item">
                            <mat-select placeholder="State" autocomplete="off" class="input-register" [formControl]="stateValidator" name="state" [(ngModel)]="user.state" required>
                              <mat-option>--</mat-option>
                              <mat-option *ngFor="let state of states" [value]="state">
                                {{state.name}}
                              </mat-option>
                            </mat-select>
                            <mat-error *ngIf="stateValidator.invalid">{{getErrorStateMessage()}}</mat-error>
                            <mat-hint>{{stateValidator.value?.code}}</mat-hint>
                          </mat-form-field>-->
                          <ng-select [items]="states"
                                      bindLabel="name"
                                      bindValue="name"
                                      placeholder="State" matInput autocomplete="off" class="msf-select-input msf-imput" [formControl]="stateValidator" name="state" [(ngModel)]="user.state" required>
                          </ng-select>
                      </li>
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="text" placeholder="Postal Code" class="input-register" [formControl]="postalCodeValidator" name="postalCode" [(ngModel)]="user.postalCode"/>         
                              <mat-error *ngIf="postalCodeValidator.invalid">{{getErrorPostalCodeMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                      <li>                                                                                                     
                          <mat-form-field class="msf-item">
                              <input  matInput autocomplete="off" type="text"  mask="(000) 000-0000" placeholder="Phone Number" class="input-register" [formControl]="phoneNumberValidator" name="phoneNumber" [(ngModel)]="user.phoneNumber"/>         
                              <mat-error *ngIf="phoneNumberValidator.invalid">{{getErrorPhoneNumberMessage()}}</mat-error>
                          </mat-form-field>
                      </li>
                  </ul>  
                  <div>
                    <button mat-button matStepperNext class="msf-big-button" (click)="insertUser()" >Next</button>
                  </div>                              
            </form>
          </mat-step>
          <mat-step>
            <form name="plan">
                <ng-template matStepLabel>MEMBERSHIP PLAN</ng-template>
                <div class="msf-medium-title-centered">SELECT YOUR PLAN</div>
                <div class="msf-inline msf-large-container msf-card-container">
                    
                        <mat-card class="msf-plan-card" *ngFor="let plan of plans">
                            <mat-card-content class= "msf-plan-card-content">
                                <div class="msf-medium-title-centered">{{plan.name}}</div>
                                <div class="msf-features-container">
                                    <div style="width:25%"></div>
                                    <ul>
                                        <li *ngFor= "let feature of plan.features">
                                            <div class="msf-feature-name"> {{feature.features}}</div>
                                            <div class="msf-feature-description"> {{getOptionsText(feature.options)}} </div>
                                        </li>
                                    </ul>
                                    <div style="width:20%"></div>
                                </div>
                            </mat-card-content>
                            <mat-card-footer>
                                <div class="msf-prices-container" *ngFor="let price of plan.fares">
                                    <label for="price_{{price}}">
                                        <input id="price_{{plan.name}}_{{price.id}}" [value]='plan.name+price.id' type="radio" name="prices" [(ngModel)]="user.pricesSelected">
                                            <div class="msf-price-value">{{price.fare | currency:'USD':' $ ':'1.0-0'}}<p>/{{getPeriodicityText(price.periodicity)}}</p></div>
                                            <div class="msf-price-description">{{getMonthlyValue(price.fare,price.periodicity) | currency:'USD':'symbol':'1.0-0'}} every month</div>
                                    </label>
                                </div>
                            </mat-card-footer>
                        </mat-card>
                   
                </div>

              <div>
                <button mat-button matStepperPrevious class="msf-big-button" >Back</button>
                <button mat-button matStepperNext class="msf-big-button" >Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>PAYMENT METHOD</ng-template>
           <!-- <div class="center">-->
                <div class="msf-inline msf-medium-container msf-margin-right-5">
                    <div class="msf-medium-title">Select Payment Method</div>
                    <div class="msf-payment-container">
                        <mat-radio-group class="example-radio-group" [(ngModel)]="user.payment.paymentType">
                            <div class="msf-payment-logo-container msf-inline">
                                <img src="../../assets/images/visa_master.png" class="msf-img-payment">
                                <mat-radio-button  class="msf-radio-button"  [value]="1"></mat-radio-button>
                            </div>
                            <div class="msf-payment-logo-container msf-inline">
                                <img src="../../assets/images/pay_pal.png" class="msf-img-payment">
                                <mat-radio-button  class="msf-radio-button"  [value]="2"></mat-radio-button>
                            </div>                                                    
                        </mat-radio-group>                                         
                    </div>
                    <form name="payment">                                               
                      <ul class="msf-register-list-big">
                          <li>                     
                              <img src="../../assets/images/no_tarjeta.png" class="msf-icon">                                                                                                
                              <mat-form-field class="msf-input-icon msf-item">                                  
                                  <input  matInput autocomplete="off" type="text"  mask="0000 - 0000 - 0000 - 0000" placeholder="card number" class="msf-imput" [formControl]="cardNumberValidator" name="cardNumber" [(ngModel)]="user.payment.cardNumber"/>         
                                  <mat-error *ngIf="cardNumberValidator.invalid">{{getErrorCardNumberMessage()}}</mat-error>                                  
                              </mat-form-field>
                          </li>  
                          <li>    
                             <div class="msf-input-prompt">
                                Expiry Date
                             </div>                                                                                                                 
                              <mat-form-field class="msf-input-prompt-field msf-item">                                   
                                  <!--<input matInput [matDatepicker]="picker" autocomplete="off" type="text"    placeholder="MM    /  YY" class="msf-imput" [formControl]="expiryDateValidator" name="expiryDate" [(ngModel)]="user.payment.expiryDate"/>         
                                  <mat-error *ngIf="expiryDateValidator.invalid">{{getErrorExpiryDateMessage()}}</mat-error>                                  
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker
                                                  startView="multi-year"
                                                  (yearSelected)="chosenYearHandler($event)"
                                                  (monthSelected)="chosenMonthHandler($event, dp)"
                                                  panelClass="example-month-picker">
                                  </mat-datepicker>
                                -->
                                  <input  matInput autocomplete="off" type="text"  mask="99/99" placeholder="MM   /  YY" class="msf-imput" [formControl]="expiryDateValidator" name="expiryDate" [(ngModel)]="user.payment.expiryDate"/>                             
                                  <!--<input  matInput autocomplete="off" type="text"  [matDatepicker]="picker"  placeholder="MM    /  YY" class="msf-imput" [formControl]="expiryDateValidator" name="expiryDate" [(ngModel)]="user.payment.expiryDate"/>         
                                  <mat-error *ngIf="expiryDateValidator.invalid">{{getErrorExpiryDateMessage()}}</mat-error>                                  
                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                  <mat-datepicker #picker></mat-datepicker>-->                                 
                              </mat-form-field>
                          </li> 
                          <li>        
                              <img src="../../assets/images/cvv.png" class="msf-icon"> 
                              <div class="msf-input-prompt-litle">
                                  CVV
                               </div>                                                                                                               
                              <mat-form-field class="msf-input-icon-text msf-item">                                  
                                  <input  matInput autocomplete="off" maxlength="3" type="password"  class="msf-imput" [formControl]="cvvValidator" name="cvv" [(ngModel)]="user.payment.cvv"/>         
                                  <mat-error *ngIf="cvvValidator.invalid">{{getErrorCvvMessage()}}</mat-error>                                  
                              </mat-form-field>
                          </li>                               
                      </ul>                                                           
                    </form>
                </div>
                <div class="msf-inline msf-medium-container">
                  <div class="msf-medium-title">Billing Details Save</div>
                  <div class="register-card">
                    <div class="msf-row-info">{{user.name}} {{user.lastname}}</div>
                    <div class="msf-row-info">{{user.email}}</div>
                    <div class="msf-row-info">{{user.address}}</div>
                    <div class="msf-row-info">{{user.state}}</div>
                    <div class="msf-row-info">{{user.country}}</div>
                    <button mat-button (click)="stepper.reset()" class="msf-medium-button" >Edit</button>
                  </div>
                </div>
                <div>
                    <button mat-button matStepperPrevious class="msf-big-button" >Back</button>                    
                </div>
           <!-- </div> -->
          </mat-step>
        </mat-horizontal-stepper>
  </mat-card-content>
 
</mat-card>
