<div class="admin-menu-background" [style.height.px]="getInnerHeight()">
    <div class="msf-register-header">
        <img class="msf-medium-logo" src="../../assets/images/{{globals.theme}}-logo.png">
        <div class="msf-register-header-content">
            <div class="msf-register-header-title">
                <div class="msf-register-header-title-content">USER REGISTRATION</div>
                <div class="msf-register-header-little-title">{{title}}</div>
            </div>
            <div class="msf-register-header-image-content">
                <img class="medium-user-image" src="../../assets/images/{{globals.theme}}-icon-user.png">
            </div>
        </div>
    </div>
    <mat-card class="msf-register-card msf-center-container">
        <mat-card-header>
            <app-notification [show]="utils.notificationShow" [message]="utils.notificationMessage" [type]="utils.notificationType"></app-notification>
        </mat-card-header>
        <mat-card-content>
            <div class="register-step-header">
                <form name="register">
                    <h2 class="register-step-label">PERSONAL INFORMATION</h2>
                    <ul class="msf-register-list-aux">
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="text" placeholder="Name" class="input-register" formControlName="nameValidator" name="name" [(value)]="user.name" required/>
                                <mat-error *ngIf="personalInformationForm.get('nameValidator')?.invalid">{{getErrorNameMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="text" placeholder="Last Name" class="input-register" formControlName="lastNameValidator" name="lastName" [(value)]="user.lastname" />
                                <mat-error *ngIf="personalInformationForm.get('lastNameValidator')?.invalid">{{getErrorLastNameMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="password" placeholder="Password" class="input-register" formControlName="passwordValidator" name="password" [(value)]="user.password" />
                                <mat-error *ngIf="personalInformationForm.get('passwordValidator')?.invalid">{{getErrorPasswordMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="password" placeholder="Repeat Password" class="input-register" formControlName="repeatPasswordValidator" name="repeatPassword" [(value)]="user.repeatPassword" />
                                <mat-error *ngIf="personalInformationForm.get('repeatPasswordValidator')?.invalid">{{getErrorRepeatPasswordMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input (change)="checkEmailValidator($event.target.value)" matInput autocomplete="off" type="email" placeholder="E-mail" class="input-register" formControlName="emailValidator" name="email" [(value)]="user.email" />
                                <mat-error *ngIf="personalInformationForm.get('emailValidator')?.hasError('email') && !personalInformationForm.get('emailValidator')?.hasError('required')">
                                    {{getErrorFormatEmailMessage()}}
                                </mat-error>
                                <mat-error *ngIf="personalInformationForm.get('emailValidator')?.hasError('required')">
                                    {{getErrorEmailMessage()}}
                                </mat-error>
                                <mat-error *ngIf="personalInformationForm.get('emailValidator')?.hasError('exists')">
                                    {{getErrorEmaiExistlMessage()}}
                                </mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="text" placeholder="Customer" class="input-register" formControlName="customerValidator" name="name" [(value)]="user.customerInfo" required/>
                                <mat-error *ngIf="personalInformationForm.get('customerValidator')?.invalid">{{getErrorCustomerMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                    </ul>
                    <ul class="msf-register-list">
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="text" placeholder="Address" class="input-register" formControlName="addressValidator" name="Address" [(value)]="user.address" />
                                <mat-error *ngIf="personalInformationForm.get('addressValidator')?.invalid">{{getErrorAddressMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <mat-select placeholder="Country" autocomplete="off" class="input-register" formControlName="countryValidator" [(value)]="user.country" (selectionChange)="CountryChangeEvent($event)" name="country" required>
                                    <ngx-mat-select-search [formControl]="countryFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                                    <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                                        {{country.fullName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personalInformationForm.get('countryValidator')?.invalid">{{getErrorCountryMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <mat-select placeholder="State" autocomplete="off" class="input-register" formControlName="stateValidator" name="state">
                                    <ngx-mat-select-search [formControl]="stateFilterCtrl" placeholderLabel="Search" noEntriesFoundLabel="Not Found"></ngx-mat-select-search>
                                    <mat-option *ngFor="let state of filteredStates | async" [value]="state">
                                        {{state.fullName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="personalInformationForm.get('stateValidator')?.invalid">{{getErrorStateMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="text" placeholder="Postal Code" class="input-register" formControlName="postalCodeValidator" name="postalCode" [(value)]="user.postalCode" />
                                <mat-error *ngIf="personalInformationForm.get('postalCodeValidator')?.invalid">{{getErrorPostalCodeMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                        <li>
                            <mat-form-field [formGroup]="personalInformationForm" class="msf-item">
                                <input matInput autocomplete="off" type="text" mask="(000) 000-0000" placeholder="Phone Number" class="input-register" formControlName="phoneNumberValidator" name="phoneNumber" [(value)]="user.phoneNumber" />
                                <mat-error *ngIf="personalInformationForm.get('phoneNumberValidator')?.invalid">{{getErrorPhoneNumberMessage()}}</mat-error>
                            </mat-form-field>
                        </li>
                    </ul>
                    <div>
                        <button mat-button (click)="insertUser()" class="msf-big-button">Save</button>
                    </div>
                </form>
            </div>
        </mat-card-content>
    </mat-card>
</div>