.msf-select {
    margin-left: 0px;
}

.mat-select {
    height: 34px;
}

.input-register {
    width: 100% !important;
}

.register-step-header {
    color: #ffffff;
    text-align: center;
}

.mat-select-trigger {
    padding-top: 10px;
    padding-left: 30px;
}

.myInput {
    height: 50px !important;
    padding: 10px !important;
}

.mat-step-label .register-step-label {
    color: rgba(255,255,255,0.15);
}

.mat-step-label-selected .register-step-label {
    color: #ffffff !important;
}